Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-mpsidx-dev-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-mpsidx-dev-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "properties": {
                "data": {
                  "type": "object"
                },
                "dataVersion": {
                  "type": "string"
                },
                "eventTime": {
                  "type": "string"
                },
                "eventType": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "metadataVersion": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "topic": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Get_Search_API_Key": {
          "runAfter": {
            "Initialize_ProductsArray_Array": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Azure-Search-Key')}/value"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "Initialize_EventData_Object": {
          "runAfter": {
            "Initialize_EventType_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventData",
                "type": "object",
                "value": "@variables('Event').data"
              }
            ]
          }
        },
        "Initialize_EventType_String": {
          "runAfter": {
            "Initialize_Event_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventType",
                "type": "string",
                "value": "@{variables('Event').eventType}"
              }
            ]
          }
        },
        "Initialize_Event_Object": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Event",
                "type": "object",
                "value": "@triggerBody()"
              }
            ]
          }
        },
        "Initialize_ProductsArray_Array": {
          "runAfter": {
            "Initialize_TempBody_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ProductsArray",
                "type": "array"
              }
            ]
          }
        },
        "Initialize_TempBody_Object": {
          "runAfter": {
            "Initialize_EventData_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TempBody",
                "type": "object"
              }
            ]
          }
        },
        "Perform_action_as_per_eventtype": {
          "actions": {
            "Parse_Product_JSON": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('EventData')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "imageUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "longDescription": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "modifiedOn": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "productPrice": {
                      "type": "integer"
                    },
                    "providerName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "rating": {
                      "type": "number"
                    },
                    "shortDescription": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Parse_Product_JSON_AR": {
              "runAfter": {
                "Send_Product_Details_to_Azure_Search": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('EventData').localizedValues",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "longDescription": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "modifiedOn": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "productPrice": {
                      "type": "integer"
                    },
                    "providerName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "rating": {
                      "type": "number"
                    },
                    "shortDescription": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Select_Product_Details": {
              "runAfter": {
                "Parse_Product_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(body('Parse_Product_JSON'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(body('Parse_Product_JSON')?['rating'],'')",
                  "entity_type": "Products&Services",
                  "id": "@body('Parse_Product_JSON')?['id']",
                  "merged_content": "@concat(body('Parse_Product_JSON')?['longDescription'],body('Parse_Product_JSON')?['shortDescription'])",
                  "metadata_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_name": "@body('Parse_Product_JSON')?['name']",
                  "price": "@concat(body('Parse_Product_JSON')?['productPrice'],'')",
                  "provider_name": "@body('Parse_Product_JSON')?['providerName']",
                  "search_id": "@concat('ProductsServices-',body('Parse_Product_JSON')['id'])",
                  "short_description": "@body('Parse_Product_JSON')?['shortDescription']",
                  "thumbnail_url": "@body('Parse_Product_JSON')?['imageUrl']"
                }
              }
            },
            "Select_Product_Details_AR": {
              "runAfter": {
                "Set_TempBody_Variable_Product": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(variables('TempBody'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(variables('TempBody')?['rating'],'')",
                  "entity_type": "Products&Services",
                  "id": "@variables('TempBody').value?['id']",
                  "merged_content": "@concat(variables('TempBody')?['longDescription'],variables('TempBody')?['shortDescription'])",
                  "metadata_last_modified": "@variables('TempBody')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@variables('TempBody')?['modifiedOn']",
                  "metadata_storage_name": "@variables('TempBody')?['name']",
                  "price": "@concat(variables('TempBody')?['productPrice'],'')",
                  "provider_name": "@variables('TempBody')?['providerName']",
                  "search_id": "@concat('ProductsServicesAr-',variables('TempBody').value['id'])",
                  "short_description": "@variables('TempBody')?['shortDescription']",
                  "thumbnail_url": "@variables('TempBody')?['imageUrl']"
                }
              }
            },
            "Send_Product_Details_to_Azure_Search": {
              "runAfter": {
                "Select_Product_Details": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details')"
                },
                "headers": {
                  "api-key": "@body('Get_Search_API_Key')?['value']",
                  "content-type": "application/json"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            },
            "Send_Product_Details_to_Azure_Search_AR": {
              "runAfter": {
                "Select_Product_Details_AR": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details_AR')"
                },
                "headers": {
                  "api-key": "@body('Get_Search_API_Key')?['value']",
                  "content-type": "application/json"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            },
            "Set_TempBody_Variable_Product": {
              "runAfter": {
                "Parse_Product_JSON_AR": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "TempBody",
                "value": {
                  "id": "empty",
                  "value": "@body('Parse_Product_JSON_AR')['ar']"
                }
              }
            }
          },
          "runAfter": {
            "Get_Search_API_Key": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition": {
                "actions": {
                  "For_each": {
                    "foreach": "@array(body('Parse_KB_JSON').value?['relatedProducts'])",
                    "actions": {
                      "Append_to_array_variable": {
                        "runAfter": {
                          "Select": [
                            "Succeeded"
                          ]
                        },
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "ProductsArray",
                          "value": "@json(string(body('Select')[0]))"
                        }
                      },
                      "Select": {
                        "runAfter": {},
                        "type": "Select",
                        "inputs": {
                          "from": "@array(json(string(items('For_each'))))",
                          "select": {
                            "catalogueId": "@json(string(items('For_each'))).catalogueId",
                            "category": "@json(string(items('For_each'))).productCategoryName",
                            "sectors": "@json(string(items('For_each'))).sectorNames"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_KB_JSON": [
                        "Succeeded"
                      ]
                    },
                    "type": "Foreach"
                  },
                  "Parse_KB_JSON": {
                    "runAfter": {},
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@variables('EventData')",
                      "schema": {
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "relatedProducts": {
                            "type": "array"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "Select_KB_Details": {
                    "runAfter": {
                      "For_each": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@createArray(body('Parse_KB_JSON'))",
                      "select": {
                        "@@search.action": "mergeOrUpload",
                        "average_rating": "@body('Parse_KB_JSON')?['rating']",
                        "content": "@body('Parse_KB_JSON')?['content']",
                        "entity_type": "KbArticle",
                        "id": "@body('Parse_KB_JSON')?['id']",
                        "merged_content": "@concat(body('Parse_KB_JSON')?['content'],body('Parse_KB_JSON')?['description'])",
                        "metadata_creation_date": "@utcNow()",
                        "metadata_last_modified": "@utcNow()",
                        "metadata_storage_file_extension": "JSON",
                        "metadata_storage_last_modified": "@utcNow()",
                        "metadata_storage_name": "@body('Parse_KB_JSON')?['title']",
                        "products": "@variables('ProductsArray')",
                        "search_id": "@concat('KbArticle-',body('Parse_KB_JSON')['id'])",
                        "short_description": "@body('Parse_KB_JSON')?['description']"
                      }
                    }
                  },
                  "Send_KB_Details_to_Azure_Search": {
                    "runAfter": {
                      "Select_KB_Details": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "body": {
                        "value": "@body('Select_KB_Details')"
                      },
                      "headers": {
                        "api-key": "@body('Get_Search_API_Key')?['value']",
                        "content-type": "application/json"
                      },
                      "method": "POST",
                      "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Parse_News_JSON": {
                      "runAfter": {},
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('EventData')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "longDescription": {
                              "type": "string"
                            },
                            "modified": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string"
                            },
                            "shortDescription": {
                              "type": "string"
                            },
                            "thumbnailImage": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Parse_News_JSON_AR": {
                      "runAfter": {
                        "Send_News_Details_to_Azure_Search": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('EventData').localizedValues",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "longDescription": {
                              "type": "string"
                            },
                            "modified": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string"
                            },
                            "shortDescription": {
                              "type": "string"
                            },
                            "thumbnailImage": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select_News_Details": {
                      "runAfter": {
                        "Parse_News_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(body('Parse_News_JSON'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@body('Parse_News_JSON')?['id']",
                          "merged_content": "@concat(body('Parse_News_JSON')?['longDescription'],body('Parse_News_JSON')?['shortDescription'])",
                          "metadata_creation_date": "@body('Parse_News_JSON')?['publishedDate']",
                          "metadata_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_file_extension": "JSON",
                          "metadata_storage_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_name": "@body('Parse_News_JSON')?['title']",
                          "search_id": "@concat('News-',body('Parse_News_JSON')?['id'])",
                          "short_description": "@body('Parse_News_JSON')?['shortDescription']",
                          "thumbnail_url": "@body('Parse_News_JSON')?['thumbnailImage']"
                        }
                      }
                    },
                    "Select_News_Details_AR": {
                      "runAfter": {
                        "Set__TempBody_Variable_News": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(variables('TempBody'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@variables('TempBody').value?['id']",
                          "merged_content": "@concat(variables('TempBody')?['longDescription'],variables('TempBody')?['shortDescription'])",
                          "metadata_creation_date": "@variables('TempBody')?['publishedDate']",
                          "metadata_last_modified": "@variables('TempBody')?['modified']",
                          "metadata_storage_name": "@variables('TempBody')?['title']",
                          "search_id": "@concat('NewsAR-',variables('TempBody').value?['id'])",
                          "short_description": "@variables('TempBody')?['shortDescription']",
                          "thumbnail_url": "@variables('TempBody')?['thumbnailImage']"
                        }
                      }
                    },
                    "Send_News_Details_to_Azure_Search": {
                      "runAfter": {
                        "Select_News_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details')"
                        },
                        "headers": {
                          "api-key": "@body('Get_Search_API_Key')?['value']",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                      }
                    },
                    "Send_News_Details_to_Azure_Search_AR": {
                      "runAfter": {
                        "Select_News_Details_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details_AR')"
                        },
                        "headers": {
                          "api-key": "@body('Get_Search_API_Key')?['value']",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                      }
                    },
                    "Set__TempBody_Variable_News": {
                      "runAfter": {
                        "Parse_News_JSON_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "TempBody",
                        "value": {
                          "id": "empty",
                          "value": "@body('Parse_News_JSON_AR')['ar']"
                        }
                      }
                    }
                  }
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@variables('EventType')",
                        "kbarticle-created"
                      ]
                    },
                    {
                      "equals": [
                        "@variables('EventType')",
                        "kbarticle-updated"
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@variables('EventType')",
                  "product-created"
                ]
              },
              {
                "equals": [
                  "@variables('EventType')",
                  "product-updated"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Response": {
          "runAfter": {
            "Perform_action_as_per_eventtype": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "body": "Event has been processed.",
            "statusCode": 200
          }
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "keyvault": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intkv-dev-we-01",
              "connectionName": "apicon-cpd-apps-intkv-dev-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
          }
        }
      }
    },
    "tags": {
      "value": {
        "Environment": "Development"
      }
    }
  }
}