Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpp-apps-6dhook-prd-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-6dhook-prd-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook",
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "blob-created",
                    "product-created",
                    "product-updated",
                    "product-deleted",
                    "productplanbenefit-created",
                    "productplanbenefit-updated",
                    "productplanbenefit-deleted",
                    "productlifecycle-created",
                    "productlifecycle-updated",
                    "productlifecycle-deleted",
                    "productplantariff-created",
                    "productplantariff-updated",
                    "productplantariff-deleted",
                    "productplancharge-created",
                    "productplancharge-updated",
                    "productplancharge-deleted",
                    "profile-created",
                    "profile-updated",
                    "profile-deleted",
                    "organisation-add",
                    "organisation-created",
                    "organisation-updated",
                    "organisation-deleted"
                  ]
                },
                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-prd-we-01/topics/d365"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-integ-prd-we-01']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpp-apps-6dhook-prd-we-01-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Convert_Message_To_Object": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventMessage",
                "type": "object",
                "value": "@triggerBody()"
              }
            ]
          }
        },
        "Initialize_message_to_be_sent": {
          "runAfter": {
            "Convert_Message_To_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PostMessage",
                "type": "object",
                "value": {
                  "body": "@{base64(variables('EventMessage'))}"
                }
              }
            ]
          }
        },
        "Get_Client_Secret": {
          "runAfter": {
            "Initialize_message_to_be_sent": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('CPCoreApis-ClientSecret')}/value"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "Send_To_6DBilling_API": {
          "runAfter": {
            "Get_Client_Secret": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "body": "@variables('PostMessage')",
            "headers": {
              "Cache-Control": "no-cache",
              "Content-Type": "application/json",
              "event_type": "@{variables('EventMessage').eventType}"
            },
            "authentication": {
              "audience": "https://management.azure.com/",
              "clientId": "c00ce23b-b4cd-4164-9735-3c63381f9441",
              "secret": "@body('Get_Client_Secret')?['value']",
              "tenant": "cd53d24e-70fc-4ebc-9777-7dbfc5648d06",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "POST",
            "uri": "https://api.tasmu.gov.qa/eventmanagement/apiInterface/eventManagement/getEventDetails"
          }
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpp-apps-integ-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integ-prd-we-01",
              "connectionName": "apicon-cpp-apps-integ-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            },
            "keyvault": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intkv-prd-we-01",
              "connectionName": "apicon-cpp-apps-intkv-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
          }
        }
      }
    }
  }
}