Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-route-sbx-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-route-sbx-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "method": "POST",
            "relativePath": "/{EventSubject}",
            "schema": {
              "properties": {
                "message": {
                  "properties": {
                    "EventTime": {
                      "type": "string"
                    },
                    "EventType": {
                      "type": "string"
                    },
                    "Id": {
                      "type": "string"
                    },
                    "Subject": {
                      "type": "string"
                    },
                    "Topic": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Convert_Message_Into_JSON_Object": {
          "runAfter": {
            "Convert_Route_To_LowerCase_Variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InsertedMessage",
                "type": "object",
                "value": "@json(triggerBody())"
              }
            ]
          }
        },
        "Convert_Route_To_LowerCase_Variable": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Route",
                "type": "string",
                "value": "@{concat('events.',toLower(triggerOutputs()['relativePathParameters']['EventSubject']))}"
              }
            ]
          }
        },
        "Create_blob": {
          "runAfter": {
            "Initialize_Folder_Path_for_Event_Archive": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": "@binary(variables('InsertedMessage'))",
            "headers": {
              "Content-Type": "application/json"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intst-sbx-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/default/files",
            "queries": {
              "folderPath": "@variables('BlobFolderPath')",
              "name": "@variables('BlobFileName')",
              "queryParametersSingleEncoded": true
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Initialize_File_Name_for_Event_Archive": {
          "runAfter": {
            "Send_Message_To_Queue": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BlobFileName",
                "type": "string",
                "value": "@{concat(toLower(triggerOutputs()['relativePathParameters']['EventSubject']),'-',utcNow(), '.json')}"
              }
            ]
          }
        },
        "Initialize_Folder_Path_for_Event_Archive": {
          "runAfter": {
            "Initialize_File_Name_for_Event_Archive": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BlobFolderPath",
                "type": "string",
                "value": "@{toLower(triggerOutputs()['relativePathParameters']['EventSubject'])}/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
              }
            ]
          }
        },
        "Response": {
          "runAfter": {
            "Send_Message_To_Queue": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "body": "Message has been inserted in to the @{variables('Route')} queue",
            "statusCode": 200
          }
        },
        "Send_Message_To_Queue": {
          "runAfter": {
            "Convert_Message_Into_JSON_Object": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "ContentData": "@{base64(binary(variables('InsertedMessage')))}",
              "ContentType": "application/json",
              "SessionId": "guid()"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intsb-sbx-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/@{encodeURIComponent(encodeURIComponent(variables('Route')))}/messages",
            "queries": {
              "systemProperties": "None"
            }
          }
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "tags": {
      "value": {
        "Environment": "Sandbox"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpd-apps-intsb-sbx-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-sbx-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intsb-sbx-we-01",
              "connectionName": "apicon-cpd-apps-intsb-sbx-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
            },
            "apicon-cpd-apps-intst-sbx-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-sbx-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intst-sbx-we-01",
              "connectionName": "apicon-cpd-apps-intst-sbx-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
            }
          }
        }
      }
    }
  }
}