Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-prdt-ipam-dev-we-01-parameters.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "workflowName": {
        "value": "logic-cpd-prdt-ipam-dev-we-01"
      },
      "workflowLocation": {
        "value": "westeurope"
      },
      "workflowSchema": {
        "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
      },
      "workflowTriggers": {
        "value": {
          "Recurrence": {
              "recurrence": {
                  "frequency": "Month",
                  "interval": 1,
                  "startTime": "2021-04-01T01:00:00",
                  "timeZone": "Arab Standard Time"
              },
              "type": "Recurrence"
          }
        }
      },
      "workflowActions": {
        "value": {
          "Compose": {
              "runAfter": {
                  "Parse_JSON": [
                      "Succeeded"
                  ]
              },
              "type": "Compose",
              "inputs": "@body('Parse_JSON')"
          },
          "Initialize_FilePath_object": {
              "runAfter": {
                  "Insert_Data_Into_Blob_Storage": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable",
              "inputs": {
                  "variables": [
                      {
                          "name": "FilePath",
                          "type": "string",
                          "value": "@concat('https://',variables('StorageAccountName'),'.blob.core.windows.net',body('Insert_Data_Into_Blob_Storage')?['Path'])"
                      }
                  ]
              }
          },
          "Initialize_StorageAccountName_String": {
              "runAfter": {
                  "Initialize_TodayTime_Variable": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable",
              "inputs": {
                  "variables": [
                      {
                          "name": "StorageAccountName",
                          "type": "string",
                          "value": "stcpdappsapimtdevwe01"
                      }
                  ]
              }
          },
          "Initialize_TodayTime_Variable": {
              "runAfter": {
                  "Compose": [
                      "Succeeded"
                  ]
              },
              "type": "InitializeVariable",
              "inputs": {
                  "variables": [
                      {
                          "name": "TodayTime",
                          "type": "string",
                          "value": "@{utcNow('yyyy-MM-ddTHH:mm:ss')}"
                      }
                  ]
              }
          },
          "Insert_Data_Into_Blob_Storage": {
              "runAfter": {
                  "Initialize_StorageAccountName_String": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection",
              "inputs": {
                  "body": "@outputs('Compose')",
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['azureblob_1']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/datasets/default/files",
                  "queries": {
                      "folderPath": "/apim-cpd-shrd-dev-we-01",
                      "name": "@{concat('ADB2C-Metering-',formatDateTime(utcNow(),'yyyy-MM'))}",
                      "queryParametersSingleEncoded": true
                  }
              },
              "runtimeConfiguration": {
                  "contentTransfer": {
                      "transferMode": "Chunked"
                  }
              }
          },
          "Parse_JSON": {
              "runAfter": {
                  "Run_query_and_list_results": [
                      "Succeeded"
                  ]
              },
              "type": "ParseJson",
              "inputs": {
                  "content": "@body('Run_query_and_list_results')",
                  "schema": {
                      "properties": {
                          "value": {
                              "items": {
                                  "properties": {
                                      "application_id": {
                                          "type": "string"
                                      },
                                      "number_of_active_users": {
                                          "type": "integer"
                                      },
                                      "unit_type": {
                                          "type": "string"
                                      }
                                  },
                                  "required": [
                                      "application_id",
                                      "number_of_active_users",
                                      "unit_type"
                                  ],
                                  "type": "object"
                              },
                              "type": "array"
                          }
                      },
                      "type": "object"
                  }
              }
          },
          "Publish_Event": {
              "runAfter": {
                  "Initialize_FilePath_object": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection",
              "inputs": {
                  "body": [
                      {
                          "data": "@variables('FilePath')",
                          "dataVersion": "1.0",
                          "eventTime": "@variables('TodayTime')",
                          "eventType": "identity-metering",
                          "id": "@{guid()}",
                          "metadataVersion": "1",
                          "subject": "Identity",
                          "topic": "meteringdata"
                      }
                  ],
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['azureeventgridpublish_1']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/eventGrid/api/events"
              }
          },
          "Run_query_and_list_results": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                  "body": "let TempLastMonthEndDate = (startofmonth(now()) - 1h);\nlet LastMonthStartDate = startofmonth(TempLastMonthEndDate);\nlet LastMonthEndDate = TempLastMonthEndDate+59m+59s;\n AuditLogs\n| where LoggedByService == \"B2C\"\n    and Result == \"success\"\n    and Category == \"Authentication\"\n    and OperationName in (\"Issue an id_token to the application\", \"Exchange token\", \"Issue an authorization code to the application\", \"Issue an access token to the //application\")\n  and TimeGenerated between(LastMonthStartDate .. LastMonthEndDate)\n| extend UserId = extractjson(\"$.[0].id\", tostring(TargetResources))\n| extend application_id = tostring(AdditionalDetails[2][\"value\"])\n| extend unit_type = \"count\"\n| order by TimeGenerated desc\n| summarize TotalAuth = count() by UserId , application_id, unit_type\n| summarize number_of_active_users = count() by application_id, unit_type\n| order by application_id desc\n",
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/queryData",
                  "queries": {
                      "resourcegroups": "rg-cpd-b2c-mon-npd-we-01",
                      "resourcename": "log-cpd-b2c-npd-we-01",
                      "resourcetype": "Log Analytics Workspace",
                      "subscriptions": "d0694def-b27e-4bb7-900d-437fbeb802da",
                      "timerange": "Set in query"
                    }
                  }
              }
          }
      },
      "workflowParameters": {
        "value": {
          "$connections": {
            "defaultValue": {},
            "type": "Object"
          }
        }
      },
      "diagnosticLogsRetentionInDays": {
        "value": 365
      },
      "diagnosticStorageAccountId": {
        "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.Storage/storageAccounts/stcpdappsdiagdevwe01"
      },
      "workspaceId": {
        "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpd-apps-mon-dev-we-01"
      },
      "eventHubAuthorizationRuleId": {
        "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-dev-we-01/authorizationrules/RootManageSharedAccessKey"
      },
      "eventHubName": {
        "value": "evh-cpd-apps-mon-dev-we-01"
      },
      "tags": {
        "value": {
          "Environment": "Development"
        }
      },
      "connectionParameters": {
        "value": {
          "$connections": {
            "value": {
              "apicon-cpd-apps-apimtst-dev-we-01": {
                  "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-apimtst-dev-we-01",
                  "connectionName": "apicon-cpd-apps-apimtst-dev-we-01",
                  "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
              },
              "apicon-cpd-apps-integd-dev-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-integd-dev-we-01",
              "connectionName": "apicon-cpd-apps-integd-dev-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgridpublish"
              }
            }
          }
        }
      }
    }
  }