Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpp-apps-intaprv1-prd-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-intaprv1-prd-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_message_is_received_in_a_queue_(auto-complete)": {
          "recurrence": {
            "frequency": "Second",
            "interval": 10
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/@{encodeURIComponent(encodeURIComponent('approval'))}/messages/head",
            "queries": {
              "queueType": "Main"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Check_For_Document_Or_Picture_Library": {
          "actions": {
            "Set_ListName_Append_Forms": {
              "inputs": {
                "name": "ListName",
                "value": "@{concat(replace(body('Parse_Service_Bus_Message_JSON')?['ListName'],' ',''),'/Forms')}"
              },
              "runAfter": {},
              "type": "SetVariable"
            }
          },
          "else": {
            "actions": {
              "Set_ListName_Remove_Spaces": {
                "inputs": {
                  "name": "ListName",
                  "value": "@{concat('Lists/', replace(body('Parse_Service_Bus_Message_JSON')?['ListName'],' ',''))}"
                },
                "runAfter": {},
                "type": "SetVariable"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('HeroWeb')"
                ]
              },
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('HeroMobile')"
                ]
              },
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('ProductAssets')"
                ]
              },
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('ProductMediaAssets')"
                ]
              }
            ]
          },
          "runAfter": {
            "Expand_users_and_append": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Check_If_Reminder": {
          "actions": {
            "Check_For_Approval_List": {
              "actions": {
                "Update_RequiresApproval_False": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"RequiresApproval\":\"false\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=verbose",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                      "Product Assets"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Update_Item_Status_to_Pending_Approval": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Create_Task_in_MyTasks_for_Approval": {
              "inputs": {
                "body": {
                  "body": "{\n\"Title\":\"Approval Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\",\n\"cmsAssignedToUserId\":@{variables('ApproverUserId')},\n\"ParentSiteUrl\":\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}\",\n\"ParentItemId\":\"@{body('Parse_Service_Bus_Message_JSON')?['ItemGUID']}\",\n\"TASMUTaskStatusInternal\":\"Active\",\n\"TASMUTaskStatus\":\"Created\",\n\"ParentItemLink\": {'Description': '', 'Url': '@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/DispForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}'},\n\"PreviewUrl\": {'Description':'', 'Url': '@{body('Parse_Service_Bus_Message_JSON')?['PreviewURL']}'},\n\"arPreviewUrl\": {'Description':'', 'Url':'@{body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL']}'},\n\"ListName\": \"@{body('Parse_Service_Bus_Message_JSON')?['ListName']}\"\n}",
                  "headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "method": "POST",
                  "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/items?$select=Id"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Parse_Users_from_MyTasks_for_Approval": {
              "inputs": {
                "content": "@body('Create_Task_in_MyTasks_for_Approval')",
                "schema": {
                  "properties": {
                    "ID": {
                      "type": "integer"
                    },
                    "Id": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Create_Task_in_MyTasks_for_Approval": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Send_an_email_(V2)_-_Approval_Request": {
              "inputs": {
                "body": {
                  "Body": "<p>@{variables('EmailBody')}</p>",
                  "Importance": "High",
                  "Subject": "Approval Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                  "To": "@variables('ApproverEmail')"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Set_EditorEmailBody_Approval_Request_Notification": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Send_an_email_(V2)_-_Approval_Request_Notification": {
              "inputs": {
                "body": {
                  "Body": "<p>@{variables('EditorEmailBody')}</p>",
                  "Subject": "Approval Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                  "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Send_an_email_(V2)_-_Approval_Request": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Set_EditorEmailBody_Approval_Request_Notification": {
              "inputs": {
                "name": "EditorEmailBody",
                "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note, <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has been received for first level approval.</font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                   </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
              },
              "runAfter": {
                "Set_EmailBody_Approval_Request": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_EmailBody_Approval_Request": {
              "inputs": {
                "name": "EmailBody",
                "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Approver,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been received for approval.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to review the content.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Click <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/SitePages/MyTasks.aspx?TaskId=@{variables('TaskID')}\">here</a>\n                                            to view the task and take neccessary action.\n                                        </font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                   </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
              },
              "runAfter": {
                "Check_For_Approval_List": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_TaskID": {
              "inputs": {
                "name": "TaskID",
                "value": "@{body('Parse_Users_from_MyTasks_for_Approval')?['ID']}"
              },
              "runAfter": {
                "Parse_Users_from_MyTasks_for_Approval": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Update_Item_Status_to_Pending_Approval": {
              "inputs": {
                "body": {
                  "body": "{\n\"ContentStatus\":\"Pending Approval\"\n}",
                  "headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "application/json",
                    "If-Match": "*",
                    "X-HTTP-Method": "MERGE"
                  },
                  "method": "POST",
                  "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {
                "Set_TaskID": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            }
          },
          "else": {
            "actions": {
              "Check_ReminderCount": {
                "actions": {
                  "Send_an_email_(V2)_Auto_Approval_Rejection": {
                    "inputs": {
                      "body": {
                        "Body": "<p>@{variables('EmailBody')}</p>",
                        "Subject": "Approval Auto Rejected - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                        "To": "@variables('ApproverEmail')"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/v2/Mail"
                    },
                    "runAfter": {
                      "Set_EmailBody_Auto_Rejection": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection"
                  },
                  "Set_EmailBody_Auto_Rejection": {
                    "inputs": {
                      "name": "EmailBody",
                      "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Approver,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been auto rejected.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to view the content.\n                                        </font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                   </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                    },
                    "runAfter": {
                      "Update_ItemStatus_to_Rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable"
                  },
                  "Terminate_After_Reminder_Limit": {
                    "inputs": {
                      "runStatus": "Succeeded"
                    },
                    "runAfter": {
                      "Send_an_email_(V2)_Auto_Approval_Rejection": [
                        "Succeeded"
                      ]
                    },
                    "type": "Terminate"
                  },
                  "Update_ItemStatus_to_Rejected": {
                    "inputs": {
                      "body": {
                        "body": "{\n\"ContentStatus\":\"Rejected\"\n}",
                        "headers": {
                          "Accept": "application/json;odata=verbose",
                          "Content-Type": "application/json",
                          "If-Match": "*",
                          "X-HTTP-Method": "MERGE"
                        },
                        "method": "POST",
                        "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                    },
                    "runAfter": {
                      "Update_TaskStatus_to_Rejected": [
                        "Succeeded"
                      ]
                    },
                    "type": "ApiConnection"
                  },
                  "Update_TaskStatus_to_Rejected": {
                    "inputs": {
                      "body": {
                        "body": "{\n\"TASMUTaskStatusInternal\":\"Rejected\",\n\"TASMUTaskStatus\":\"Rejected\"\n}",
                        "headers": {
                          "Accept": "application/json;odata=verbose",
                          "Content-Type": "application/json",
                          "If-Match": "*",
                          "X-HTTP-Method": "MERGE"
                        },
                        "method": "POST",
                        "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@variables('ReminderCount')",
                        30
                      ]
                    }
                  ]
                },
                "runAfter": {
                  "Set_EmailBody_Reminder": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Set_EmailBody_Reminder": {
                "inputs": {
                  "name": "EmailBody",
                  "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Approver,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been received for approval.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to review the content.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Click <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/SitePages/MyTasks.aspx?TaskId=@{variables('TaskID')}\">here</a>\n                                            to view the task and take neccessary action.\n                                        </font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                   </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                },
                "runAfter": {
                  "Set_TaskID_Reminder": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable"
              },
              "Set_TaskID_Reminder": {
                "inputs": {
                  "name": "TaskID",
                  "value": "@body('Parse_Service_Bus_Message_JSON')?['TaskId']"
                },
                "runAfter": {},
                "type": "SetVariable"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@variables('Reminder')",
                  "@false"
                ]
              },
              {
                "less": [
                  "@variables('ReminderCount')",
                  30
                ]
              }
            ]
          },
          "runAfter": {
            "Check_For_Document_Or_Picture_Library": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Delay_5_Seconds_After_Approved_Or_Rejected": {
          "inputs": {
            "interval": {
              "count": 5,
              "unit": "Second"
            }
          },
          "runAfter": {
            "Set_ApprovalRejectionReminder": [
              "Succeeded"
            ]
          },
          "type": "Wait"
        },
        "Expand_users_and_append": {
          "actions": {
            "Check_for_user": {
              "actions": {
                "Append_to_ApproverEmail": {
                  "inputs": {
                    "name": "ApproverEmail",
                    "value": "@{items('Expand_users_and_append')?['Email']};"
                  },
                  "runAfter": {},
                  "type": "AppendToStringVariable"
                },
                "Append_to_ApproverUserId": {
                  "inputs": {
                    "name": "ApproverUserId",
                    "value": "@items('Expand_users_and_append')?['Id']"
                  },
                  "runAfter": {
                    "Append_to_ApproverEmail": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable"
                }
              },
              "else": {
                "actions": {
                  "Check_for_AAD_or_M365_Group": {
                    "actions": {
                      "For_each_group_member": {
                        "actions": {
                          "Check_for_null_value_in_mail": {
                            "actions": {
                              "Add_User_Id": {
                                "actions": {
                                  "Append_to_ApproverUserId_2": {
                                    "inputs": {
                                      "name": "ApproverUserId",
                                      "value": "@items('Add_User_Id')?['Id']"
                                    },
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable"
                                  }
                                },
                                "foreach": "@body('Parse_Site_User_Response')?['value']",
                                "runAfter": {
                                  "Append_to_ApproverEmail_2": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Foreach"
                              },
                              "Append_to_ApproverEmail_2": {
                                "inputs": {
                                  "name": "ApproverEmail",
                                  "value": "@{items('For_each_group_member')?['mail']};"
                                },
                                "runAfter": {
                                  "Parse_Site_User_Response": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "AppendToStringVariable"
                              },
                              "Get_Site_User_Id": {
                                "inputs": {
                                  "body": {
                                    "headers": {
                                      "Accept": "application/json;odata=nometadata",
                                      "Content-Type": "application/json"
                                    },
                                    "method": "GET",
                                    "uri": "/_api/web/siteusers?$filter=Email eq '@{items('For_each_group_member')?['mail']}'"
                                  },
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                              },
                              "Parse_Site_User_Response": {
                                "inputs": {
                                  "content": "@body('Get_Site_User_Id')",
                                  "schema": {
                                    "properties": {
                                      "value": {
                                        "items": {
                                          "properties": {
                                            "Email": {
                                              "type": "string"
                                            },
                                            "Expiration": {
                                              "type": "string"
                                            },
                                            "Id": {
                                              "type": "integer"
                                            },
                                            "IsEmailAuthenticationGuestUser": {
                                              "type": "boolean"
                                            },
                                            "IsHiddenInUI": {
                                              "type": "boolean"
                                            },
                                            "IsShareByEmailGuestUser": {
                                              "type": "boolean"
                                            },
                                            "IsSiteAdmin": {
                                              "type": "boolean"
                                            },
                                            "LoginName": {
                                              "type": "string"
                                            },
                                            "PrincipalType": {
                                              "type": "integer"
                                            },
                                            "Title": {
                                              "type": "string"
                                            },
                                            "UserId": {
                                              "properties": {
                                                "NameId": {
                                                  "type": "string"
                                                },
                                                "NameIdIssuer": {
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "UserPrincipalName": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "Id",
                                            "IsHiddenInUI",
                                            "LoginName",
                                            "Title",
                                            "PrincipalType",
                                            "Email",
                                            "Expiration",
                                            "IsEmailAuthenticationGuestUser",
                                            "IsShareByEmailGuestUser",
                                            "IsSiteAdmin",
                                            "UserId",
                                            "UserPrincipalName"
                                          ],
                                          "type": "object"
                                        },
                                        "type": "array"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "runAfter": {
                                  "Get_Site_User_Id": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ParseJson"
                              }
                            },
                            "expression": {
                              "and": [
                                {
                                  "not": {
                                    "equals": [
                                      "@items('For_each_group_member')?['mail']",
                                      null
                                    ]
                                  }
                                }
                              ]
                            },
                            "runAfter": {},
                            "type": "If"
                          }
                        },
                        "foreach": "@body('Parse_Group_Member_JSON')?['value']",
                        "runAfter": {
                          "Parse_Group_Member_JSON": [
                            "Succeeded"
                          ]
                        },
                        "type": "Foreach"
                      },
                      "Get_Group_Members": {
                        "inputs": {
                          "authentication": {
                            "audience": "https://graph.microsoft.com",
                            "authority": "https://login.microsoft.com",
                            "clientId": "@body('Get_ClientId')?['value']",
                            "password": "@body('Get_CertificatePassword')?['value']",
                            "pfx": "@body('Get_CertificatePfxKey')?['value']",
                            "tenant": "@body('Get_TenantId')?['value']",
                            "type": "ActiveDirectoryOAuth"
                          },
                          "method": "GET",
                          "uri": "https://graph.microsoft.com/v1.0/groups/@{last(split(items('Expand_users_and_append')?['LoginName'],'|'))}/members"
                        },
                        "runAfter": {},
                        "type": "Http"
                      },
                      "Parse_Group_Member_JSON": {
                        "inputs": {
                          "content": "@body('Get_Group_Members')",
                          "schema": {
                            "properties": {
                              "@@odata.context": {
                                "type": "string"
                              },
                              "value": {
                                "items": {
                                  "properties": {
                                    "@@odata.type": {
                                      "type": "string"
                                    },
                                    "businessPhones": {
                                      "items": {
                                        "type": [
                                          "string",
                                          "null"
                                        ]
                                      },
                                      "type": "array"
                                    },
                                    "displayName": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "givenName": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "jobTitle": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "mail": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "mobilePhone": {},
                                    "officeLocation": {},
                                    "preferredLanguage": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "surname": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "userPrincipalName": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "@@odata.type",
                                    "id",
                                    "businessPhones",
                                    "displayName",
                                    "givenName",
                                    "jobTitle",
                                    "mail",
                                    "mobilePhone",
                                    "officeLocation",
                                    "preferredLanguage",
                                    "surname",
                                    "userPrincipalName"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "runAfter": {
                          "Get_Group_Members": [
                            "Succeeded"
                          ]
                        },
                        "type": "ParseJson"
                      }
                    },
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@items('Expand_users_and_append')?['PrincipalType']",
                            4
                          ]
                        },
                        {
                          "equals": [
                            "@items('Expand_users_and_append')?['PrincipalType']",
                            3
                          ]
                        }
                      ]
                    },
                    "runAfter": {},
                    "type": "If"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Expand_users_and_append')?['PrincipalType']",
                      1
                    ]
                  }
                ]
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "foreach": "@body('Parse_Users_From_SharePoint_Approvers_Group_JSON')?['value']",
          "runAfter": {
            "Parse_Users_From_SharePoint_Approvers_Group_JSON": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Get_CertificatePassword": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-CertificatePassword')}/value"
          },
          "runAfter": {
            "Get_TenantId": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_CertificatePfxKey": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-CertificatePfxKey')}/value"
          },
          "runAfter": {
            "Initialize_TASMUMarketplacePortalURL": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_ClientId": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-ClientId')}/value"
          },
          "runAfter": {
            "Get_CertificatePfxKey": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_TenantId": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-TenantId')}/value"
          },
          "runAfter": {
            "Get_ClientId": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_Translators_Approvers_Group_From_Config": {
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "/_api/web/lists/getByTitle('@{body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList']}')/items?$filter=SiteURL eq '@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}'"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL']))}/httprequest"
          },
          "runAfter": {
            "Set_ReminderCount": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Get_Users_from_SharePoint_Approvers_Group": {
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "/_api/web/SiteGroups/GetByName('@{first(body('Parse_Translators_Approvers_Group_From_Config_JSON')?['value'])?['Approvers']}')/users?$select=Email,Id,PrincipalType,LoginName"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
          },
          "runAfter": {
            "Parse_Translators_Approvers_Group_From_Config_JSON": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "If_Task_Status_Is_Approved_Or_Rejected": {
          "actions": {
            "If_Translation_Task_Is_Present_-_Approved": {
              "actions": {
                "Update_Internal_Task_Status_Approved_-_Translation_Task": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"TASMUTaskStatusInternal\":\"Completed\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=verbose",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['TranslatorId']})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_Service_Bus_Message_JSON')?['TranslatorId']",
                        ""
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_Service_Bus_Message_JSON')?['TranslatorId']",
                        "@null"
                      ]
                    }
                  }
                ]
              },
              "runAfter": {
                "Update_Item_Status_And_Comments_-_Approved": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Send_an_email_(V2)_Approved": {
              "inputs": {
                "body": {
                  "Body": "<p>@{variables('EmailBody')}</p>",
                  "Subject": "Approved - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                  "To": "@variables('ApproverEmail')"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Set_EditorEmailBody_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Send_an_email_(V2)_Approved_Notification": {
              "inputs": {
                "body": {
                  "Body": "<p>@{variables('EditorEmailBody')}</p>",
                  "Subject": "Approved - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                  "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Send_an_email_(V2)_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Send_message_For_2nd_Level_Approval_Queue": {
              "inputs": {
                "body": {
                  "ContentData": "@{base64(concat('{','\n','\"SiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['SiteURL'],'\",','\n','\"ItemTitle\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemTitle'],'\",','\n','\"ItemGUID\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemGUID'],'\",','\n','\"ItemId\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemId'],'\",','\n','\"ListName\": \"',body('Parse_Service_Bus_Message_JSON')?['ListName'],'\",','\n','\"EditorEmail\": \"',body('Parse_Service_Bus_Message_JSON')?['EditorEmail'],'\",','\n','\"Sensitivity\": \"',body('Parse_Service_Bus_Message_JSON')?['Sensitivity'],'\",','\n','\"MarketplaceSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL'],'\",','\n','\"GlobalSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL'],'\",','\n','\"GlobalConfigList\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList'],'\",','\n','\"PreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['PreviewURL'],'\",','\n','\"ArabicPreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL'],'\",','\n','\"Version\": \"',body('Parse_Service_Bus_Message_JSON')?['Version'],'\"','\n','}'))}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent(encodeURIComponent('approvalglobal'))}/messages",
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "Send_an_email_(V2)_Approved_Notification": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Set_EditorEmailBody_Approved": {
              "inputs": {
                "name": "EditorEmailBody",
                "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note, <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has been approved by first level approver.</font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
              },
              "runAfter": {
                "Set_EmailBody_Approved": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_EmailBody_Approved": {
              "inputs": {
                "name": "EmailBody",
                "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Approver,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been approved.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to view the content.\n                                        </font>\n                                         <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
              },
              "runAfter": {
                "Update_Internal_Task_Status_And_Comments_-_Approval_Task": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Update_Internal_Task_Status_And_Comments_-_Approval_Task": {
              "inputs": {
                "body": {
                  "body": "{\n\"TASMUTaskStatusInternal\": \"Completed\",\n\"TASMUTaskStatus\":\"Approved\"\n}",
                  "headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "application/json",
                    "If-Match": "*",
                    "X-HTTP-Method": "MERGE"
                  },
                  "method": "POST",
                  "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {
                "If_Translation_Task_Is_Present_-_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Update_Item_Status_And_Comments_-_Approved": {
              "inputs": {
                "body": {
                  "body": "{\n\"ApproverComments\":\"@{variables('ApproverTaskComments')}\",\n\"ApprovedDate\": \"@{convertFromUtc(utcNow(),'Arabian Standard Time')}\",\n\"ContentStatus\":\"Pending 2nd Level Approval\"\n}",
                  "headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "application/json",
                    "If-Match": "*",
                    "X-HTTP-Method": "MERGE"
                  },
                  "method": "POST",
                  "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {},
              "type": "ApiConnection"
            }
          },
          "else": {
            "actions": {
              "Check_for_Product_Assets_List": {
                "actions": {
                  "Update_Product_Assets_Item_Status_and_Comments_-_Rejected": {
                    "inputs": {
                      "body": {
                        "body": "{\n\"ApproverComments\":\"@{variables('ApproverTaskComments')}\",\n\"ContentStatus\":\"Rejected\",\n\"RequiresApproval\":\"False\"\n}",
                        "headers": {
                          "Accept": "application/json;odata=verbose",
                          "Content-Type": "application/json",
                          "If-Match": "*",
                          "X-HTTP-Method": "MERGE"
                        },
                        "method": "POST",
                        "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "else": {
                  "actions": {
                    "Update_Item_Status_And_Comments_-_Rejected": {
                      "inputs": {
                        "body": {
                          "body": "{\n\"ApproverComments\":\"@{variables('ApproverTaskComments')}\",\n\"ContentStatus\":\"Rejected\",\n\"RequiresTranslation\":\"False\"\n}",
                          "headers": {
                            "Accept": "application/json;odata=verbose",
                            "Content-Type": "application/json",
                            "If-Match": "*",
                            "X-HTTP-Method": "MERGE"
                          },
                          "method": "POST",
                          "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                        "Product Assets"
                      ]
                    }
                  ]
                },
                "runAfter": {},
                "type": "If"
              },
              "If_Translation_Task_Is_Present_-_Rejected": {
                "actions": {
                  "Update_Internal_Task_Status_Rejected_-_Translation_Task": {
                    "inputs": {
                      "body": {
                        "body": "{\n\"TASMUTaskStatusInternal\":\"Rejected\"\n}",
                        "headers": {
                          "Accept": "application/json;odata=verbose",
                          "Content-Type": "application/json",
                          "If-Match": "*",
                          "X-HTTP-Method": "MERGE"
                        },
                        "method": "POST",
                        "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['TranslatorId']})"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                },
                "expression": {
                  "and": [
                    {
                      "not": {
                        "equals": [
                          "@body('Parse_Service_Bus_Message_JSON')?['TranslatorId']",
                          ""
                        ]
                      }
                    },
                    {
                      "not": {
                        "equals": [
                          "@body('Parse_Service_Bus_Message_JSON')?['TranslatorId']",
                          "@null"
                        ]
                      }
                    }
                  ]
                },
                "runAfter": {
                  "Check_for_Product_Assets_List": [
                    "Succeeded"
                  ]
                },
                "type": "If"
              },
              "Send_an_email_(V2)_Rejected": {
                "inputs": {
                  "body": {
                    "Body": "<p>@{variables('EmailBody')}</p>",
                    "Subject": "Approval Rejected - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                    "To": "@variables('ApproverEmail')"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                },
                "runAfter": {
                  "Set_EditorEmailBody_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection"
              },
              "Send_an_email_(V2)_Rejected_Notification": {
                "inputs": {
                  "body": {
                    "Body": "<p>@{variables('EditorEmailBody')}</p>",
                    "Subject": "Approval Rejected - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                    "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                },
                "runAfter": {
                  "Send_an_email_(V2)_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection"
              },
              "Set_EditorEmailBody_Rejected": {
                "inputs": {
                  "name": "EditorEmailBody",
                  "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note, <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has been rejected by first level approver.</font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                     </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                },
                "runAfter": {
                  "Set_EmailBody_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable"
              },
              "Set_EmailBody_Rejected": {
                "inputs": {
                  "name": "EmailBody",
                  "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Approver,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been rejected.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to view the content.\n                                        </font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                   </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/36C157DE-F09A-4441-A829-4766804EABC3.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                },
                "runAfter": {
                  "Update_Internal_Task_Status_Rejected_-_Approval_Task": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable"
              },
              "Update_Internal_Task_Status_Rejected_-_Approval_Task": {
                "inputs": {
                  "body": {
                    "body": "{\n\"TASMUTaskStatusInternal\":\"Rejected\",\n\"TASMUTaskStatus\":\"Rejected\"\n}",
                    "headers": {
                      "Accept": "application/json;odata=verbose",
                      "Content-Type": "application/json",
                      "If-Match": "*",
                      "X-HTTP-Method": "MERGE"
                    },
                    "method": "POST",
                    "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                  },
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                },
                "runAfter": {
                  "If_Translation_Task_Is_Present_-_Rejected": [
                    "Succeeded"
                  ]
                },
                "type": "ApiConnection"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@variables('ApproverTaskStatus')",
                  "Approved"
                ]
              }
            ]
          },
          "runAfter": {
            "If_Terminate_is_True": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "If_Terminate_is_True": {
          "actions": {
            "Terminate": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@variables('Terminate')",
                  "@true"
                ]
              }
            ]
          },
          "runAfter": {
            "Delay_5_Seconds_After_Approved_Or_Rejected": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Initialize_ApprovalRejectionReminder": {
          "inputs": {
            "variables": [
              {
                "name": "ApprovalRejectionReminder",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "runAfter": {
            "Initialize_EditorEmailBody": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ApproverEmail": {
          "inputs": {
            "variables": [
              {
                "name": "ApproverEmail",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatorsEmail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ApproverTaskComments": {
          "inputs": {
            "variables": [
              {
                "name": "ApproverTaskComments",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ApproverTaskStatus": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ApproverTaskStatus": {
          "inputs": {
            "variables": [
              {
                "name": "ApproverTaskStatus",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ApproverUserId": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ApproverUserId": {
          "inputs": {
            "variables": [
              {
                "name": "ApproverUserId",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_ApproverEmail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_EditorEmailBody": {
          "inputs": {
            "variables": [
              {
                "name": "EditorEmailBody",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_EmailBody": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_EmailBody": {
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ApproverTaskComments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ListName": {
          "inputs": {
            "variables": [
              {
                "name": "ListName",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ApprovalRejectionReminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_Reminder": {
          "inputs": {
            "variables": [
              {
                "name": "Reminder",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_TaskID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ReminderCount": {
          "inputs": {
            "variables": [
              {
                "name": "ReminderCount",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_Reminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TaskID": {
          "inputs": {
            "variables": [
              {
                "name": "TaskID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ListName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_Terminate": {
          "inputs": {
            "variables": [
              {
                "name": "Terminate",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_ReminderCount": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatorsEmail": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatorsEmail",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_TASMUMarketplacePortalURL": {
          "inputs": {
            "variables": [
              {
                "name": "TASMUMarketplacePortalURL",
                "type": "string",
                "value": "https://platform.tasmu.gov.qa"
              }
            ]
          },
          "runAfter": {
            "Initialize_Terminate": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Parse_Service_Bus_Message_JSON": {
          "inputs": {
            "content": "@decodeBase64(triggerBody()?['ContentData'])",
            "schema": {
              "properties": {
                "ArabicPreviewURL": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "EditorEmail": {
                  "type": "string"
                },
                "GlobalConfigList": {
                  "type": "string"
                },
                "GlobalSiteURL": {
                  "type": "string"
                },
                "ItemGUID": {
                  "type": "string"
                },
                "ItemId": {
                  "type": "string"
                },
                "ItemTitle": {
                  "type": "string"
                },
                "ListId": {
                  "type": "string"
                },
                "ListName": {
                  "type": "string"
                },
                "MarketplaceSiteURL": {
                  "type": "string"
                },
                "PreviewURL": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Reminder": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "ReminderCount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "Sensitivity": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "SiteURL": {
                  "type": "string"
                },
                "TaskId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "TranslatorId": {
                  "type": "string"
                },
                "Version": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Get_CertificatePassword": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Parse_Translators_Approvers_Group_From_Config_JSON": {
          "inputs": {
            "content": "@body('Get_Translators_Approvers_Group_From_Config')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "Approvers": {
                        "type": "string"
                      },
                      "CriticalApprovers": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "Id": {
                        "type": "integer"
                      },
                      "SiteLevel": {
                        "type": "string"
                      },
                      "SiteURL": {
                        "type": "string"
                      },
                      "Translators": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Get_Translators_Approvers_Group_From_Config": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Parse_Users_From_SharePoint_Approvers_Group_JSON": {
          "inputs": {
            "content": "@body('Get_Users_from_SharePoint_Approvers_Group')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "Email": {
                        "type": "string"
                      },
                      "Id": {
                        "type": "integer"
                      },
                      "LoginName": {
                        "type": "string"
                      },
                      "PrincipalType": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "Id",
                      "Email",
                      "PrincipalType",
                      "LoginName"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Get_Users_from_SharePoint_Approvers_Group": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Set_ApprovalRejectionReminder": {
          "inputs": {
            "name": "ApprovalRejectionReminder",
            "value": "@false"
          },
          "runAfter": {
            "Until_Task_Is_Approved_Or_Rejected": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        },
        "Set_Reminder": {
          "inputs": {
            "name": "Reminder",
            "value": "@if(equals(body('Parse_Service_Bus_Message_JSON')?['Reminder'], null), false, bool(body('Parse_Service_Bus_Message_JSON')?['Reminder']))"
          },
          "runAfter": {
            "Parse_Service_Bus_Message_JSON": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        },
        "Set_ReminderCount": {
          "inputs": {
            "name": "ReminderCount",
            "value": "@if(equals(body('Parse_Service_Bus_Message_JSON')?['ReminderCount'], null), 0, body('Parse_Service_Bus_Message_JSON')?['ReminderCount'])"
          },
          "runAfter": {
            "Set_Reminder": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        },
        "Until_Task_Is_Approved_Or_Rejected": {
          "actions": {
            "Delay_20_Seconds_Approved": {
              "inputs": {
                "interval": {
                  "count": 20,
                  "unit": "Second"
                }
              },
              "runAfter": {},
              "type": "Wait"
            },
            "Get_Task_Status": {
              "inputs": {
                "body": {
                  "headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "method": "GET",
                  "uri": "/_api/web/lists/getbytitle('@{parameters('MyTasksList')}')/items(@{variables('TaskID')})?$select=TASMUTaskStatusInternal,TaskComments,TASMUTaskStatus"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {
                "Delay_20_Seconds_Approved": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Parse_Task_Status_JSON": {
              "inputs": {
                "content": "@body('Get_Task_Status')",
                "schema": {
                  "properties": {
                    "TASMUTaskStatus": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "TASMUTaskStatusInternal": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "TaskComments": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Get_Task_Status": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Set_ApproverTaskComments": {
              "inputs": {
                "name": "ApproverTaskComments",
                "value": "@body('Parse_Task_Status_JSON')?['TaskComments']"
              },
              "runAfter": {
                "Set_ApproverTaskStatus": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_ApproverTaskStatus": {
              "inputs": {
                "name": "ApproverTaskStatus",
                "value": "@body('Parse_Task_Status_JSON')?['TASMUTaskStatus']"
              },
              "runAfter": {
                "Parse_Task_Status_JSON": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            }
          },
          "expression": "@equals(or(or(equals(variables('ApproverTaskStatus'), 'Approved'), equals(variables('ApproverTaskStatus'), 'Rejected')), equals(variables('Terminate'), true)), true)",
          "limit": {
            "count": 5000,
            "timeout": "P1M"
          },
          "runAfter": {
            "Check_If_Reminder": [
              "Succeeded"
            ]
          },
          "type": "Until"
        },
        "Until_Task_Is_Approved_Or_Rejected_Reminder": {
          "actions": {
            "Delay_1_Day_Reminder": {
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Day"
                }
              },
              "runAfter": {},
              "type": "Wait"
            },
            "If_Task_Status_Is_Approved_Or_Rejected_Reminder": {
              "actions": {
                "Send_an_email_(V2)_Approval_Rejection_Reminder": {
                  "inputs": {
                    "body": {
                      "Body": "<p>@{variables('EmailBody')}</p>",
                      "Subject": "Gentle Reminder - Approval Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                      "To": "@variables('ApproverEmail')"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                },
                "Send_message_Approval_Reminder": {
                  "inputs": {
                    "body": {
                      "ContentData": "@{base64(concat('{','\n','\"SiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['SiteURL'],'\",','\n','\"ItemTitle\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemTitle'],'\",','\n','\"ItemGUID\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemGUID'],'\",','\n','\"ItemId\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemId'],'\",','\n','\"ListName\": \"',body('Parse_Service_Bus_Message_JSON')?['ListName'],'\",','\n','\"EditorEmail\": \"',body('Parse_Service_Bus_Message_JSON')?['EditorEmail'],'\",','\n','\"TranslatorId\": \"',body('Parse_Service_Bus_Message_JSON')?['TranslatorId'],'\",','\n','\"Sensitivity\": \"',body('Parse_Service_Bus_Message_JSON')?['Sensitivity'],'\",','\n','\"MarketplaceSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL'],'\",','\n','\"GlobalSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL'],'\",','\n','\"GlobalConfigList\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList'],'\",','\n','\"PreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['PreviewURL'],'\",','\n','\"ArabicPreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL'],'\",','\n','\"Version\": \"',body('Parse_Service_Bus_Message_JSON')?['Version'],'\",','\n','\"TaskId\": \"',variables('TaskID'),'\",','\n','\"Reminder\": true,','\n','\"ReminderCount\": ',add(variables('ReminderCount'),1),'\n','}'))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(encodeURIComponent('approval'))}/messages"
                  },
                  "runAfter": {
                    "Send_an_email_(V2)_Approval_Rejection_Reminder": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Set_Terminate": {
                  "inputs": {
                    "name": "Terminate",
                    "value": "@true"
                  },
                  "runAfter": {
                    "Send_message_Approval_Reminder": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('ApprovalRejectionReminder')",
                      "@true"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Delay_1_Day_Reminder": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "expression": "@equals(or(equals(variables('ApprovalRejectionReminder'), false), equals(variables('Terminate'))), true)",
          "limit": {
            "count": 100,
            "timeout": "P1M"
          },
          "runAfter": {
            "Check_If_Reminder": [
              "Succeeded"
            ]
          },
          "type": "Until"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "HeroMobile": {
          "defaultValue": "Hero Mobile",
          "type": "String"
        },
        "HeroWeb": {
          "defaultValue": "Hero Web",
          "type": "String"
        },
        "MyTasksList": {
          "defaultValue": "My Tasks",
          "type": "String"
        },
        "ProductAssets": {
          "defaultValue": "Product Assets",
          "type": "String"
        },
        "ProductMediaAssets": {
          "defaultValue": "Product Media Assets",
          "type": "String"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpp-apps-into365-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-into365-prd-we-01",
              "connectionName": "apicon-cpp-apps-into365-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
            },
            "apicon-cpp-apps-intsb-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intsb-prd-we-01",
              "connectionName": "apicon-cpp-apps-intsb-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
            },
            "apicon-cpp-apps-intspo-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intspo-prd-we-01",
              "connectionName": "apicon-cpp-apps-intspo-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
            },
            "apicon-cpp-apps-intkv-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intkv-prd-we-01",
              "connectionName": "apicon-cpp-apps-intkv-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
          }
        }
      }
    }
  }
}