Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-intsec-dev-we-01-parameters.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workflowName": {
			"value": "logic-cpd-apps-intsec-dev-we-01"
		},
		"workflowLocation": {
			"value": "westeurope"
		},
		"workflowSchema": {
			"value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
		},
		"workflowTriggers": {
			"value": {
				"When_a_resource_event_occurs": {
					"inputs": {
						"body": {
							"properties": {
								"destination": {
									"endpointType": "webhook",
									"properties": {
										"endpointUrl": "@{listCallbackUrl()}"
									}
								},
								"filter": {
									"includedEventTypes": [
										"sector-created",
										"sector-updated",
										"sector-deleted"
									]
								},
								"topic": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.EventGrid/domains/egd-cpd-apps-int-dev-we-01/topics/d365"
							}
						},
						"host": {
							"connection": {
								"name": "@parameters('$connections')['apicon-cpd-apps-integ-dev-we-01']['connectionId']"
							}
						},
						"path": "/subscriptions/@{encodeURIComponent('d0694def-b27e-4bb7-900d-437fbeb802da')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
						"queries": {
							"x-ms-api-version": "2017-09-15-preview"
						}
					},
					"splitOn": "@triggerBody()",
					"type": "ApiConnectionWebhook"
				}
			}
		},
		"workflowActions": {
			"value": {
				"Parse_Event_Grid_Data_JSON": {
					"inputs": {
						"content": "@triggerBody()?['data']",
						"schema": {
							"properties": {
								"Id": {
									"type": "string"
								},
								"LocalizedValues": {
									"properties": {
										"Ar": {
											"properties": {
												"id": {
													"type": "string"
												},
												"name": {
													"type": "string"
												}
											},
											"type": "object"
										}
									},
									"type": "object"
								},
								"Value": {
									"properties": {
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										}
									},
									"type": "object"
								}
							},
							"type": "object"
						}
					},
					"runAfter": {},
					"type": "ParseJson"
				},
				"Perform_on_Event_Type": {
					"actions": {
						"Check_If_Sector_Exists": {
							"actions": {
								"Create_Sector_List_Item": {
									"inputs": {
										"body": {
											"body": "{\n\"SectorID\": \"@{body('Parse_Event_Grid_Data_JSON')?['Id']}\",\n\"Title\": \"@{body('Parse_Event_Grid_Data_JSON')?['Value']?['name']}\",\n\"arTitle\": \"@{body('Parse_Event_Grid_Data_JSON')?['LocalizedValues']?['Ar']?['name']}\"\n}",
											"headers": {
												"Accept": "application/json;odata=nometadata",
												"Content-Type": "application/json"
											},
											"method": "POST",
											"uri": "/_api/web/lists/GetByTitle('@{parameters('SectorsList')}')/items"
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['apicon-cpd-apps-intspo-dev-we-01']['connectionId']"
											}
										},
										"method": "post",
										"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('GlobalSiteUrl')))}/httprequest"
									},
									"runAfter": {},
									"type": "ApiConnection"
								}
							},
							"else": {
								"actions": {
									"Update_Delete_Sector_List_Item": {
										"inputs": {
											"body": {
												"body": "{\n\"SectorID\": \"@{body('Parse_Event_Grid_Data_JSON')?['Id']}\",\n\"Title\": \"@{body('Parse_Event_Grid_Data_JSON')?['Value']?['name']}\",\n\"arTitle\": \"@{body('Parse_Event_Grid_Data_JSON')?['LocalizedValues']?['Ar']?['name']}\"\n}",
												"headers": {
													"Accept": "application/json;odata=nometadata",
													"Content-Type": "application/json",
													"If-Match": "*",
													"X-HTTP-Method": "@{if(equals(triggerBody()?['eventType'], 'sector-updated'), 'MERGE', 'DELETE')}"
												},
												"method": "POST",
												"uri": "/_api/web/lists/GetByTitle('@{parameters('SectorsList')}')/items(@{first(body('Parse_Sector_List_Item_JSON')?['value'])?['ID']})"
											},
											"host": {
												"connection": {
													"name": "@parameters('$connections')['apicon-cpd-apps-intspo-dev-we-01']['connectionId']"
												}
											},
											"method": "post",
											"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('GlobalSiteUrl')))}/httprequest"
										},
										"runAfter": {},
										"type": "ApiConnection"
									}
								}
							},
							"expression": {
								"and": [
									{
										"equals": [
											"@length(body('Parse_Sector_List_Item_JSON')?['value'])",
											0
										]
									}
								]
							},
							"runAfter": {
								"Parse_Sector_List_Item_JSON": [
									"Succeeded"
								]
							},
							"type": "If"
						},
						"Get_Sector_List_Item": {
							"inputs": {
								"body": {
									"headers": {
										"Accept": "application/json;odata=nometadata",
										"Content-Type": "application/json"
									},
									"method": "GET",
									"uri": "/_api/web/lists/GetByTitle('@{parameters('SectorsList')}')/items?$filter=SectorID eq '@{body('Parse_Event_Grid_Data_JSON')?['Id']}'"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['apicon-cpd-apps-intspo-dev-we-01']['connectionId']"
									}
								},
								"method": "post",
								"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('GlobalSiteUrl')))}/httprequest"
							},
							"runAfter": {},
							"type": "ApiConnection"
						},
						"Parse_Sector_List_Item_JSON": {
							"inputs": {
								"content": "@body('Get_Sector_List_Item')",
								"schema": {
									"properties": {
										"value": {
											"items": {
												"properties": {
													"ID": {
														"type": "integer"
													},
													"SectorID": {
														"type": "string"
													},
													"Title": {
														"type": "string"
													}
												},
												"type": "object"
											},
											"type": "array"
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Sector_List_Item": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						}
					},
					"expression": {
						"or": [
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-created"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-updated"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-deleted"
								]
							}
						]
					},
					"runAfter": {
						"Parse_Event_Grid_Data_JSON": [
							"Succeeded"
						]
					},
					"type": "If"
				}
			}
		},
		"workflowParameters": {
			"value": {
				"$connections": {
					"defaultValue": {},
					"type": "Object"
				},
				"GlobalConfigList": {
					"defaultValue": "Configuration",
					"type": "String"
				},
				"GlobalSiteUrl": {
					"defaultValue": "https://tasmusqcp.sharepoint.com/sites/cms-global",
					"type": "String"
				},
				"SectorsList": {
					"defaultValue": "Sectors",
					"type": "String"
				}
			}
		},
		"diagnosticLogsRetentionInDays": {
			"value": 365
		},
		"diagnosticStorageAccountId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.Storage/storageAccounts/stcpdappsdiagdevwe01"
		},
		"workspaceId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpd-apps-mon-dev-we-01"
		},
		"eventHubAuthorizationRuleId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-dev-we-01/authorizationrules/RootManageSharedAccessKey"
		},
		"eventHubName": {
			"value": "evh-cpd-apps-mon-dev-we-01"
		},
		"tags": {
			"value": {
				"Environment": "Development"
			}
		},
		"connectionParameters": {
			"value": {
				"$connections": {
					"value": {
						"apicon-cpd-apps-integ-dev-we-01": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-integ-dev-we-01",
							"connectionName": "apicon-cpd-apps-integ-dev-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
						},
						"apicon-cpd-apps-intspo-dev-we-01": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-dev-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intspo-dev-we-01",
							"connectionName": "apicon-cpd-apps-intspo-dev-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
						}
					}
				}
			}
		}
	}
}