Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-cogsrch-dev-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-cogsrch-dev-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook",
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "product-created",
                    "product-updated",
                    "kbarticle-created",
                    "kbarticle-updated",
                    "news-created"
                  ]
                },
                "topic": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-temp-sbx-we-02/providers/Microsoft.EventGrid/topics/evg-cpd-temp-sbx-we-01"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('d0694def-b27e-4bb7-900d-437fbeb802da')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
            "queries": {
              "x-ms-api-version": "2017-09-15-preview"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Perform_action_as_per_eventtype": {
          "actions": {
            "Get_Product_Details": {
              "runAfter": {},
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{triggerBody()?['data']['apiurl']}"
              }
            },
            "Get_Product_Details_AR": {
              "runAfter": {
                "Send_Product_Details_to_Azure_Search": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "queries": {
                  "lang": "ar"
                },
                "uri": "@{triggerBody()?['data']['apiurl']}"
              }
            },
            "Parse_Product_JSON": {
              "runAfter": {
                "Get_Product_Details": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Product_Details')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": ["string", "null"]
                    },
                    "imageUrl": {
                      "type": ["string", "null"]
                    },
                    "longDescription": {
                      "type": ["string", "null"]
                    },
                    "modifiedOn": {
                      "type": ["string", "null"]
                    },
                    "name": {
                      "type": ["string", "null"]
                    },
                    "productPrice": {
                      "type": ["integer", "null"]
                    },
                    "providerName": {
                      "type": ["string", "null"]
                    },
                    "rating": {
                      "type": ["number", "null"]
                    },
                    "reviewsCount": {
                      "type": ["number", "null"]
                    },
                    "sectorNames": {
                      "items": {
                        "type": ["string", "null"]
                      },
                      "type": "array"
                    },
                    "shortDescription": {
                      "type": ["string", "null"]
                    },
                    "featuredProduct": {
                      "type": ["boolean", "null"]
                    },
                    "popularProduct": {
                      "type": ["boolean", "null"]
                    },
                    "popularityRating": {
                      "type": ["number", "null"]
                    },
                    "priceOverview": {
                      "type": ["string", "null"]
                    },
                    "productCategoryName": {
                      "type": ["string", "null"]
                    },
                    "productSubCategoryName": {
                      "type": ["string", "null"]
                    },
                    "typeOfServiceId": {
                      "type": ["number", "null"]
                    },
                    "providerId": {
                      "type": ["string", "null"]
                    },
                    "productStructureId": {
                      "type": ["number", "null"]
                    },
                    "catalogueTypeId": {
                      "type": ["number", "null"]
                    },
                    "customerSegmentIds": {
                      "items": {
                        "type": ["number", "null"]
                      },
                      "type": "array"
                    },
                    "content":{
                      "type": ["string", "null"]
                    },
                    "metadata_title":{
                      "type": ["string", "null"]
                    },
                    "personas": {
                      "items": {
                        "type": ["string", "null"]
                      },
                      "type": "array"
                    }
                    
                  },
                  "type": "object"
                }
              }
            },
            "Parse_Product_JSON_AR": {
              "runAfter": {
                "Get_Product_Details_AR": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Get_Product_Details_AR')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": ["string", "null"]
                    },
                    "imageUrl": {
                      "type": ["string", "null"]
                    },
                    "longDescription": {
                      "type": ["string", "null"]
                    },
                    "modifiedOn": {
                      "type": ["string", "null"]
                    },
                    "name": {
                      "type": ["string", "null"]
                    },
                    "productPrice": {
                      "type": ["integer", "null"]
                    },
                    "providerName": {
                      "type": ["string", "null"]
                    },
                    "rating": {
                      "type": ["number", "null"]
                    },
                    "reviewsCount": {
                      "type": ["number", "null"]
                    },
                    "sectorNames": {
                      "items": {
                        "type": ["string", "null"]
                      },
                      "type": "array"
                    },
                    "shortDescription": {
                      "type": ["string", "null"]
                    },
                    "featuredProduct": {
                      "type": ["boolean", "null"]
                    },
                    "popularProduct": {
                      "type": ["boolean", "null"]
                    },
                    "popularityRating": {
                      "type": ["number", "null"]
                    },
                    "priceOverview": {
                      "type": ["string", "null"]
                    },
                    "productCategoryName": {
                      "type": ["string", "null"]
                    },
                    "productSubCategoryName": {
                      "type": ["string", "null"]
                    },
                    "typeOfServiceId": {
                      "type": ["number", "null"]
                    },
                    "providerId": {
                      "type": ["string", "null"]
                    },
                    "productStructureId": {
                      "type": ["number", "null"]
                    },
                    "catalogueTypeId": {
                      "type": ["number", "null"]
                    },
                    "customerSegmentIds": {
                      "items": {
                        "type": ["number", "null"]
                      },
                      "type": "array"
                    },
                    "content":{
                      "type": ["string", "null"]
                    },
                    "metadata_title":{
                      "type": ["string", "null"]
                    },
                    "personas": {
                      "items": {
                        "type": ["string", "null"]
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Select_Product_Details": {
              "runAfter": {
                "Parse_Product_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(body('Parse_Product_JSON'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(body('Parse_Product_JSON')?['rating'],'')",
                  "entity_type": "Products & Services",
                  "language": "en",
                  "id": "@body('Parse_Product_JSON')?['id']",
                  "merged_content": "@concat(body('Parse_Product_JSON')?['longDescription'],body('Parse_Product_JSON')?['shortDescription'])",
                  "metadata_creation_date": "@utcNow()",
                  "metadata_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_name": "@body('Parse_Product_JSON')?['name']",
                  "number_of_rating": "@concat(body('Parse_Product_JSON')?['reviewsCount'],'')",
                  "price": "@concat(body('Parse_Product_JSON')?['productPrice'],'')",
                  "provider_name": "@body('Parse_Product_JSON')?['providerName']",
                  "search_id": "@concat('ProductsServices-',body('Parse_Product_JSON')['id'])",
                  "sector": "@body('Parse_Product_JSON')?['sectorNames']",
                  "short_description": "@body('Parse_Product_JSON')?['shortDescription']",
                  "thumbnail_url": "@body('Parse_Product_JSON')?['imageUrl']",
                  "featuredProduct": "@body('Parse_Product_JSON')?['featuredProduct']",
                  "popularProduct": "@body('Parse_Product_JSON')?['popularProduct']",
                  "popularityRating": "@body('Parse_Product_JSON')?['popularityRating']",
                  "priceOverview": "@body('Parse_Product_JSON')?['priceOverview']",
                  "productCategoryName": "@body('Parse_Product_JSON')?['productCategoryName']",
                  "productSubCategoryName": "@body('Parse_Product_JSON')?['productSubCategoryName']",
                  "typeOfServiceId": "@body('Parse_Product_JSON')?['typeOfServiceId']",
                  "providerId":"@body('Parse_Product_JSON')?['providerId']",
                  "productStructureId":"@body('Parse_Product_JSON')?['productStructureId']",
                  "catalogueTypeId":"@body('Parse_Product_JSON')?['catalogueTypeId']",
                  "customerSegmentIds":"@body('Parse_Product_JSON')?['customerSegmentIds']",
                  "content":"@body('Parse_Product_JSON')?['longDescription']",
                  "metadata_title":"@body('Parse_Product_JSON')?['name']",
                  "personas": "@body('Parse_Product_JSON')?['personas']"
                }
              }
            },
            "Select_Product_Details_AR": {
              "runAfter": {
                "Parse_Product_JSON_AR": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(body('Parse_Product_JSON_AR'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(body('Parse_Product_JSON_AR')?['rating'],'')",
                  "entity_type": "Products & Services",
                  "language": "ar",
                  "id": "@body('Parse_Product_JSON_AR')?['id']",
                  "merged_content": "@concat(body('Parse_Product_JSON_AR')?['longDescription'],body('Parse_Product_JSON_AR')?['shortDescription'])",
                  "metadata_creation_date": "@utcNow()",
                  "metadata_last_modified": "@body('Parse_Product_JSON_AR')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@body('Parse_Product_JSON_AR')?['modifiedOn']",
                  "metadata_storage_name": "@body('Parse_Product_JSON_AR')?['name']",
                  "number_of_rating": "@concat(body('Parse_Product_JSON')?['reviewsCount'],'')",
                  "price": "@concat(body('Parse_Product_JSON_AR')?['productPrice'],'')",
                  "provider_name": "@body('Parse_Product_JSON_AR')?['providerName']",
                  "search_id": "@concat('ProductsServicesAr-',body('Parse_Product_JSON_AR')['id'])",
                  "sector": "@body('Parse_Product_JSON_AR')?['sectorNames']",
                  "short_description": "@body('Parse_Product_JSON_AR')?['shortDescription']",
                  "thumbnail_url": "@body('Parse_Product_JSON_AR')?['imageUrl']",
                  "featuredProduct": "@body('Parse_Product_JSON_AR')?['featuredProduct']",
                  "popularProduct": "@body('Parse_Product_JSON_AR')?['popularProduct']",
                  "popularityRating": "@body('Parse_Product_JSON_AR')?['popularityRating']",
                  "priceOverview": "@body('Parse_Product_JSON_AR')?['priceOverview']",
                  "productCategoryName": "@body('Parse_Product_JSON_AR')?['productCategoryName']",
                  "productSubCategoryName": "@body('Parse_Product_JSON_AR')?['productSubCategoryName']",
                  "typeOfServiceId": "@body('Parse_Product_JSON_AR')?['typeOfServiceId']",
                  "providerId":"@body('Parse_Product_JSON')?['providerId']",
                  "productStructureId":"@body('Parse_Product_JSON')?['productStructureId']",
                  "catalogueTypeId":"@body('Parse_Product_JSON')?['catalogueTypeId']",
                  "customerSegmentIds":"@body('Parse_Product_JSON')?['customerSegmentIds']",
                  "content":"@body('Parse_Product_JSON')?['longDescription']",
                  "metadata_title":"@body('Parse_Product_JSON')?['name']",
                  "personas": "@body('Parse_Product_JSON')?['personas']"
                }
              }
            },
            "Send_Product_Details_to_Azure_Search": {
              "runAfter": {
                "Select_Product_Details": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details')"
                },
                "headers": {
                  "api-key": "",
                  "content-type": "application/json",
                  "Accept": "*/*"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            },
            "Send_Product_Details_to_Azure_Search_AR": {
              "runAfter": {
                "Select_Product_Details_AR": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details_AR')"
                },
                "headers": {
                  "api-key": "",
                  "content-type": "application/json",
                  "Accept": "*/*"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Condition": {
                "actions": {
                  "Get_KB_Details": {
                    "runAfter": {},
                    "type": "Http",
                    "inputs": {
                      "method": "GET",
                      "uri": "@{triggerBody()['data']['apiurl']}"
                    }
                  },
                  "Parse_KB_JSON": {
                    "runAfter": {
                      "Get_KB_Details": [
                        "Succeeded"
                      ]
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Get_KB_Details')",
                      "schema": {
                        "properties": {
                          "content": {
                            "type": ["string", "null"]
                          },
                          "description": {
                            "type": ["string", "null"]
                          },
                          "id": {
                            "type": ["string", "null"]
                          },
                          "rating": {
                            "type": ["string", "null"]
                          },
                          "title": {
                            "type": ["string", "null"]
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "Select_KB_Details": {
                    "runAfter": {
                      "Parse_KB_JSON": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@createArray(body('Parse_KB_JSON'))",
                      "select": {
                        "@@search.action": "mergeOrUpload",
                        "average_rating": "@body('Parse_KB_JSON')?['rating']",
                        "content": "@body('Parse_KB_JSON')?['content']",
                        "entity_type": "KbArticle",
                        "id": "@body('Parse_KB_JSON')?['id']",
                        "merged_content": "@concat(body('Parse_KB_JSON')?['content'],body('Parse_KB_JSON')?['description'])",
                        "metadata_creation_date": "@utcNow()",
                        "metadata_last_modified": "@utcNow()",
                        "metadata_storage_file_extension": "JSON",
                        "metadata_storage_last_modified": "@utcNow()",
                        "metadata_storage_name": "@body('Parse_KB_JSON')?['title']",
                        "search_id": "@concat('KbArticle-',body('Parse_KB_JSON')['id'])",
                        "short_description": "@body('Parse_KB_JSON')?['description']"
                      }
                    }
                  },
                  "Send_KB_Details_to_Azure_Search": {
                    "runAfter": {
                      "Select_KB_Details": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "body": {
                        "value": "@body('Select_KB_Details')"
                      },
                      "headers": {
                        "api-key": "",
                        "content-type": "application/json"
                      },
                      "method": "POST",
                      "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Get_News_Details": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "headers": {
                          "Ocp-Apim-Subscription-Key": "58290da37c3e42fe928a23e74c2781cc"
                        },
                        "method": "GET",
                        "queries": {
                          "Language": "en",
                          "api-version": "1.0"
                        },
                        "uri": "@{concat('http://dev-api.tasmu.trafficmanager.net/cmscontent/api/articles/',triggerBody()['data']['Id'])}"
                      }
                    },
                    "Get_News_Details_AR": {
                      "runAfter": {
                        "Send_News_Details_to_Azure_Search": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "headers": {
                          "Ocp-Apim-Subscription-Key": "58290da37c3e42fe928a23e74c2781cc"
                        },
                        "method": "GET",
                        "queries": {
                          "Language": "ar",
                          "api-version": "1.0"
                        },
                        "uri": "@{concat('http://dev-api.tasmu.trafficmanager.net/cmscontent/api/articles/',triggerBody()['data']['Id'])}"
                      }
                    },
                    "Parse_News_JSON": {
                      "runAfter": {
                        "Get_News_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_News_Details')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": ["string", "null"]
                            },
                            "longDescription": {
                              "type": ["string", "null"]
                            },
                            "modified": {
                              "type": ["string", "null"]
                            },
                            "publishedDate": {
                              "type": ["string", "null"]
                            },
                            "sectors": {
                              "items": {
                                "type": ["string", "null"]
                              },
                              "type": "array"
                            },
                            "shortDescription": {
                              "type": ["string", "null"]
                            },
                            "thumbnailImage": {
                              "type": ["string", "null"]
                            },
                            "title": {
                              "type": ["string", "null"]
                            },
														"personas": {
                              "items": {
															  "type": ["string", "null"]
															},
															"type": "array"
														},
														"keywords": {
															"items": {
															  "type": ["string", "null"]
															},
															"type": "array"
														}
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Parse_News_JSON_AR": {
                      "runAfter": {
                        "Get_News_Details_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_News_Details_AR')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": ["string", "null"]
                            },
                            "longDescription": {
                              "type": ["string", "null"]
                            },
                            "modified": {
                              "type": ["string", "null"]
                            },
                            "publishedDate": {
                              "type": ["string", "null"]
                            },
                            "sectors": {
                              "items": {
                                "type": ["string", "null"]
                              },
                              "type": "array"
                            },
                            "shortDescription": {
                              "type": ["string", "null"]
                            },
                            "thumbnailImage": {
                              "type": ["string", "null"]
                            },
                            "title": {
                              "type": ["string", "null"]
                            },
														"personas": {
                              "items": {
															  "type": ["string", "null"]
															},
															"type": "array"
														},
														"keywords": {
															"items": {
															  "type": ["string", "null"]
															},
															"type": "array"
														}
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select_News_Details": {
                      "runAfter": {
                        "Parse_News_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(body('Parse_News_JSON'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@body('Parse_News_JSON')?['id']",
                          "merged_content": "@concat(body('Parse_News_JSON')?['longDescription'],body('Parse_News_JSON')?['shortDescription'])",
                          "metadata_creation_date": "@body('Parse_News_JSON')?['publishedDate']",
                          "metadata_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_file_extension": "JSON",
                          "metadata_storage_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_name": "@body('Parse_News_JSON')?['title']",
                          "search_id": "@concat('News-',body('Parse_News_JSON')?['id'])",
                          "sector": "@body('Parse_News_JSON')?['sectors']",
                          "short_description": "@body('Parse_News_JSON')?['shortDescription']",
                          "thumbnail_url": "@body('Parse_News_JSON')?['thumbnailImage']",
													"personas": "@body('Parse_News_JSON')?['personas']",
													"keywords": "@body('Parse_News_JSON')?['keywords']"
                        }
                      }
                    },
                    "Select_News_Details_AR": {
                      "runAfter": {
                        "Parse_News_JSON_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(body('Parse_News_JSON_AR'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@body('Parse_News_JSON_AR')?['id']",
                          "merged_content": "@concat(body('Parse_News_JSON_AR')?['longDescription'],body('Parse_News_JSON_AR')?['shortDescription'])",
                          "metadata_creation_date": "@body('Parse_News_JSON_AR')?['publishedDate']",
                          "metadata_last_modified": "@body('Parse_News_JSON_AR')?['modified']",
                          "metadata_storage_name": "@body('Parse_News_JSON_AR')?['title']",
                          "search_id": "@concat('NewsAR-',body('Parse_News_JSON')?['id'])",
                          "sector": "@body('Parse_News_JSON_AR')?['sectors']",
                          "short_description": "@body('Parse_News_JSON_AR')?['shortDescription']",
                          "thumbnail_url": "@body('Parse_News_JSON_AR')?['thumbnailImage']",
													"personas": "@body('Parse_News_JSON')?['personas']",
													"keywords": "@body('Parse_News_JSON')?['keywords']"
                        }
                      }
                    },
                    "Send_News_Details_to_Azure_Search": {
                      "runAfter": {
                        "Select_News_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details')"
                        },
                        "headers": {
                          "api-key": "",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                      }
                    },
                    "Send_News_Details_to_Azure_Search_AR": {
                      "runAfter": {
                        "Select_News_Details_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details_AR')"
                        },
                        "headers": {
                          "api-key": "",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-dev-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                      }
                    }
                  }
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@triggerBody()?['eventType']",
                        "kbarticle-created"
                      ]
                    },
                    {
                      "equals": [
                        "@triggerBody()?['eventType']",
                        "kbarticle-updated"
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()?['eventType']",
                  "product-created"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['eventType']",
                  "product-updated"
                ]
              }
            ]
          },
          "type": "If"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "tags": {
      "value": {
        "Environment": "Development"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "azureeventgrid": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-temp-sandbox/providers/Microsoft.Web/connections/azureeventgrid",
              "connectionName": "azureeventgrid",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            }
          }
        }
      }
    }
  }
}