Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpp-apps-inttrsl-prd-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-inttrsl-prd-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_message_is_received_in_a_queue_(auto-complete)": {
          "recurrence": {
            "frequency": "Second",
            "interval": 10
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/@{encodeURIComponent(encodeURIComponent('changelog'))}/messages/head",
            "queries": {
              "queueType": "Main"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Check_For_Document_Or_Picture_Library": {
          "actions": {
            "Set_ListName_Append_Forms": {
              "inputs": {
                "name": "ListName",
                "value": "@{concat(replace(body('Parse_Service_Bus_Message_JSON')?['ListName'],' ',''),'/Forms')}"
              },
              "runAfter": {},
              "type": "SetVariable"
            }
          },
          "else": {
            "actions": {
              "Set_ListName_Remove_Spaces": {
                "inputs": {
                  "name": "ListName",
                  "value": "@{concat('Lists/', replace(body('Parse_Service_Bus_Message_JSON')?['ListName'],' ',''))}"
                },
                "runAfter": {},
                "type": "SetVariable"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('HeroWeb')"
                ]
              },
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('HeroMobile')"
                ]
              },
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['ListName']",
                  "@parameters('ProductMediaAssets')"
                ]
              }
            ]
          },
          "runAfter": {
            "Parse_Items_From_Global_Level_Task_List_JSON": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Check_for_inconsistent_item": {
          "actions": {
            "Delete_the_item": {
              "inputs": {
                "body": {
                  "headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "application/json",
                    "If-Match": "*",
                    "X-HTTP-Method": "DELETE"
                  },
                  "method": "POST",
                  "uri": "/_api/web/Lists/getbytitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/items(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Send_an_email_to_the_editor": {
              "inputs": {
                "body": {
                  "Body": "<p>@{variables('EditorItemDeleteEmailBody')}</p>",
                  "Subject": "Item Deleted - CMS",
                  "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Set_Delete_Email_Body": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Set_Delete_Email_Body": {
              "inputs": {
                "name": "EditorItemDeleteEmailBody",
                "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br> \n                                       \n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note, the item uploaded by you on @{body('Parse_Service_Bus_Message_JSON')?['ListName']} list/library at this <a href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}\">site</a>\n                                        has been deleted.</font> \n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please unblock/remove the properties of the document/image and try re-uploading.</font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Item Details :</font><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Title - <b>@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}</b></font>\n                                       \n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b>\n                                        </font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All\n                                                the assets need to be verified for licenses by content managers before\n                                                performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
              },
              "runAfter": {
                "Delete_the_item": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Terminate": {
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Send_an_email_to_the_editor": [
                  "Succeeded"
                ]
              },
              "type": "Terminate"
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@body('Parse_Service_Bus_Message_JSON')?['DeleteRequired']",
                  "@true"
                ]
              }
            ]
          },
          "runAfter": {
            "Set_ReminderCount": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Get_CertificatePassword": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-CertificatePassword')}/value"
          },
          "runAfter": {
            "Get_TenantId": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_CertificatePfxKey": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-CertificatePfxKey')}/value"
          },
          "runAfter": {
            "Initialize_TASMUMarketplacePortalURL": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_ClientId": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-ClientId')}/value"
          },
          "runAfter": {
            "Get_CertificatePfxKey": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "Get_Items_From_Global_Level_Task_List": {
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "/_api/web/lists/getByTitle('@{parameters('MyTasksList')}')/items?$select=ParentItemId,Id&$filter=(ParentSiteUrl eq '@{body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL']}' ) and (ParentItemId eq '@{body('Parse_Service_Bus_Message_JSON')?['ItemGUID']}') and TASMUTaskStatusInternal eq 'Active'"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL']))}/httprequest"
          },
          "runAfter": {
            "Get_Items_From_Task_List": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Get_Items_From_Task_List": {
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "/_api/web/lists/getByTitle('@{parameters('MyTasksList')}')/items?$select=ParentItemId,Id&$filter=(ParentSiteUrl eq '@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}' ) and (ParentItemId eq '@{body('Parse_Service_Bus_Message_JSON')?['ItemGUID']}') and TASMUTaskStatusInternal eq 'Active'"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
          },
          "runAfter": {
            "Check_for_inconsistent_item": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection"
        },
        "Get_TenantId": {
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-intkv-prd-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('Cms-Function-TenantId')}/value"
          },
          "runAfter": {
            "Get_ClientId": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "inputs",
                "outputs"
              ]
            }
          },
          "type": "ApiConnection"
        },
        "If_Task_List_And_Global_Task_List_Has_Items": {
          "actions": {
            "Check_If_Reminder": {
              "actions": {
                "Create_Task_In_MyTasks_For_Translation": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"Title\":\"Translation Task - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\",\n\"cmsAssignedToUserId\": @{variables('TranslatorsUserId')},\n\"ParentSiteUrl\":\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}\",\n\"ParentItemId\":\"@{body('Parse_Service_Bus_Message_JSON')?['ItemGUID']}\",\n\"TASMUTaskStatusInternal\":\"Active\",\n\"ContentTypeId\":\"@{variables('TranslationContentTypeId')}\",\n\"ParentItemLink\": {'Description': '', 'Url': '@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/DispForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}'},\n\"PreviewUrl\": {'Description':'', 'Url': '@{body('Parse_Service_Bus_Message_JSON')?['PreviewURL']}'},\n\"arPreviewUrl\": {'Description':'', 'Url':'@{body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL']}'},\n\"ListName\": \"@{body('Parse_Service_Bus_Message_JSON')?['ListName']}\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/items?$select=Id"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                },
                "Get_List_Columns_for_Auto_Translation": {
                  "inputs": {
                    "body": {
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json"
                      },
                      "method": "GET",
                      "uri": "/_api/web/lists/getbytitle('@{parameters('TranslateConfigListName')}')/items?$select=EngColumnName,ArColumnName,TextType&$filter=ListName eq '@{body('Parse_Service_Bus_Message_JSON')?['ListName']}'"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL']))}/httprequest"
                  },
                  "runAfter": {
                    "Update_Item_Status_To_Pending_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "If_there_are_any_columns_for_auto_translation": {
                  "actions": {
                    "Final_TranslationColumnString": {
                      "inputs": "@substring(variables('TranslateColumnsString'),0,sub(length(variables('TranslateColumnsString')),1))",
                      "runAfter": {
                        "Until_Loop_to_set_TranslationColumnString": [
                          "Succeeded"
                        ]
                      },
                      "type": "Compose"
                    },
                    "Get_Column_Data_for_AutoTranslation": {
                      "inputs": {
                        "body": {
                          "headers": {
                            "Accept": "application/json;odata=nometadata",
                            "Content-Type": "application/json"
                          },
                          "method": "GET",
                          "uri": "/_api/web/lists/getbytitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/items(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})?$select=@{outputs('Final_TranslationColumnString')}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                      },
                      "runAfter": {
                        "Final_TranslationColumnString": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    },
                    "Send_Arabic_translated_data_of_plain_type_to_sharepoint": {
                      "inputs": {
                        "body": {
                          "body": "@{variables('TranslatedObject')}",
                          "headers": {
                            "Accept": "application/json;odata=verbose",
                            "Content-Type": "application/json",
                            "If-Match": "*",
                            "X-HTTP-Method": "MERGE"
                          },
                          "method": "POST",
                          "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                      },
                      "runAfter": {
                        "Until_AutoTranslation_is_done": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    },
                    "Set_IncrementVariable_to_0": {
                      "inputs": {
                        "name": "IncrementVariableForUntilLoop",
                        "value": 0
                      },
                      "runAfter": {
                        "Get_Column_Data_for_AutoTranslation": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "Set_TranslatedObject": {
                      "inputs": {
                        "name": "TranslatedObject",
                        "value": {}
                      },
                      "runAfter": {
                        "Set_IncrementVariable_to_0": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    },
                    "Until_AutoTranslation_is_done": {
                      "actions": {
                        "ArabicColumnData": {
                          "inputs": "@body('Get_column_data_for_AutoTranslation')?[outputs('ArabicColumnName')]",
                          "runAfter": {
                            "EnglishColumnData": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "ArabicColumnName": {
                          "inputs": "@body('Parse_List_Columns_for_auto_translation')?['value'][variables('IncrementVariableForUntilLoop')]?['ArColumnName']",
                          "runAfter": {
                            "EnglishColumnName": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "EnglishColumnData": {
                          "inputs": "@body('Get_column_data_for_AutoTranslation')?[outputs('EnglishColumnName')]",
                          "runAfter": {
                            "TextTypeOfColumn": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        },
                        "EnglishColumnName": {
                          "inputs": "@body('Parse_List_Columns_for_auto_translation')?['value'][variables('IncrementVariableForUntilLoop')]?['EngColumnName']",
                          "runAfter": {},
                          "type": "Compose"
                        },
                        "If_Arabic_Column_is_empty": {
                          "actions": {
                            "Check_column_text_type": {
                              "actions": {
                                "Compose_set_and_add_property_for_Translation_plain_text_object": {
                                  "inputs": "@addProperty(variables('TranslatedObject'),outputs('ArabicColumnName'),variables('TranslatedPlain'))",
                                  "runAfter": {
                                    "Set_variable_TranslatedPlain": [
                                      "Succeeded",
                                      "Failed"
                                    ]
                                  },
                                  "type": "Compose"
                                },
                                "Set_TranslatedPlain_to_empty_string": {
                                  "inputs": {
                                    "name": "TranslatedPlain",
                                    "value": "@{trim('')}"
                                  },
                                  "runAfter": {
                                    "Compose_set_and_add_property_for_Translation_plain_text_object": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "SetVariable"
                                },
                                "Set_Translated_Plain_text_object": {
                                  "inputs": {
                                    "name": "TranslatedObject",
                                    "value": "@outputs('Compose_set_and_add_property_for_Translation_plain_text_object')"
                                  },
                                  "runAfter": {
                                    "Set_TranslatedPlain_to_empty_string": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "SetVariable"
                                },
                                "Set_variable_TranslatedPlain": {
                                  "inputs": {
                                    "name": "TranslatedPlain",
                                    "value": "@body('Translate_plain_text_type')"
                                  },
                                  "runAfter": {
                                    "Translate_plain_text_type": [
                                      "Succeeded",
                                      "Failed"
                                    ]
                                  },
                                  "type": "SetVariable"
                                },
                                "Translate_plain_text_type": {
                                  "inputs": {
                                    "body": {
                                      "Text": "@{outputs('EnglishColumnData')}"
                                    },
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['apicon-cpp-apps-intcog-prd-we-01']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "path": "/Translate",
                                    "queries": {
                                      "to": "ar"
                                    }
                                  },
                                  "runAfter": {},
                                  "type": "ApiConnection"
                                }
                              },
                              "else": {
                                "actions": {
                                  "Send_enriched_text_html_translated_data_to_sharepoint": {
                                    "inputs": {
                                      "body": {
                                        "body": "{\"@{outputs('ArabicColumnName')}\":'@{replace(variables('TranslatedHTML'),'''','&apos;')}'}",
                                        "headers": {
                                          "Accept": "application/json;odata=verbose",
                                          "Content-Type": "application/json",
                                          "If-Match": "*",
                                          "X-HTTP-Method": "MERGE"
                                        },
                                        "method": "POST",
                                        "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                                    },
                                    "runAfter": {
                                      "Set_TranslatedHTML_string": [
                                        "Succeeded",
                                        "Failed"
                                      ]
                                    },
                                    "type": "ApiConnection"
                                  },
                                  "Set_TranslatedHTML_string": {
                                    "inputs": {
                                      "name": "TranslatedHTML",
                                      "value": "@body('Translate_text_HTML_type')"
                                    },
                                    "runAfter": {
                                      "Translate_text_HTML_type": [
                                        "Succeeded",
                                        "Failed"
                                      ]
                                    },
                                    "type": "SetVariable"
                                  },
                                  "Set_TranslatedHTML_string_to_empty": {
                                    "inputs": {
                                      "name": "TranslatedHTML",
                                      "value": "@{trim('')}"
                                    },
                                    "runAfter": {
                                      "Send_enriched_text_html_translated_data_to_sharepoint": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "SetVariable"
                                  },
                                  "Translate_text_HTML_type": {
                                    "inputs": {
                                      "body": {
                                        "Text": "@{trim(replace(outputs('EnglishColumnData'),'''','&apos;'))}"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['apicon-cpp-apps-intcog-prd-we-01']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/Translate",
                                      "queries": {
                                        "textType": "@{outputs('TextTypeOfColumn')}",
                                        "to": "ar"
                                      }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                  }
                                }
                              },
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@outputs('TextTypeOfColumn')",
                                      "plain"
                                    ]
                                  }
                                ]
                              },
                              "runAfter": {},
                              "type": "If"
                            },
                            "Increment_variable_2": {
                              "inputs": {
                                "name": "IncrementVariableForUntilLoop",
                                "value": 1
                              },
                              "runAfter": {
                                "Check_column_text_type": [
                                  "Succeeded"
                                ]
                              },
                              "type": "IncrementVariable"
                            }
                          },
                          "else": {
                            "actions": {
                              "Increment_variable_for_until_loop": {
                                "inputs": {
                                  "name": "IncrementVariableForUntilLoop",
                                  "value": 1
                                },
                                "runAfter": {},
                                "type": "IncrementVariable"
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@body('Get_column_data_for_AutoTranslation')?[outputs('ArabicColumnName')]",
                                  "@null"
                                ]
                              }
                            ]
                          },
                          "runAfter": {
                            "ArabicColumnData": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        },
                        "TextTypeOfColumn": {
                          "inputs": "@body('Parse_List_Columns_for_auto_translation')?['value'][variables('IncrementVariableForUntilLoop')]?['TextType']",
                          "runAfter": {
                            "ArabicColumnName": [
                              "Succeeded"
                            ]
                          },
                          "type": "Compose"
                        }
                      },
                      "expression": "@equals(variables('IncrementVariableForUntilLoop'), variables('NumberOfColumnsToTranslate'))",
                      "limit": {
                        "count": 60,
                        "timeout": "PT1H"
                      },
                      "runAfter": {
                        "Set_TranslatedObject": [
                          "Succeeded"
                        ]
                      },
                      "type": "Until"
                    },
                    "Until_Loop_to_set_TranslationColumnString": {
                      "actions": {
                        "Append_to_TranslateColumnsString": {
                          "inputs": {
                            "name": "TranslateColumnsString",
                            "value": "@{body('Parse_List_Columns_for_auto_translation')?['value'][variables('IncrementVariableForUntilLoop')]?['EngColumnName']},@{body('Parse_List_Columns_for_auto_translation')?['value'][variables('IncrementVariableForUntilLoop')]?['ArColumnName']},"
                          },
                          "runAfter": {},
                          "type": "AppendToStringVariable"
                        },
                        "Increment_variable": {
                          "inputs": {
                            "name": "IncrementVariableForUntilLoop",
                            "value": 1
                          },
                          "runAfter": {
                            "Append_to_TranslateColumnsString": [
                              "Succeeded"
                            ]
                          },
                          "type": "IncrementVariable"
                        }
                      },
                      "expression": "@equals(variables('IncrementVariableForUntilLoop'), variables('NumberOfColumnsToTranslate'))",
                      "limit": {
                        "count": 60,
                        "timeout": "PT1H"
                      },
                      "runAfter": {},
                      "type": "Until"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "greater": [
                          "@variables('NumberOfColumnsToTranslate')",
                          0
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Set_NumberOfColumnsToTranslatate": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                },
                "Parse_List_Columns_for_auto_translation": {
                  "inputs": {
                    "content": "@body('Get_List_Columns_for_Auto_Translation')",
                    "schema": {
                      "properties": {
                        "value": {
                          "items": {
                            "properties": {
                              "ArColumnName": {
                                "type": "string"
                              },
                              "EngColumnName": {
                                "type": "string"
                              },
                              "TextType": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "EngColumnName",
                              "ArColumnName",
                              "TextType"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {
                    "Get_List_Columns_for_Auto_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Parse_Users_Task_For_Translation_JSON": {
                  "inputs": {
                    "content": "@body('Create_Task_In_MyTasks_For_Translation')",
                    "schema": {
                      "properties": {
                        "ID": {
                          "type": "integer"
                        },
                        "Id": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {
                    "Create_Task_In_MyTasks_For_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Send_an_email_(V2)_Translation_Request": {
                  "inputs": {
                    "body": {
                      "Body": "<p>@{variables('EmailBody')}</p>",
                      "Importance": "High",
                      "Subject": "Translation Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                      "To": "@variables('TranslatorsEmail')"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {
                    "Set_EditorEmailBody_Translation_Request_Notification": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Send_an_email_(V2)_Translation_Request_Notification": {
                  "inputs": {
                    "body": {
                      "Body": "<p>@{variables('EditorEmailBody')}</p>",
                      "Subject": "Translation Request- @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                      "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {
                    "Send_an_email_(V2)_Translation_Request": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Set_EditorEmailBody_Translation_Request_Notification": {
                  "inputs": {
                    "name": "EditorEmailBody",
                    "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been received for translation.</font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b>\n                                        </font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All\n                                                the assets need to be verified for licenses by content managers before\n                                                performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                  },
                  "runAfter": {
                    "Set_EmailBody_Translation_Request": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_EmailBody_Translation_Request": {
                  "inputs": {
                    "name": "EmailBody",
                    "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Translator,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been received for translation.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to review or update translation.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Click <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/SitePages/MyTasks.aspx?TaskId=@{variables('TaskID')}\">here</a>\n                                            to view the task.\n                                        </font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b>\n                                        </font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All\n                                                the assets need to be verified for licenses by content managers before\n                                                performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                  },
                  "runAfter": {
                    "If_there_are_any_columns_for_auto_translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_NumberOfColumnsToTranslatate": {
                  "inputs": {
                    "name": "NumberOfColumnsToTranslate",
                    "value": "@length(body('Parse_List_Columns_for_auto_translation')?['value'])"
                  },
                  "runAfter": {
                    "Parse_List_Columns_for_auto_translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_TaskID": {
                  "inputs": {
                    "name": "TaskID",
                    "value": "@{body('Parse_Users_Task_For_Translation_JSON')?['ID']}"
                  },
                  "runAfter": {
                    "Parse_Users_Task_For_Translation_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Update_Item_Status_To_Pending_Translation": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"ContentStatus\":\"Pending Translation\",\n\"RequiresTranslation\":\"false\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {
                    "Set_TaskID": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                }
              },
              "else": {
                "actions": {
                  "Check_ReminderCount": {
                    "actions": {
                      "Send_an_email_(V2)_Auto_Rejected": {
                        "inputs": {
                          "body": {
                            "Body": "<p>@{variables('EmailBody')}</p>",
                            "Subject": "Content Auto Rejected - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                            "To": "@variables('TranslatorsEmail')"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/v2/Mail"
                        },
                        "runAfter": {
                          "Set_EmailBody_Auto_Rejection": [
                            "Succeeded"
                          ]
                        },
                        "type": "ApiConnection"
                      },
                      "Set_EmailBody_Auto_Rejection": {
                        "inputs": {
                          "name": "EmailBody",
                          "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Translator,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been auto rejected.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to view the content.\n                                        </font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b>\n                                        </font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All\n                                                the assets need to be verified for licenses by content managers before\n                                                performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                        },
                        "runAfter": {
                          "Update_ItemStatus_to_Rejected": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable"
                      },
                      "Terminate_After_Reminder_Limit": {
                        "inputs": {
                          "runStatus": "Succeeded"
                        },
                        "runAfter": {
                          "Send_an_email_(V2)_Auto_Rejected": [
                            "Succeeded"
                          ]
                        },
                        "type": "Terminate"
                      },
                      "Update_ItemStatus_to_Rejected": {
                        "inputs": {
                          "body": {
                            "body": "{\n\"ContentStatus\":\"Rejected\",\n\"RequiresTranslation\":\"False\"\n}",
                            "headers": {
                              "Accept": "application/json;odata=verbose",
                              "Content-Type": "application/json",
                              "If-Match": "*",
                              "X-HTTP-Method": "MERGE"
                            },
                            "method": "POST",
                            "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                        },
                        "runAfter": {
                          "Update_TaskStatus_to_Rejected": [
                            "Succeeded"
                          ]
                        },
                        "type": "ApiConnection"
                      },
                      "Update_TaskStatus_to_Rejected": {
                        "inputs": {
                          "body": {
                            "body": "{\n\"TASMUTaskStatusInternal\":\"Rejected\",\n\"TASMUTaskStatus\":\"Rejected\"\n}",
                            "headers": {
                              "Accept": "application/json;odata=verbose",
                              "Content-Type": "application/json",
                              "If-Match": "*",
                              "X-HTTP-Method": "MERGE"
                            },
                            "method": "POST",
                            "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                          },
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@variables('ReminderCount')",
                            30
                          ]
                        }
                      ]
                    },
                    "runAfter": {
                      "Set_EmailBody_Reminder": [
                        "Succeeded"
                      ]
                    },
                    "type": "If"
                  },
                  "Set_EmailBody_Reminder": {
                    "inputs": {
                      "name": "EmailBody",
                      "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Translator,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been received for translation.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to review or update translation.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Click <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/SitePages/MyTasks.aspx?TaskId=@{variables('TaskID')}\">here</a>\n                                            to view the task.\n                                        </font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b>\n                                        </font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All\n                                                the assets need to be verified for licenses by content managers before\n                                                performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                    },
                    "runAfter": {
                      "Set_TaskID_Reminder": [
                        "Succeeded"
                      ]
                    },
                    "type": "SetVariable"
                  },
                  "Set_TaskID_Reminder": {
                    "inputs": {
                      "name": "TaskID",
                      "value": "@{body('Parse_Service_Bus_Message_JSON')?['TaskId']}"
                    },
                    "runAfter": {},
                    "type": "SetVariable"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Reminder')",
                      "@false"
                    ]
                  },
                  {
                    "less": [
                      "@variables('ReminderCount')",
                      30
                    ]
                  }
                ]
              },
              "runAfter": {
                "Loop_To_Get_TranslationContentTypeId": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Delay_5_Seconds_After_Finish_Translation": {
              "inputs": {
                "interval": {
                  "count": 5,
                  "unit": "Second"
                }
              },
              "runAfter": {
                "Until_Task_Status_Is_Set_Finish_Translation": [
                  "Succeeded"
                ]
              },
              "type": "Wait"
            },
            "Delay_5_Seconds_After_Start_Translation": {
              "inputs": {
                "interval": {
                  "count": 5,
                  "unit": "Second"
                }
              },
              "runAfter": {
                "Until_Task_Status_Is_Start_Translation": [
                  "Succeeded"
                ]
              },
              "type": "Wait"
            },
            "Expand_users_and_append": {
              "actions": {
                "Check_for_user": {
                  "actions": {
                    "Append_to_TranslatorsEmail": {
                      "inputs": {
                        "name": "TranslatorsEmail",
                        "value": "@{items('Expand_users_and_append')?['Email']};"
                      },
                      "runAfter": {},
                      "type": "AppendToStringVariable"
                    },
                    "Append_to_TranslatorsUserId": {
                      "inputs": {
                        "name": "TranslatorsUserId",
                        "value": "@items('Expand_users_and_append')?['Id']"
                      },
                      "runAfter": {
                        "Append_to_TranslatorsEmail": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable"
                    }
                  },
                  "else": {
                    "actions": {
                      "Check_for_AAD_or_Microsoft_365_Group": {
                        "actions": {
                          "For_each_group_member": {
                            "actions": {
                              "Check_for_null_value_in_mail": {
                                "actions": {
                                  "Add_User_Id_to_TranslatorsUserId": {
                                    "actions": {
                                      "Append_to_TranslatorsUserId_2": {
                                        "inputs": {
                                          "name": "TranslatorsUserId",
                                          "value": "@items('Add_User_Id_to_TranslatorsUserId')?['Id']"
                                        },
                                        "runAfter": {},
                                        "type": "AppendToArrayVariable"
                                      }
                                    },
                                    "foreach": "@body('Parse_Site_User_Response')?['value']",
                                    "runAfter": {
                                      "Append_to_TranslatorsEmail_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach"
                                  },
                                  "Append_to_TranslatorsEmail_2": {
                                    "inputs": {
                                      "name": "TranslatorsEmail",
                                      "value": "@{items('For_each_group_member')?['mail']};"
                                    },
                                    "runAfter": {
                                      "Parse_Site_User_Response": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "AppendToStringVariable"
                                  },
                                  "Get_Site_User_Id": {
                                    "inputs": {
                                      "body": {
                                        "headers": {
                                          "Accept": "application/json;odata=nometadata",
                                          "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "uri": "/_api/web/siteusers?$filter=Email eq '@{items('For_each_group_member')?['mail']}'"
                                      },
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                  },
                                  "Parse_Site_User_Response": {
                                    "inputs": {
                                      "content": "@body('Get_Site_User_Id')",
                                      "schema": {
                                        "properties": {
                                          "value": {
                                            "items": {
                                              "properties": {
                                                "Email": {
                                                  "type": "string"
                                                },
                                                "Expiration": {
                                                  "type": "string"
                                                },
                                                "Id": {
                                                  "type": "integer"
                                                },
                                                "IsEmailAuthenticationGuestUser": {
                                                  "type": "boolean"
                                                },
                                                "IsHiddenInUI": {
                                                  "type": "boolean"
                                                },
                                                "IsShareByEmailGuestUser": {
                                                  "type": "boolean"
                                                },
                                                "IsSiteAdmin": {
                                                  "type": "boolean"
                                                },
                                                "LoginName": {
                                                  "type": "string"
                                                },
                                                "PrincipalType": {
                                                  "type": "integer"
                                                },
                                                "Title": {
                                                  "type": "string"
                                                },
                                                "UserId": {
                                                  "properties": {
                                                    "NameId": {
                                                      "type": "string"
                                                    },
                                                    "NameIdIssuer": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "UserPrincipalName": {
                                                  "type": "string"
                                                }
                                              },
                                              "required": [
                                                "Id",
                                                "IsHiddenInUI",
                                                "LoginName",
                                                "Title",
                                                "PrincipalType",
                                                "Email",
                                                "Expiration",
                                                "IsEmailAuthenticationGuestUser",
                                                "IsShareByEmailGuestUser",
                                                "IsSiteAdmin",
                                                "UserId",
                                                "UserPrincipalName"
                                              ],
                                              "type": "object"
                                            },
                                            "type": "array"
                                          }
                                        },
                                        "type": "object"
                                      }
                                    },
                                    "runAfter": {
                                      "Get_Site_User_Id": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ParseJson"
                                  }
                                },
                                "expression": {
                                  "and": [
                                    {
                                      "not": {
                                        "equals": [
                                          "@items('For_each_group_member')?['mail']",
                                          null
                                        ]
                                      }
                                    }
                                  ]
                                },
                                "runAfter": {},
                                "type": "If"
                              }
                            },
                            "foreach": "@body('Parse_Group_Member_JSON')?['value']",
                            "runAfter": {
                              "Parse_Group_Member_JSON": [
                                "Succeeded"
                              ]
                            },
                            "type": "Foreach"
                          },
                          "Get_Group_Members": {
                            "inputs": {
                              "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "authority": "https://login.microsoft.com",
                                "clientId": "@body('Get_ClientId')?['value']",
                                "password": "@body('Get_CertificatePassword')?['value']",
                                "pfx": "@body('Get_CertificatePfxKey')?['value']",
                                "tenant": "@body('Get_TenantId')?['value']",
                                "type": "ActiveDirectoryOAuth"
                              },
                              "method": "GET",
                              "uri": "https://graph.microsoft.com/v1.0/groups/@{last(split(items('Expand_users_and_append')?['LoginName'],'|'))}/members"
                            },
                            "runAfter": {},
                            "type": "Http"
                          },
                          "Parse_Group_Member_JSON": {
                            "inputs": {
                              "content": "@body('Get_Group_Members')",
                              "schema": {
                                "properties": {
                                  "@@odata.context": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "items": {
                                      "properties": {
                                        "@@odata.type": {
                                          "type": "string"
                                        },
                                        "businessPhones": {
                                          "items": {
                                            "type": [
                                              "string",
                                              "null"
                                            ]
                                          },
                                          "type": "array"
                                        },
                                        "displayName": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "givenName": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "jobTitle": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "mail": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "mobilePhone": {},
                                        "officeLocation": {},
                                        "preferredLanguage": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "surname": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        },
                                        "userPrincipalName": {
                                          "type": [
                                            "string",
                                            "null"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "@@odata.type",
                                        "id",
                                        "businessPhones",
                                        "displayName",
                                        "givenName",
                                        "jobTitle",
                                        "mail",
                                        "mobilePhone",
                                        "officeLocation",
                                        "preferredLanguage",
                                        "surname",
                                        "userPrincipalName"
                                      ],
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "runAfter": {
                              "Get_Group_Members": [
                                "Succeeded"
                              ]
                            },
                            "type": "ParseJson"
                          }
                        },
                        "expression": {
                          "or": [
                            {
                              "equals": [
                                "@items('Expand_users_and_append')?['PrincipalType']",
                                4
                              ]
                            },
                            {
                              "equals": [
                                "@items('Expand_users_and_append')?['PrincipalType']",
                                3
                              ]
                            }
                          ]
                        },
                        "runAfter": {},
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('Expand_users_and_append')?['PrincipalType']",
                          1
                        ]
                      }
                    ]
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@body('Parse_Users_From_Translators_Group_JSON')?['value']",
              "runAfter": {
                "Parse_Users_From_Translators_Group_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_ContentTypeID_For_Translation_Task": {
              "inputs": {
                "body": {
                  "headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "method": "GET",
                  "uri": "/_api/web/Lists/getbytitle('@{parameters('MyTasksList')}')/contenttypes?$filter=Name eq 'TASMU Translation Tasks'&$top=1&$select=StringId"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {
                "Expand_users_and_append": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "Get_Translators_Approvers_Group_From_Config": {
              "inputs": {
                "body": {
                  "headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "method": "GET",
                  "uri": "/_api/web/lists/getByTitle('@{body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList']}')/items?$filter=SiteURL eq '@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}'"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL']))}/httprequest"
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Get_Users_From_Translators_Group": {
              "inputs": {
                "body": {
                  "headers": {
                    "Accept": "application/json;odata=nometadata",
                    "Content-Type": "application/json"
                  },
                  "method": "GET",
                  "uri": "/_api/web/SiteGroups/GetByName('@{first(body('Parse_Translators_Approvers_Group_From_Config_JSON')?['value'])?['Translators']}')/users?$select=Email,Id,PrincipalType,LoginName"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
              },
              "runAfter": {
                "Parse_Translators_Approvers_Group_From_Config_JSON": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "If_Task_Status_Is_Finish_Translation": {
              "actions": {
                "Send_an_email_(V2)_Translation_Completed": {
                  "inputs": {
                    "body": {
                      "Body": "<p>@{variables('EmailBody')}</p>",
                      "Subject": "Translation Completed - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                      "To": "@variables('TranslatorsEmail')"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {
                    "Set_EditorEmailBody_Translation_Completed": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Send_an_email_(V2)_Translation_Completed_Notification": {
                  "inputs": {
                    "body": {
                      "Body": "<p>@{variables('EditorEmailBody')}</p>",
                      "Subject": "Translation Completed - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                      "To": "@body('Parse_Service_Bus_Message_JSON')?['EditorEmail']"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail"
                  },
                  "runAfter": {
                    "Send_an_email_(V2)_Translation_Completed": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Send_message_For_1st_Level_Approval_Queue": {
                  "inputs": {
                    "body": {
                      "ContentData": "@{base64(concat('{','\n','\"SiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['SiteURL'],'\",','\n','\"ItemTitle\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemTitle'],'\",','\n','\"ItemGUID\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemGUID'],'\",','\n','\"ItemId\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemId'],'\",','\n','\"ListName\": \"',body('Parse_Service_Bus_Message_JSON')?['ListName'],'\",','\n','\"EditorEmail\": \"',body('Parse_Service_Bus_Message_JSON')?['EditorEmail'],'\",','\n','\"TranslatorId\": \"',variables('TaskID'),'\",','\n','\"Sensitivity\": \"',body('Parse_Service_Bus_Message_JSON')?['Sensitivity'],'\",','\n','\"MarketplaceSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL'],'\",','\n','\"GlobalSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL'],'\",','\n','\"GlobalConfigList\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList'],'\",','\n','\"PreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['PreviewURL'],'\",','\n','\"ArabicPreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL'],'\",','\n','\"Version\": \"',body('Parse_Service_Bus_Message_JSON')?['Version'],'\"','\n','}'))}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/@{encodeURIComponent(encodeURIComponent('approval'))}/messages",
                    "queries": {
                      "systemProperties": "None"
                    }
                  },
                  "runAfter": {
                    "Send_an_email_(V2)_Translation_Completed_Notification": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Set_EditorEmailBody_Translation_Completed": {
                  "inputs": {
                    "name": "EditorEmailBody",
                    "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Editor,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note, <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has been translated.</font> <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                  },
                  "runAfter": {
                    "Set_EmailBody_Translation_Completed": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_EmailBody_Translation_Completed": {
                  "inputs": {
                    "name": "EmailBody",
                    "value": "<html lang=\"en\">\n<meta charset=\"utf-8\" name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n<body>\n    <table width=\"668\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#fbd000\" border=\"0\" font=\"sans-serif\">\n        <tr>\n            <td colspan=\"3\" width=\"668\" height=\"141\" bgcolor=\"#fbd000\" border=\"0\" align=\"center\">\n                <!--Header Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/4E949D42-104B-4B38-BBB9-C3F3FDB24ECE.png\"\n                    width=\"668\" alt=\"\">\n            </td>\n        </tr>\n        <tr>\n            <td align=\"right\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n                <!--Left pole Image-->\n                <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/113C0045-C3FB-41AB-83AE-8F1705F9D028.png\"\n                    width=\"51\" alt=\"\">\n            </td>\n            <td align=\"center\" width=\"566\" height=\"788\" bgcolor=\"#ffffff\" border=\"0\" valign=\"bottom\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                    <tr>\n                        <td height=\"auto\" align=\"left\" valign=\"top\" bgcolor=\"#ffffff\" border=\"0\">\n                            <span id=\"main-email-content\">\n                    <tr>\n                        <td bgcolor=\"#ffffff\">\n                            <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\"><b>Dear Translator,</b></font>\n                                        <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Please note,\n                                            <b>\"@{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}\"</b> item has\n                                            been translated.\n                                        </font>\n                                        <br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">\n                                            Please visit Item <a\n                                                href=\"@{body('Parse_Service_Bus_Message_JSON')?['SiteURL']}/@{variables('ListName')}/EditForm.aspx?ID=@{body('Parse_Service_Bus_Message_JSON')?['ItemId']}\">Link</a>\n                                            to view the translated content.\n                                        </font>\n                                         <br><br><br><br>\n                                        <font style=\"font-family: 'Segoe UI'\" size=\"4\">Thank you, <br /><b>TASMU Support Team</b></font><br><br>\n                                        <font style=\"font-family: 'Segoe UI';color: #999999;\" size=\"3\"><i><b> Note : </b>All the assets need to be verified for licenses by content managers before performing the appropriate action.</i></font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    </span>\n            </td>\n        </tr>\n\n        <tr>\n            <td height=\"100\" valign=\"top\" bgcolor=\"#f6f6f6\" border=\"0\">\n                <table width=\"100%\" cellpadding=\"40\" cellspacing=\"0\" bgcolor=\"#f6f6f6\" border=\"0\">\n                    <tr>\n                        <td colspan=\"2\">\n                            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                                <tr>\n                                    <td align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\"><b>NEED HELP?</b></font>\n                                        <br /><br />\n                                        <a href=\"@{variables('TASMUMarketplacePortalURL')}/en/support/contactus\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"\" width=\"191\">\n                                        </a>\n                                        <br /><br />\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td colspan=\"2\" align=\"center\">\n                                        <font face=\"sans-serif\" size=\"3\">TASMU Platform <a\n                                                href=\"@{variables('TASMUMarketplacePortalURL')}/en/about/tc\" style=\"color: black;\">Terms\n                                                & Conditions</a></font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">Smart Qatar Control Center, Gnd Floor, QDC5 - Qatar Data Center, <br>\n                                            Near Worker's Health Center and Religious Complex <br>\n                                            Zone 56, Street 1119, Building 106 <br>\n                                            Mesaimeer, Qatar <br>\n                                            Telephone:800 0101</font><br /><br />\n                                        <font face=\"sans-serif\" size=\"3\">www.tasmuplatform.gov.qa</font>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n        <tr>\n            <td align=\"center\" valign=\"top\" height=\"50\" bgcolor=\"#ffffff\">\n                <table width=\"100%\" cellpadding=\"20\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                    <tr>\n                        <td align=\"center\">\n                            <table width=\"250\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" border=\"0\">\n                                <tr>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--LinkedIn Icon Button-->\n                                        <a href=\"https://www.linkedin.com/company/tasmuqa/\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/C33949F0-5897-49B1-B487-CB0E7B8183DF.jpg\"\n                                                alt=\"LinkedIn\" width=\"51\"></a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Twitter Icon Button-->\n                                        <a href=\"https://twitter.com/tasmuQa?s=20\">\n                                            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/21BB86AD-914B-4770-9A63-C37F811C22EC.jpg\"\n                                                alt=\"Twitter\" width=\"51\">\n                                        </a>\n\n                                    </td>\n                                    <td width=\"10\" align=\"center\">\n                                        <!--Facebook Icon Button-->\n                                        <a href=\"https://www.facebook.com/tasmuQa\"><img\n                                                src=\"https://prd-cdntasmu.azureedge.net/content/cms/3CF9AF85-65B3-4CE8-9948-4A2D9DC0EBE2.jpg\"\n                                                alt=\"Facebook\" width=\"51\">\n                                        </a>\n                                    </td>\n\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n    </td>\n    <td align=\"left\" width=\"51\" height=\"788\" bgcolor=\"#fbd000\" border=\"0\">\n        <!--Right pole Image-->\n        <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/424B9DFE-FD4F-45AD-B5F3-A85E553053C1.png\" width=\"51\"\n            alt=\"\">\n    </td>\n    </tr>\n    <tr>\n        <td align=\"center\" colspan=\"3\" width=\"668\" height=\"118\" bgcolor=\"#fbd000\" border=\"0\">\n            <img src=\"https://prd-cdntasmu.azureedge.net/content/cms/47B60ABC-437F-4C84-B0D9-8B8F0DB68E92.png\"\n                width=\"668\" alt=\"\">\n        </td>\n    </tr>\n    </table>\n</body>\n\n</html>"
                  },
                  "runAfter": {
                    "Update_Task_Status_And_Comments": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Update_Task_Internal_Status_To_Active": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"TASMUTaskStatusInternal\":\"Active\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=verbose",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                },
                "Update_Task_Status_And_Comments": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"ApproverComments\":\"@{variables('TranslatorTaskComments')}\",\n\"RequiresTranslation\":\"False\",\n\"ContentStatus\":\"Translated\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=verbose",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{body('Parse_Service_Bus_Message_JSON')?['ListName']}')/GetItemById(@{body('Parse_Service_Bus_Message_JSON')?['ItemId']})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {
                    "Update_Task_Internal_Status_To_Active": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('TranslatorTaskStatus')",
                      "Finish Translation"
                    ]
                  }
                ]
              },
              "runAfter": {
                "If_Terminate_is_True": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "If_Task_Status_is_Start_Translation_Then_Reassign": {
              "actions": {
                "Reassign_Task_To_One_Translator": {
                  "inputs": {
                    "body": {
                      "body": "{\n\"cmsAssignedToUserId\":[@{variables('TranslationOwnershipEmail')}]\n}",
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "/_api/web/lists/GetByTitle('@{parameters('MyTasksList')}')/GetItemById(@{variables('TaskID')})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('TranslationOwnership')",
                      "Start Translation"
                    ]
                  }
                ]
              },
              "runAfter": {
                "Set_StartTranslationReminder": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "If_Terminate_is_True": {
              "actions": {
                "Terminate_Current_Flow_And_Trigger_New": {
                  "inputs": {
                    "runStatus": "Succeeded"
                  },
                  "runAfter": {},
                  "type": "Terminate"
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Terminate')",
                      "@true"
                    ]
                  }
                ]
              },
              "runAfter": {
                "If_Task_Status_is_Start_Translation_Then_Reassign": [
                  "Succeeded"
                ],
                "Set_FinishTranslationReminder": [
                  "Succeeded"
                ]
              },
              "type": "If"
            },
            "Loop_To_Get_TranslationContentTypeId": {
              "actions": {
                "Set_TranslationContentTypeId": {
                  "inputs": {
                    "name": "TranslationContentTypeId",
                    "value": "@items('Loop_To_Get_TranslationContentTypeId')?['StringId']"
                  },
                  "runAfter": {},
                  "type": "SetVariable"
                }
              },
              "foreach": "@body('Parse_ContentTypeID_For_Translation_Task_JSON')?['value']",
              "runAfter": {
                "Parse_ContentTypeID_For_Translation_Task_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Parse_ContentTypeID_For_Translation_Task_JSON": {
              "inputs": {
                "content": "@body('Get_ContentTypeID_For_Translation_Task')",
                "schema": {
                  "properties": {
                    "value": {
                      "items": {
                        "properties": {
                          "StringId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "StringId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Get_ContentTypeID_For_Translation_Task": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Parse_Translators_Approvers_Group_From_Config_JSON": {
              "inputs": {
                "content": "@body('Get_Translators_Approvers_Group_From_Config')",
                "schema": {
                  "properties": {
                    "value": {
                      "items": {
                        "properties": {
                          "Approvers": {
                            "type": "string"
                          },
                          "CriticalApprovers": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "SiteLevel": {
                            "type": "string"
                          },
                          "SiteURL": {
                            "type": "string"
                          },
                          "Translators": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Get_Translators_Approvers_Group_From_Config": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Parse_Users_From_Translators_Group_JSON": {
              "inputs": {
                "content": "@body('Get_Users_From_Translators_Group')",
                "schema": {
                  "properties": {
                    "value": {
                      "items": {
                        "properties": {
                          "Email": {
                            "type": "string"
                          },
                          "Id": {
                            "type": "integer"
                          },
                          "LoginName": {
                            "type": "string"
                          },
                          "PrincipalType": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "Id",
                          "Email",
                          "PrincipalType",
                          "LoginName"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "Get_Users_From_Translators_Group": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "Set_FinishTranslationReminder": {
              "inputs": {
                "name": "FinishTranslationReminder",
                "value": "@false"
              },
              "runAfter": {
                "Set_TranslationOwnershipCompleted_Finish_Translation": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_StartTranslationReminder": {
              "inputs": {
                "name": "StartTranslationReminder",
                "value": "@false"
              },
              "runAfter": {
                "Set_TranslationOwnershipCompleted_Start_Translation": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_TranslationOwnershipCompleted_Finish_Translation": {
              "inputs": {
                "name": "TranslationOwnershipCompleted",
                "value": "Yes"
              },
              "runAfter": {
                "Delay_5_Seconds_After_Finish_Translation": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Set_TranslationOwnershipCompleted_Start_Translation": {
              "inputs": {
                "name": "TranslationOwnershipCompleted",
                "value": "Yes"
              },
              "runAfter": {
                "Delay_5_Seconds_After_Start_Translation": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "Until_Task_Status_Is_Finish_Translation_Reminder": {
              "actions": {
                "Delay_1_Day_Finish_Translation_Reminder": {
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Day"
                    }
                  },
                  "runAfter": {},
                  "type": "Wait"
                },
                "If_Task_Status_Is_Finish_Translation_Reminder": {
                  "actions": {
                    "Send_an_email_(V2)_Finish_Translation_Reminder": {
                      "inputs": {
                        "body": {
                          "Body": "<p>@{variables('EmailBody')}</p>",
                          "Subject": "Gentle Reminder - Finish Translation Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                          "To": "@variables('TranslatorsEmail')"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    },
                    "Send_message_Finish_Translation_Reminder": {
                      "inputs": {
                        "body": {
                          "ContentData": "@{base64(concat('{','\n','\"SiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['SiteURL'],'\",','\n','\"ItemTitle\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemTitle'],'\",','\n','\"ItemGUID\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemGUID'],'\",','\n','\"ItemId\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemId'],'\",','\n','\"ListName\": \"',body('Parse_Service_Bus_Message_JSON')?['ListName'],'\",','\n','\"EditorEmail\": \"',body('Parse_Service_Bus_Message_JSON')?['EditorEmail'],'\",','\n','\"TranslatorId\": \"',body('Parse_Service_Bus_Message_JSON')?['TranslatorId'],'\",','\n','\"Sensitivity\": \"',body('Parse_Service_Bus_Message_JSON')?['Sensitivity'],'\",','\n','\"MarketplaceSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL'],'\",','\n','\"GlobalSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL'],'\",','\n','\"GlobalConfigList\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList'],'\",','\n','\"PreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['PreviewURL'],'\",','\n','\"ArabicPreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL'],'\",','\n','\"Version\": \"',body('Parse_Service_Bus_Message_JSON')?['Version'],'\",','\n','\"TaskId\": \"',variables('TaskID'),'\",','\n','\"Reminder\": true,','\n','\"ReminderCount\": ',add(variables('ReminderCount'), 1),'\n','}'))}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/@{encodeURIComponent(encodeURIComponent('changelog'))}/messages"
                      },
                      "runAfter": {
                        "Send_an_email_(V2)_Finish_Translation_Reminder": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    },
                    "Set_Terminate_Finish_Translation_Reminder": {
                      "inputs": {
                        "name": "Terminate",
                        "value": "@true"
                      },
                      "runAfter": {
                        "Send_message_Finish_Translation_Reminder": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@variables('FinishTranslationReminder')",
                          "@true"
                        ]
                      },
                      {
                        "equals": [
                          "@variables('StartTranslationReminder')",
                          "@false"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Delay_1_Day_Finish_Translation_Reminder": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "expression": "@equals(or(equals(variables('FinishTranslationReminder'), false), equals(variables('Terminate'), true)), true)",
              "limit": {
                "count": 100,
                "timeout": "P1M"
              },
              "runAfter": {
                "Check_If_Reminder": [
                  "Succeeded"
                ]
              },
              "type": "Until"
            },
            "Until_Task_Status_Is_Set_Finish_Translation": {
              "actions": {
                "Delay_20_Seconds_Set_Finish_Translation": {
                  "inputs": {
                    "interval": {
                      "count": 20,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {},
                  "type": "Wait"
                },
                "Get_Task_Translation_Status_-_Finish_Translation": {
                  "inputs": {
                    "body": {
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json"
                      },
                      "method": "GET",
                      "uri": "/_api/web/lists/getbytitle('@{parameters('MyTasksList')}')/items(@{variables('TaskID')})?$select=TASMUTaskStatusInternal,TaskComments,TASMUTaskStatus,Translation"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {
                    "Delay_20_Seconds_Set_Finish_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Parse_Task_Translation_Status_JSON": {
                  "inputs": {
                    "content": "@body('Get_Task_Translation_Status_-_Finish_Translation')",
                    "schema": {
                      "properties": {
                        "TASMUTaskStatus": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "TASMUTaskStatusInternal": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "TaskComments": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Translation": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {
                    "Get_Task_Translation_Status_-_Finish_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Set_TranslatorTaskComments": {
                  "inputs": {
                    "name": "TranslatorTaskComments",
                    "value": "@body('Parse_Task_Translation_Status_JSON')?['TASMUTaskStatusInternal']"
                  },
                  "runAfter": {
                    "Set_TranslatorTaskStatus": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_TranslatorTaskStatus": {
                  "inputs": {
                    "name": "TranslatorTaskStatus",
                    "value": "@body('Parse_Task_Translation_Status_JSON')?['Translation']"
                  },
                  "runAfter": {
                    "Parse_Task_Translation_Status_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "expression": "@equals(or(equals(variables('TranslatorTaskStatus'), 'Finish Translation'), equals(variables('Terminate'), true)), true)",
              "limit": {
                "count": 5000,
                "timeout": "P1M"
              },
              "runAfter": {
                "Check_If_Reminder": [
                  "Succeeded"
                ]
              },
              "type": "Until"
            },
            "Until_Task_Status_Is_Start_Translation": {
              "actions": {
                "Delay_20_Seconds_Start_Translation": {
                  "inputs": {
                    "interval": {
                      "count": 20,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {},
                  "type": "Wait"
                },
                "Get_Translation_Status_And_Ownership": {
                  "inputs": {
                    "body": {
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json"
                      },
                      "method": "GET",
                      "uri": "/_api/web/Lists/getbytitle('@{parameters('MyTasksList')}')/items(@{variables('TaskID')})?$select=Editor/Id,Translation&$expand=Editor/Id"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-intspo-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_Bus_Message_JSON')?['SiteURL']))}/httprequest"
                  },
                  "runAfter": {
                    "Delay_20_Seconds_Start_Translation": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection"
                },
                "Parse_Translation_Status_And_Ownership_JSON": {
                  "inputs": {
                    "content": "@body('Get_Translation_Status_And_Ownership')",
                    "schema": {
                      "properties": {
                        "Editor": {
                          "properties": {
                            "Id": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Translation": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "runAfter": {
                    "Get_Translation_Status_And_Ownership": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson"
                },
                "Set_TranslationOwnership": {
                  "inputs": {
                    "name": "TranslationOwnership",
                    "value": "@{body('Parse_Translation_Status_And_Ownership_JSON')?['Translation']}"
                  },
                  "runAfter": {
                    "Set_TranslationOwnershipEmail": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                },
                "Set_TranslationOwnershipEmail": {
                  "inputs": {
                    "name": "TranslationOwnershipEmail",
                    "value": "@{body('Parse_Translation_Status_And_Ownership_JSON')?['Editor']?['Id']}"
                  },
                  "runAfter": {
                    "Parse_Translation_Status_And_Ownership_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable"
                }
              },
              "expression": "@equals(or(or(equals(variables('TranslationOwnership'), 'Start Translation'), equals(variables('TranslationOwnershipCompleted'), 'Yes')), equals(variables('Terminate'), true)), true)",
              "limit": {
                "count": 5000,
                "timeout": "P1M"
              },
              "runAfter": {
                "Check_If_Reminder": [
                  "Succeeded"
                ]
              },
              "type": "Until"
            },
            "Until_Task_Status_is_Start_Translation_Reminder": {
              "actions": {
                "Delay_1_Day_Start_Translation_Reminder": {
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Day"
                    }
                  },
                  "runAfter": {},
                  "type": "Wait"
                },
                "If_TranslationOwnershipCompleted_Start_Translation": {
                  "actions": {
                    "Send_an_email_(V2)_Translation_Request_Reminder": {
                      "inputs": {
                        "body": {
                          "Body": "<p>@{variables('EmailBody')}</p>",
                          "Subject": "Gentle Reminder - Translation Request - @{body('Parse_Service_Bus_Message_JSON')?['ItemTitle']}",
                          "To": "@variables('TranslatorsEmail')"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-into365-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    },
                    "Send_message_Start_Translation_Reminder": {
                      "inputs": {
                        "body": {
                          "ContentData": "@{base64(concat('{','\n','\"SiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['SiteURL'],'\",','\n','\"ItemTitle\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemTitle'],'\",','\n','\"ItemGUID\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemGUID'],'\",','\n','\"ItemId\": \"',body('Parse_Service_Bus_Message_JSON')?['ItemId'],'\",','\n','\"ListName\": \"',body('Parse_Service_Bus_Message_JSON')?['ListName'],'\",','\n','\"EditorEmail\": \"',body('Parse_Service_Bus_Message_JSON')?['EditorEmail'],'\",','\n','\"TranslatorId\": \"',body('Parse_Service_Bus_Message_JSON')?['TranslatorId'],'\",','\n','\"Sensitivity\": \"',body('Parse_Service_Bus_Message_JSON')?['Sensitivity'],'\",','\n','\"MarketplaceSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['MarketplaceSiteURL'],'\",','\n','\"GlobalSiteURL\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalSiteURL'],'\",','\n','\"GlobalConfigList\": \"',body('Parse_Service_Bus_Message_JSON')?['GlobalConfigList'],'\",','\n','\"PreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['PreviewURL'],'\",','\n','\"ArabicPreviewURL\": \"',body('Parse_Service_Bus_Message_JSON')?['ArabicPreviewURL'],'\",','\n','\"Version\": \"',body('Parse_Service_Bus_Message_JSON')?['Version'],'\",','\n','\"TaskId\": \"',variables('TaskID'),'\",','\n','\"Reminder\": true,','\n','\"ReminderCount\": ',add(variables('ReminderCount'), 1),'\n','}'))}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intsb-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/@{encodeURIComponent(encodeURIComponent('changelog'))}/messages",
                        "queries": {
                          "systemProperties": "None"
                        }
                      },
                      "runAfter": {
                        "Send_an_email_(V2)_Translation_Request_Reminder": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection"
                    },
                    "Set_Terminate_Start_Translation_Reminder": {
                      "inputs": {
                        "name": "Terminate",
                        "value": "@true"
                      },
                      "runAfter": {
                        "Send_message_Start_Translation_Reminder": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@variables('StartTranslationReminder')",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "Delay_1_Day_Start_Translation_Reminder": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "expression": "@equals(or(equals(variables('StartTranslationReminder'), false), equals(variables('Terminate'), true)), true)",
              "limit": {
                "count": 100,
                "timeout": "P1M"
              },
              "runAfter": {
                "Check_If_Reminder": [
                  "Succeeded"
                ]
              },
              "type": "Until"
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@length(body('Parse_Items_From_Task_List_JSON')?['value'])",
                  0
                ]
              },
              {
                "equals": [
                  "@length(body('Parse_Items_From_Global_Level_Task_List_JSON')?['value'])",
                  0
                ]
              },
              {
                "or": [
                  {
                    "equals": [
                      "@variables('Reminder')",
                      "@true"
                    ]
                  }
                ]
              }
            ]
          },
          "runAfter": {
            "Check_For_Document_Or_Picture_Library": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Initialize_EditorEmailBody": {
          "inputs": {
            "variables": [
              {
                "name": "EditorEmailBody",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_EmailBody": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_EditorItemDeleteEmailBody": {
          "inputs": {
            "variables": [
              {
                "name": "EditorItemDeleteEmailBody",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_EditorEmailBody": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_EmailBody": {
          "inputs": {
            "variables": [
              {
                "name": "EmailBody",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslationOwnershipEmail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_FinishTranslationReminder": {
          "inputs": {
            "variables": [
              {
                "name": "FinishTranslationReminder",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "runAfter": {
            "Initialize_StartTranslationReminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_IncrementVariableForUntilLoop": {
          "inputs": {
            "variables": [
              {
                "name": "IncrementVariableForUntilLoop",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_NumberOfColumnsToTranslate": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ListName": {
          "inputs": {
            "variables": [
              {
                "name": "ListName",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatedPlainTextstring": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_NumberOfColumnsToTranslate": {
          "inputs": {
            "variables": [
              {
                "name": "NumberOfColumnsToTranslate",
                "type": "integer"
              }
            ]
          },
          "runAfter": {
            "Initialize_FinishTranslationReminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_Reminder": {
          "inputs": {
            "variables": [
              {
                "name": "Reminder",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_TaskID": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_ReminderCount": {
          "inputs": {
            "variables": [
              {
                "name": "ReminderCount",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_Reminder": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_StartTranslationReminder": {
          "inputs": {
            "variables": [
              {
                "name": "StartTranslationReminder",
                "type": "boolean",
                "value": "@true"
              }
            ]
          },
          "runAfter": {
            "Initialize_EditorItemDeleteEmailBody": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TASMUMarketplacePortalURL": {
          "inputs": {
            "variables": [
              {
                "name": "TASMUMarketplacePortalURL",
                "type": "string",
                "value": "https://platform.tasmuplatform.qa"
              }
            ]
          },
          "runAfter": {
            "Initialize_Terminate": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TaskID": {
          "inputs": {
            "variables": [
              {
                "name": "TaskID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_ListName": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_Terminate": {
          "inputs": {
            "variables": [
              {
                "name": "Terminate",
                "type": "boolean",
                "value": "@false"
              }
            ]
          },
          "runAfter": {
            "Initialize_ReminderCount": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslateColumnsString": {
          "inputs": {
            "variables": [
              {
                "name": "TranslateColumnsString",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_IncrementVariableForUntilLoop": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatedHTMLstring": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatedHTML",
                "type": "string",
                "value": "@{trim('')}"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatedObject": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatedObject": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatedObject",
                "type": "object"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslateColumnsString": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatedPlainTextstring": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatedPlain",
                "type": "string",
                "value": "@{trim('')}"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatedHTMLstring": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslationContentTypeId": {
          "inputs": {
            "variables": [
              {
                "name": "TranslationContentTypeId",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatorsUserId": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslationOwnership": {
          "inputs": {
            "variables": [
              {
                "name": "TranslationOwnership",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslationContentTypeId": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslationOwnershipCompleted": {
          "inputs": {
            "variables": [
              {
                "name": "TranslationOwnershipCompleted",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatorTaskComments": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslationOwnershipEmail": {
          "inputs": {
            "variables": [
              {
                "name": "TranslationOwnershipEmail",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslationOwnershipCompleted": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatorTaskComments": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatorTaskComments",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatorTaskStatus": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatorTaskStatus": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatorTaskStatus",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslationOwnership": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Initialize_TranslatorsEmail": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatorsEmail",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "type": "InitializeVariable"
        },
        "Initialize_TranslatorsUserId": {
          "inputs": {
            "variables": [
              {
                "name": "TranslatorsUserId",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_TranslatorsEmail": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Parse_Items_From_Global_Level_Task_List_JSON": {
          "inputs": {
            "content": "@body('Get_Items_From_Global_Level_Task_List')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "ID": {
                        "type": "integer"
                      },
                      "Id": {
                        "type": "integer"
                      },
                      "ParentItemId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Id",
                      "ParentItemId",
                      "ID"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Parse_Items_From_Task_List_JSON": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Parse_Items_From_Task_List_JSON": {
          "inputs": {
            "content": "@body('Get_Items_From_Task_List')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "ID": {
                        "type": "integer"
                      },
                      "Id": {
                        "type": "integer"
                      },
                      "ParentItemId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "Id",
                      "ParentItemId",
                      "ID"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Get_Items_From_Global_Level_Task_List": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Parse_Service_Bus_Message_JSON": {
          "inputs": {
            "content": "@decodeBase64(triggerBody()?['ContentData'])",
            "schema": {
              "properties": {
                "ArabicPreviewURL": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "ChangeType": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "DeleteRequired": {
                  "type": "boolean"
                },
                "EditorEmail": {
                  "type": "string"
                },
                "GlobalConfigList": {
                  "type": "string"
                },
                "GlobalSiteTitle": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "GlobalSiteURL": {
                  "type": "string"
                },
                "ItemGUID": {
                  "type": "string"
                },
                "ItemId": {
                  "type": "string"
                },
                "ItemTitle": {
                  "type": "string"
                },
                "ListId": {
                  "type": "string"
                },
                "ListName": {
                  "type": "string"
                },
                "MarketplaceSiteURL": {
                  "type": "string"
                },
                "PreviewURL": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Reminder": {
                  "type": [
                    "boolean",
                    "null"
                  ]
                },
                "ReminderCount": {
                  "type": [
                    "number",
                    "null"
                  ]
                },
                "Sensitivity": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "SiteURL": {
                  "type": "string"
                },
                "TaskId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Version": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "type": "object"
            }
          },
          "runAfter": {
            "Get_CertificatePassword": [
              "Succeeded"
            ]
          },
          "type": "ParseJson"
        },
        "Set_Reminder": {
          "inputs": {
            "name": "Reminder",
            "value": "@if(equals(body('Parse_Service_Bus_Message_JSON')?['Reminder'], null), false, bool(body('Parse_Service_Bus_Message_JSON')?['Reminder']))"
          },
          "runAfter": {
            "Parse_Service_Bus_Message_JSON": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        },
        "Set_ReminderCount": {
          "inputs": {
            "name": "ReminderCount",
            "value": "@if(equals(body('Parse_Service_Bus_Message_JSON')?['ReminderCount'], null), 0, body('Parse_Service_Bus_Message_JSON')?['ReminderCount'])"
          },
          "runAfter": {
            "Set_Reminder": [
              "Succeeded"
            ]
          },
          "type": "SetVariable"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "HeroMobile": {
          "defaultValue": "Hero Mobile",
          "type": "String"
        },
        "HeroWeb": {
          "defaultValue": "Hero Web",
          "type": "String"
        },
        "MyTasksList": {
          "defaultValue": "My Tasks",
          "type": "String"
        },
        "ProductMediaAssets": {
          "defaultValue": "Product Media Assets",
          "type": "String"
        },
        "TranslateConfigListName": {
          "defaultValue": "TranslateConfig",
          "type": "String"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpp-apps-into365-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-into365-prd-we-01",
              "connectionName": "apicon-cpp-apps-into365-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
            },
            "apicon-cpp-apps-intsb-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intsb-prd-we-01",
              "connectionName": "apicon-cpp-apps-intsb-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
            },
            "apicon-cpp-apps-intspo-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intspo-prd-we-01",
              "connectionName": "apicon-cpp-apps-intspo-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
            },
            "apicon-cpp-apps-intcog-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intcog-prd-we-01",
              "connectionName": "apicon-cpp-apps-intcog-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/translatorv2"
            },
            "apicon-cpp-apps-intkv-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intkv-prd-we-01",
              "connectionName": "apicon-cpp-apps-intkv-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
          }
        }
      }
    }
  }
}