Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-csp-invoice-dev-we-02-parameters.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "value": "logic-cpd-csp-invoice-dev-we-02"
        },
        "workflowLocation": {
            "value": "westeurope"
        },
        "workflowSchema": {
            "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
        },
        "workflowTriggers": {
            "value": {
                "Recurrence": {
                    "evaluatedRecurrence": {
                        "frequency": "Month",
                        "interval": 7
                    },
                    "recurrence": {
                        "frequency": "Month",
                        "interval": 7
                    },
                    "type": "Recurrence"
                }
            }
        },
        "workflowActions": {
            "value": {
                "Filter_array_Invoice_Data": {
                    "inputs": {
                        "from": "@body('Parse_JSON_Invoice_Data')?['items']",
                        "where": "@equals(item()?['invoiceType'], 'OneTime')"
                    },
                    "runAfter": {
                        "Parse_JSON_Invoice_Data": [
                            "Succeeded"
                        ]
                    },
                    "type": "Query"
                },
                "For_each": {
                    "actions": {
                        "Condition": {
                            "actions": {                               
                                        "Create_CSV_table": {
                                            "inputs": {
                                                "columns": [
                                                    {
                                                        "header": "PartnerId",
                                                        "value": "@item()?['partnerId']"
                                                    },
                                                    {
                                                        "header": "CustomerId",
                                                        "value": "@item()?['customerId']"
                                                    },
                                                    {
                                                        "header": "CustomerName",
                                                        "value": "@item()?['customerName']"
                                                    },
                                                    {
                                                        "header": "CustomerDomainName",
                                                        "value": "@item()?['customerDomainName']"
                                                    },
                                                    {
                                                        "header": "CustomerCountry",
                                                        "value": "@item()?['customerCountry']"
                                                    },
                                                    {
                                                        "header": "InvoiceNumber",
                                                        "value": "@item()?['invoiceNumber']"
                                                    },
                                                    {
                                                        "header": "MpnId",
                                                        "value": "@item()?['mpnId']"
                                                    },
                                                    {
                                                        "header": "OrderId",
                                                        "value": "@item()?['orderId']"
                                                    },
                                                    {
                                                        "header": "OrderDate",
                                                        "value": "@item()?['orderDate']"
                                                    },
                                                    {
                                                        "header": "ProductId",
                                                        "value": "@item()?['productId']"
                                                    },
                                                    {
                                                        "header": "SkuId",
                                                        "value": "@item()?['skuId']"
                                                    },
                                                    {
                                                        "header": "SkuName",
                                                        "value": "@item()?['skuName']"
                                                    },
                                                    {
                                                        "header": "ProductName",
                                                        "value": "@item()?['productName']"
                                                    },
                                                    {
                                                        "header": "ChargeType",
                                                        "value": "@item()?['chargeType']"
                                                    },
                                                    {
                                                        "header": "UnitPrice",
                                                        "value": "@item()?['unitPrice']"
                                                    },
                                                    {
                                                        "header": "Quantity",
                                                        "value": "@item()?['quantity']"
                                                    },
                                                    {
                                                        "header": "Subtotal",
                                                        "value": "@item()?['subtotal']"
                                                    },
                                                    {
                                                        "header": "TaxTotal",
                                                        "value": "@item()?['taxTotal']"
                                                    },
                                                    {
                                                        "header": "Total",
                                                        "value": "@item()?['totalForCustomer']"
                                                    },
                                                    {
                                                        "header": "Currency",
                                                        "value": "@item()?['currency']"
                                                    },
                                                    {
                                                        "header": "PriceAdjustmentDescription",
                                                        "value": "@item()?['priceAdjustmentDescription']"
                                                    },
                                                    {
                                                        "header": "PublisherName",
                                                        "value": "@item()?['publisherName']"
                                                    },
                                                    {
                                                        "header": "PublisherId",
                                                        "value": "@item()?['publisherId']"
                                                    },
                                                    {
                                                        "header": "SubscriptionDescription",
                                                        "value": "@item()?['subscriptionDescription']"
                                                    },
                                                    {
                                                        "header": "ChargeStartDate",
                                                        "value": "@item()?['chargeStartDate']"
                                                    },
                                                    {
                                                        "header": "ChargeEndDate",
                                                        "value": "@item()?['chargeEndDate']"
                                                    },
                                                    {
                                                        "header": "TermAndBillingCycle",
                                                        "value": "@item()?['termAndBillingCycle']"
                                                    },
                                                    {
                                                        "header": "EffectiveUnitPrice",
                                                        "value": "@item()?['effectiveUnitPrice']"
                                                    },
                                                    {
                                                        "header": "UnitType",
                                                        "value": "@item()?['unitType']"
                                                    },
                                                    {
                                                        "header": "AlternateId",
                                                        "value": "@item()?['alternateId']"
                                                    },
                                                    {
                                                        "header": "BillableQuantity",
                                                        "value": "@item()?['billableQuantity']"
                                                    },
                                                    {
                                                        "header": "BillingFrequency",
                                                        "value": "@item()?['billingFrequency']"
                                                    },
                                                    {
                                                        "header": "PricingCurrency",
                                                        "value": "@item()?['pricingCurrency']"
                                                    },
                                                    {
                                                        "header": "PCToBCExchangeRate",
                                                        "value": "@item()?['pcToBCExchangeRate']"
                                                    },
                                                    {
                                                        "header": "PCToBCExchangeRateDate",
                                                        "value": "@item()?['pcToBCExchangeRateDate']"
                                                    },
                                                    {
                                                        "header": "MeterDescription",
                                                        "value": "@item()?['meterDescription']"
                                                    },
                                                    {
                                                        "header": "ReservationOrderId",
                                                        "value": "@item()?['reservationOrderId']"
                                                    },
                                                    {
                                                        "header": "CreditReasonCode",
                                                        "value": ""
                                                    },
                                                    {
                                                        "header": "SubscriptionStartDate",
                                                        "value": "@item()?['subscriptionStartDate']"
                                                    },
                                                    {
                                                        "header": "SubscriptionEndDate",
                                                        "value": "@item()?['subscriptionEndDate']"
                                                    },
                                                    {
                                                        "header": "ReferenceId",
                                                        "value": "@item()?['referenceId']"
                                                    },
                                                    {
                                                        "header": "ProductQualifiers",
                                                        "value": "@item()?['productQualifiers']"
                                                    },
                                                    {
                                                        "header": "PromotionId",
                                                        "value": "@item()?['promotionId']"
                                                    }
                                                ],
                                                "format": "CSV",
                                                "from": "@body('Filter_array__Invoice_by_ID')"
                                            },
                                            "runAfter": {
                                                "Filter_array__Invoice_by_ID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table"
                                        },
                                        "Filter_array__Invoice_by_ID": {
                                            "inputs": {
                                                "from": "@body('Parse_JSON__Invoice_by_ID')",
                                                "where": "@contains(item()['customerName'], 'SQCP')"
                                            },
                                            "runAfter": {
                                                "Parse_JSON__Invoice_by_ID": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Query"                                           
                                        },
                                        "HTTP": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://storage.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": "@body('Create_CSV_table')",
                                                "headers": {
                                                    "x-ms-blob-content-disposition": "attachment; filename=Azurebilling_@{formatDateTime(utcNow(), 'MMM')}@{formatDateTime(utcNow(), 'yyyy')}.csv",
                                                    "x-ms-blob-type": "BlockBlob",
                                                    "x-ms-version": "2020-08-04"
                                                },
                                                "method": "PUT",
                                                "uri": "https://stcpdglobacmwe01.blob.core.windows.net/invoiceconsumption/Azurebilling_@{formatDateTime(utcNow(), 'MMM')}@{formatDateTime(utcNow(), 'yyyy')}.csv"
                                            },
                                            "runAfter": {
                                                "Create_CSV_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        },
                                        "Parse_JSON__Invoice_by_ID": {
                                            "inputs": {
                                                "content": "@body('Get_invoice_by_ID').items",
                                                "schema": {
                                                    "items": {
                                                        "properties": {
                                                            "alternateId": {
                                                                "type": "string"
                                                            },
                                                            "attributes": {
                                                                "properties": {
                                                                    "objectType": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "availabilityId": {
                                                                "type": "string"
                                                            },
                                                            "billableQuantity": {
                                                                "type": "number"
                                                            },
                                                            "billingFrequency": {
                                                                "type": "string"
                                                            },
                                                            "billingProvider": {
                                                                "type": "string"
                                                            },
                                                            "chargeEndDate": {
                                                                "type": "string"
                                                            },
                                                            "chargeStartDate": {
                                                                "type": "string"
                                                            },
                                                            "chargeType": {
                                                                "type": "string"
                                                            },
                                                            "currency": {
                                                                "type": "string"
                                                            },
                                                            "customerCountry": {
                                                                "type": "string"
                                                            },
                                                            "customerDomainName": {
                                                                "type": "string"
                                                            },
                                                            "customerId": {
                                                                "type": "string"
                                                            },
                                                            "customerName": {
                                                                "type": "string"
                                                            },
                                                            "discountDetails": {
                                                                "type": "string"
                                                            },
                                                            "effectiveUnitPrice": {
                                                                "type": "number"
                                                            },
                                                            "invoiceLineItemType": {
                                                                "type": "string"
                                                            },
                                                            "invoiceNumber": {
                                                                "type": "string"
                                                            },
                                                            "meterDescription": {
                                                                "type": "string"
                                                            },
                                                            "mpnId": {
                                                                "type": "string"
                                                            },
                                                            "orderDate": {
                                                                "type": "string"
                                                            },
                                                            "orderId": {
                                                                "type": "string"
                                                            },
                                                            "partnerId": {
                                                                "type": "string"
                                                            },
                                                            "pcToBCExchangeRate": {
                                                                "type": "integer"
                                                            },
                                                            "pcToBCExchangeRateDate": {
                                                                "type": "string"
                                                            },
                                                            "priceAdjustmentDescription": {
                                                                "type": "string"
                                                            },
                                                            "pricingCurrency": {
                                                                "type": "string"
                                                            },
                                                            "productId": {
                                                                "type": "string"
                                                            },
                                                            "productName": {
                                                                "type": "string"
                                                            },
                                                            "productQualifiers": {
                                                                "type": "array"
                                                            },
                                                            "promotionId": {
                                                                "type": "string"
                                                            },
                                                            "publisherId": {
                                                                "type": "string"
                                                            },
                                                            "publisherName": {
                                                                "type": "string"
                                                            },
                                                            "quantity": {
                                                                "type": "integer"
                                                            },
                                                            "referenceId": {
                                                                "type": "string"
                                                            },
                                                            "resellerMpnId": {
                                                                "type": "integer"
                                                            },
                                                            "reservationOrderId": {
                                                                "type": "string"
                                                            },
                                                            "skuId": {
                                                                "type": "string"
                                                            },
                                                            "skuName": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionDescription": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionEndDate": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionId": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionStartDate": {
                                                                "type": "string"
                                                            },
                                                            "subtotal": {
                                                                "type": "number"
                                                            },
                                                            "taxTotal": {
                                                                "type": "integer"
                                                            },
                                                            "termAndBillingCycle": {
                                                                "type": "string"
                                                            },
                                                            "totalForCustomer": {
                                                                "type": "number"
                                                            },
                                                            "unitPrice": {
                                                                "type": "number"
                                                            },
                                                            "unitType": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "partnerId",
                                                            "customerId",
                                                            "customerName",
                                                            "customerDomainName",
                                                            "customerCountry",
                                                            "invoiceNumber",
                                                            "mpnId",
                                                            "resellerMpnId",
                                                            "orderId",
                                                            "orderDate",
                                                            "productId",
                                                            "skuId",
                                                            "availabilityId",
                                                            "productName",
                                                            "skuName",
                                                            "productQualifiers",
                                                            "chargeType",
                                                            "unitPrice",
                                                            "effectiveUnitPrice",
                                                            "unitType",
                                                            "quantity",
                                                            "subtotal",
                                                            "taxTotal",
                                                            "totalForCustomer",
                                                            "currency",
                                                            "publisherName",
                                                            "publisherId",
                                                            "subscriptionDescription",
                                                            "subscriptionId",
                                                            "chargeStartDate",
                                                            "chargeEndDate",
                                                            "termAndBillingCycle",
                                                            "alternateId",
                                                            "referenceId",
                                                            "priceAdjustmentDescription",
                                                            "discountDetails",
                                                            "pricingCurrency",
                                                            "pcToBCExchangeRate",
                                                            "pcToBCExchangeRateDate",
                                                            "billableQuantity",
                                                            "meterDescription",
                                                            "billingFrequency",
                                                            "reservationOrderId",
                                                            "invoiceLineItemType",
                                                            "billingProvider",
                                                            "promotionId",
                                                            "attributes"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "ParseJson"

                                        }
                            },        
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@outputs('Get_invoice_by_ID')['statusCode']",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_invoice_by_ID": [
                                    "Succeeded",
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "If"
                        },
                        "Get_invoice_by_ID": {
                            "inputs": {
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                },
                                "method": "GET",
                                "uri": "https://api.partnercenter.microsoft.com/v1/invoices/@{items('For_each')?['id']}/lineitems?provider=@{items('For_each')?['invoiceType']}&invoicelineitemtype=BillingLineItems"
                            },
                            "runAfter": {},
                            "type": "Http"
                        }
                    },
                    "foreach": "@body('Filter_array_Invoice_Data')",
                    "runAfter": {
                        "Filter_array_Invoice_Data": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "Get_All_Invoices": {
                    "inputs": {
                        "headers": {
                            "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                        },
                        "method": "GET",
                        "uri": "https://api.partnercenter.microsoft.com/v1/invoices"
                    },
                    "runAfter": {
                        "Parse_JSON": [
                            "Succeeded"
                        ]
                    },
                    "type": "Http"
                },
                "Get_csp-client-id": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-client-id')}/value"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Get_csp-client-secret": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-client-secret')}/value"
                    },
                    "runAfter": {
                        "Get_csp-client-id": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Get_csp-scope": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-scope')}/value"
                    },
                    "runAfter": {
                        "Get_csp-client-secret": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Get_csp-tenant-id": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-tenant-id')}/value"
                    },
                    "runAfter": {
                        "Get_csp-scope": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "HTTP_Generate_CSP_Bearer_Token": {
                    "inputs": {
                        "body": "client_id=@{body('Get_csp-client-id')?['value']}&client_secret=@{body('Get_csp-client-secret')?['value']}&grant_type=client_credentials&scope=@{body('Get_csp-scope')?['value']}",
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        "method": "POST",
                        "uri": "https://login.microsoftonline.com/@{body('Get_csp-tenant-id')?['value']}/oauth2/v2.0/token"
                    },
                    "runAfter": {
                        "Get_csp-tenant-id": [
                            "Succeeded"
                        ]
                    },
                    "type": "Http"
                },
                "Parse_JSON": {
                    "inputs": {
                        "content": "@body('HTTP_Generate_CSP_Bearer_Token')",
                        "schema": {
                            "properties": {
                                "access_token": {
                                    "type": "string"
                                },
                                "expires_in": {
                                    "type": "integer"
                                },
                                "ext_expires_in": {
                                    "type": "integer"
                                },
                                "token_type": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "runAfter": {
                        "HTTP_Generate_CSP_Bearer_Token": [
                            "Succeeded"
                        ]
                    },
                    "type": "ParseJson"
                },
                "Parse_JSON_Invoice_Data": {
                    "inputs": {
                        "content": "@body('Get_All_Invoices')",
                        "schema": {
                            "properties": {
                                "attributes": {
                                    "properties": {
                                        "objectType": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "items": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "properties": {
                                                    "objectType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "billingPeriodEndDate": {
                                                "type": "string"
                                            },
                                            "billingPeriodStartDate": {
                                                "type": "string"
                                            },
                                            "currencyCode": {
                                                "type": "string"
                                            },
                                            "currencySymbol": {
                                                "type": "string"
                                            },
                                            "documentType": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "invoiceDate": {
                                                "type": "string"
                                            },
                                            "invoiceDetails": {
                                                "items": {
                                                    "properties": {
                                                        "attributes": {
                                                            "properties": {
                                                                "objectType": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "billingProvider": {
                                                            "type": "string"
                                                        },
                                                        "invoiceLineItemType": {
                                                            "type": "string"
                                                        },
                                                        "links": {
                                                            "properties": {
                                                                "self": {
                                                                    "properties": {
                                                                        "headers": {
                                                                            "type": "array"
                                                                        },
                                                                        "method": {
                                                                            "type": "string"
                                                                        },
                                                                        "uri": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "invoiceLineItemType",
                                                        "billingProvider",
                                                        "links",
                                                        "attributes"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "invoiceType": {
                                                "type": "string"
                                            },
                                            "links": {
                                                "properties": {
                                                    "self": {
                                                        "properties": {
                                                            "headers": {
                                                                "type": "array"
                                                            },
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "uri": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "paidAmount": {
                                                "type": "number"
                                            },
                                            "pdfDownloadLink": {
                                                "type": "string"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "totalCharges": {
                                                "type": "number"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "invoiceDate",
                                            "billingPeriodStartDate",
                                            "billingPeriodEndDate",
                                            "totalCharges",
                                            "paidAmount",
                                            "currencyCode",
                                            "currencySymbol",
                                            "pdfDownloadLink",
                                            "invoiceDetails",
                                            "documentType",
                                            "state",
                                            "invoiceType",
                                            "links",
                                            "attributes"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "links": {
                                    "properties": {
                                        "self": {
                                            "properties": {
                                                "headers": {
                                                    "type": "array"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "uri": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "totalCount": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "runAfter": {
                        "Get_All_Invoices": [
                            "Succeeded"
                        ]
                    },
                    "type": "ParseJson"
                }
            }   
        },    
        "workflowParameters": {
            "value": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            }
        },
        "diagnosticLogsRetentionInDays": {
            "value": 365
        },
        "diagnosticStorageAccountId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-pltf-mon-npd-we-01/providers/Microsoft.Storage/storageAccounts/stcpdpltfdiagnpdwe01"
        },
        "workspaceId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourcegroups/rg-cpd-pltf-mon-npd-we-01/providers/microsoft.operationalinsights/workspaces/log-cpd-pltf-npd-we-01"
        },
        "eventHubAuthorizationRuleId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-dev-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-dev-we-01/authorizationrules/RootManageSharedAccessKey"
        },
        "eventHubName": {
            "value": "evh-cpd-apps-mon-dev-we-01"
        },
        "tags": {
            "value": {
                "Environment": "Test"
            }
        },
        "connectionParameters": {
            "value": {
                "$connections": {
                    "value": {
                        "keyvault": {
                            "connectionId": "[parameters('connections_keyvault_externalid')]",
                                "connectionName": "keyvault",
                                "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
                            }
                    }
                }
            }
        }
    }
}