Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-6dhook-tra-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-6dhook-tra-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook",
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "product-created",
                    "product-updated",
                    "product-deleted",
                    "productplanbenefit-created",
                    "productplanbenefit-updated",
                    "productplanbenefit-deleted",
                    "productlifecycle-created",
                    "productlifecycle-updated",
                    "productlifecycle-deleted",
                    "productplantariff-created",
                    "productplantariff-updated",
                    "productplantariff-deleted",
                    "productplancharge-created",
                    "productplancharge-updated",
                    "productplancharge-deleted",
                    "profile-created",
                    "profile-updated",
                    "profile-deleted",
                    "organisation-add",
                    "organisation-created",
                    "organisation-updated",
                    "organisation-deleted"
                  ]
                },
                "topic": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-tra-we-01/providers/Microsoft.EventGrid/domains/egd-cpd-apps-int-tra-we-01/topics/d365"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-integ-tra-we-01']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('d0694def-b27e-4bb7-900d-437fbeb802da')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpd-apps-6dhook-tra-we-01-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Convert_Message_To_Object": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventMessage",
                "type": "object",
                "value": "@triggerBody()"
              }
            ]
          }
        },
        "Initialize_message_to_be_sent": {
          "runAfter": {
            "Convert_Message_To_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PostMessage",
                "type": "object",
                "value": {
                  "body": "@{base64(variables('EventMessage'))}"
                }
              }
            ]
          }
        },
        "Send_To_6DBilling_API": {
          "runAfter": {
            "Initialize_message_to_be_sent": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "body": "@variables('PostMessage')",
            "headers": {
              "Cache-Control": "no-cache",
              "Content-Type": "application/json",
              "event_type": "@{variables('EventMessage').eventType}"
            },
            "method": "POST",
            "uri": "https://api.tra.sqcp.qa/eventmanagement/apiInterface/eventManagement/getEventDetails"
          }
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-tra-we-01/providers/Microsoft.Storage/storageAccounts/stcpdappsdiagtrawe01"
    },
    "workspaceId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-tra-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpd-apps-mon-tra-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-tra-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-tra-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpd-apps-mon-tra-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Training"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpd-apps-integ-tra-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-tra-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-integ-tra-we-01",
              "connectionName": "apicon-cpd-apps-integ-tra-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            }
          }
        }
      }
    }
  }
}