Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpp-apps-intfile-prd-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-intfile-prd-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook",
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "file-virus-scan-pass",
                    "file-upload-ready"
                  ]
                },
                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-prd-we-01/topics/coreapi"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-integ-prd-we-01']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpp-apps-intfile-prd-we-01-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Condition": {
          "actions": {
            "List_records_2": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['apicon-cpp-apps-intcds-prd-we-01']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('1e2d3f93a7bd493aab65ddd99f20cf17.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('annotations'))}/items",
                "queries": {
                  "$filter": "filename eq '@{variables('FilelName')}'",
                  "$top": 1
                }
              },
              "runAfter": {},
              "type": "ApiConnection"
            },
            "Records_count": {
              "actions": {
                "Compose": {
                  "inputs": "@body('Get_blob_content')",
                  "runAfter": {
                    "Get_blob_content": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose"
                },
                "For_each": {
                  "actions": {
                    "Update_a_record": {
                      "inputs": {
                        "body": {
                          "_objectid_type": "",
                          "_ownerid_type": "",
                          "documentbody": "@{base64(outputs('Compose'))}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['apicon-cpp-apps-intcds-prd-we-01']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('1e2d3f93a7bd493aab65ddd99f20cf17.crm4'))}/tables/@{encodeURIComponent(encodeURIComponent('annotations'))}/items/@{encodeURIComponent(encodeURIComponent(items('For_each')?['annotationid']))}"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    }
                  },
                  "foreach": "@body('List_records_2')?['value']",
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Get_blob_content": {
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpp-apps-strst-prd-we-01']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/case-files/',variables('FilelName')))}/content",
                    "queries": {
                      "inferContentType": true
                    }
                  },
                  "runAfter": {},
                  "type": "ApiConnection"
                }
              },
              "else": {
                "actions": {
                  "Terminate_update": {
                    "inputs": {
                      "runError": {
                        "code": "404",
                        "message": "No records found in D365 for the file name."
                      },
                      "runStatus": "Failed"
                    },
                    "runAfter": {},
                    "type": "Terminate"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('List_records_2')?['value'])",
                      0
                    ]
                  }
                ]
              },
              "runAfter": {
                "List_records_2": [
                  "Succeeded"
                ]
              },
              "type": "If"
            }
          },
          "else": {
            "actions": {
              "Terminate": {
                "inputs": {
                  "runError": {
                    "code": "404",
                    "message": "File name is required."
                  },
                  "runStatus": "Failed"
                },
                "runAfter": {},
                "type": "Terminate"
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@empty(variables('FilelName'))",
                    "@true"
                  ]
                }
              }
            ]
          },
          "runAfter": {
            "File_Variable": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "File_Variable": {
          "inputs": {
            "variables": [
              {
                "name": "FilelName",
                "type": "string",
                "value": "@body('Parse_Data')?['filename']"
              }
            ]
          },
          "runAfter": {
            "Parse_Data": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable"
        },
        "Parse_Data": {
          "inputs": {
            "content": "@triggerBody()?['data']",
            "schema": {
              "properties": {
                "filename": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "isscansucceeded": {
                  "type": "boolean"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {},
          "type": "ParseJson"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/d8c326fb-f8b4-4854-a2af-dd55e86f6117/resourceGroups/rg-cph-pltf-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcphpltfdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/d8c326fb-f8b4-4854-a2af-dd55e86f6117/resourceGroups/rg-cph-pltf-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cph-pltf-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpp-apps-integ-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integ-prd-we-01",
              "connectionName": "apicon-cpp-apps-integ-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            },
            "apicon-cpp-apps-strst-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-strst-prd-we-01",
              "connectionName": "apicon-cpp-apps-strst-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
            },
            "apicon-cpp-apps-intcds-prd-we-01": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intcds-prd-we-01",
              "connectionName": "apicon-cpp-apps-intcds-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/commondataservice"
            }
          }
        }
      }
    }
  }
}