Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-intprdt-tra-we-01-parameters.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workflowName": {
			"value": "logic-cpd-apps-intprdt-tra-we-01"
		},
		"workflowLocation": {
			"value": "westeurope"
		},
		"workflowSchema": {
			"value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
		},
		"workflowTriggers": {
			"value": {
				"When_a_resource_event_occurs": {
					"inputs": {
						"body": {
							"properties": {
								"destination": {
									"endpointType": "webhook",
									"properties": {
										"endpointUrl": "@{listCallbackUrl()}"
									}
								},
								"filter": {
									"includedEventTypes": [
										"product-created",
										"product-updated",
										"product-deleted"
									]
								},
								"topic": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-temp-sbx-we-02/providers/Microsoft.EventGrid/topics/evg-cpd-temp-sbx-we-01"
							}
						},
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureeventgrid']['connectionId']"
							}
						},
						"path": "/subscriptions/@{encodeURIComponent('d0694def-b27e-4bb7-900d-437fbeb802da')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
						"queries": {
							"x-ms-api-version": "2017-06-15-preview"
						}
					},
					"splitOn": "@triggerBody()",
					"type": "ApiConnectionWebhook"
				}
			}
		},
		"workflowActions": {
			"value": {
				"Parse_JSON": {
					"inputs": {
						"content": "@triggerBody()?['data']",
						"schema": {
							"properties": {
								"ApiUrl": {
									"type": "string"
								},
								"Id": {
									"type": "string"
								}
							},
							"type": "object"
						}
					},
					"runAfter": {},
					"type": "ParseJson"
				},
				"Perform_on_Event_Type": {
					"actions": {
						"Condition": {
							"actions": {
								"Create_Product": {
									"inputs": {
										"body": {
											"body": "{\n\"Title\": \"@{body('Parse_Product_Details_EN_JSON')?['name']}\",\n\"ProductId\": \"@{body('Parse_Product_Details_EN_JSON')?['id']}\",\n\"ProductName\": \"@{body('Parse_Product_Details_EN_JSON')?['name']}\",\n\"arProductName\": \"@{body('Parse_Product_Details_AR_JSON')?['name']}\",\n\"ProductShortDescription\": \"@{body('Parse_Product_Details_EN_JSON')?['shortDescription']}\",\n\"arProductShortDescription\": \"@{body('Parse_Product_Details_AR_JSON')?['shortDescription']}\",\n\"ProductLongDescription\": \"@{body('Parse_Product_Details_EN_JSON')?['longDescription']}\",\n\"arProductLongDescription\": \"@{body('Parse_Product_Details_AR_JSON')?['longDescription']}\",\n\"ProductReferenceURL\": { \"Description\": \"@{body('Parse_Product_Details_EN_JSON')?['productUrl']}\", \"Url\": \"@{body('Parse_Product_Details_EN_JSON')?['productUrl']}\" }\n}",
											"headers": {
												"Accept": "application/json;odata=nometadata",
												"Content-Type": "application/json"
											},
											"method": "POST",
											"uri": "_api/web/lists/GetByTitle('@{parameters('productListName')}')/items"
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['apicon-cpd-apps-intspo-tra-we-01']['connectionId']"
											}
										},
										"method": "post",
										"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('tenantURL'),'/sites/cms-dev-marketplace'))}/httprequest"
									},
									"runAfter": {},
									"type": "ApiConnection"
								}
							},
							"else": {
								"actions": {
									"Update_Delete_Product": {
										"inputs": {
											"body": {
												"body": "{\n\"Title\": \"@{body('Parse_Product_Details_EN_JSON')?['name']}\",\n\"ProductId\": \"@{body('Parse_Product_Details_EN_JSON')?['id']}\",\n\"ProductName\": \"@{body('Parse_Product_Details_EN_JSON')?['name']}\",\n\"arProductName\": \"@{body('Parse_Product_Details_AR_JSON')?['name']}\",\n\"ProductShortDescription\": \"@{body('Parse_Product_Details_EN_JSON')?['shortDescription']}\",\n\"arProductShortDescription\": \"@{body('Parse_Product_Details_AR_JSON')?['shortDescription']}\",\n\"ProductLongDescription\": \"@{body('Parse_Product_Details_EN_JSON')?['longDescription']}\",\n\"arProductLongDescription\": \"@{body('Parse_Product_Details_AR_JSON')?['longDescription']}\",\n\"ProductReferenceURL\": { \"Description\": \"@{body('Parse_Product_Details_EN_JSON')?['productUrl']}\", \"Url\": \"@{body('Parse_Product_Details_EN_JSON')?['productUrl']}\" }\n}",
												"headers": {
													"Accept": "application/json;odata=nometadata",
													"Content-Type": "application/json",
													"If-Match": "*",
													"X-HTTP-Method": "@{if(equals(triggerBody()?['eventType'], 'product-updated'), 'MERGE', 'DELETE')}"
												},
												"method": "POST",
												"uri": "_api/web/lists/GetByTitle('@{parameters('productListName')}')/items(@{first(body('Parse_Product_List_Item_JSON')?['value'])?['ID']})"
											},
											"host": {
												"connection": {
													"name": "@parameters('$connections')['apicon-cpd-apps-intspo-tra-we-01']['connectionId']"
												}
											},
											"method": "post",
											"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('tenantURL'),'/sites/cms-dev-marketplace'))}/httprequest"
										},
										"runAfter": {},
										"type": "ApiConnection"
									}
								}
							},
							"expression": {
								"and": [
									{
										"equals": [
											"@length(body('Parse_Product_List_Item_JSON')?['value'])",
											0
										]
									}
								]
							},
							"runAfter": {
								"Parse_Product_List_Item_JSON": [
									"Succeeded"
								]
							},
							"type": "If"
						},
						"Get_Product_Details_AR": {
							"inputs": {
								"method": "GET",
								"uri": "@{body('Parse_JSON')?['ApiUrl']}?lang=1025"
							},
							"runAfter": {
								"Parse_Product_Details_EN_JSON": [
									"Succeeded"
								]
							},
							"type": "Http"
						},
						"Get_Product_Details_EN": {
							"inputs": {
								"method": "GET",
								"uri": "@{body('Parse_JSON')?['ApiUrl']}?lang=1033"
							},
							"runAfter": {},
							"type": "Http"
						},
						"Get_Product_Item": {
							"inputs": {
								"body": {
									"headers": {
										"Accept": "application/json;odata=nometadata",
										"Content-Type": "application/json"
									},
									"method": "GET",
									"uri": "_api/web/lists/GetByTitle('@{parameters('productListName')}')/items?$filter=ProductId eq '@{body('Parse_JSON')?['Id']}'"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['apicon-cpd-apps-intspo-tra-we-01']['connectionId']"
									}
								},
								"method": "post",
								"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('tenantURL'),'/sites/cms-dev-marketplace'))}/httprequest"
							},
							"runAfter": {
								"Parse_Product_Details_AR_JSON": [
									"Succeeded"
								]
							},
							"type": "ApiConnection"
						},
						"Parse_Product_Details_AR_JSON": {
							"inputs": {
								"content": "@body('Get_Product_Details_AR')",
								"schema": {
									"properties": {
										"id": {
											"type": "string"
										},
										"imageUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"legalUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"longDescription": {
											"type": [
												"string",
												"null"
											]
										},
										"modifiedOn": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"popularProduct": {
											"type": "boolean"
										},
										"productCategoryId": {
											"type": [
												"string",
												"null"
											]
										},
										"productCategoryName": {
											"type": [
												"string",
												"null"
											]
										},
										"productSubCategoryId": {
											"type": [
												"string",
												"null"
											]
										},
										"productSubCategoryName": {
											"type": [
												"string",
												"null"
											]
										},
										"productUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"shortDescription": {
											"type": [
												"string",
												"null"
											]
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Product_Details_AR": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						},
						"Parse_Product_Details_EN_JSON": {
							"inputs": {
								"content": "@body('Get_Product_Details_EN')",
								"schema": {
									"properties": {
										"id": {
											"type": "string"
										},
										"imageUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"legalUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"longDescription": {
											"type": [
												"string",
												"null"
											]
										},
										"modifiedOn": {
											"type": "string"
										},
										"name": {
											"type": "string"
										},
										"popularProduct": {
											"type": "boolean"
										},
										"productCategoryId": {
											"type": [
												"string",
												"null"
											]
										},
										"productCategoryName": {
											"type": [
												"string",
												"null"
											]
										},
										"productSubCategoryId": {
											"type": [
												"string",
												"null"
											]
										},
										"productSubCategoryName": {
											"type": [
												"string",
												"null"
											]
										},
										"productUrl": {
											"type": [
												"string",
												"null"
											]
										},
										"shortDescription": {
											"type": [
												"string",
												"null"
											]
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Product_Details_EN": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						},
						"Parse_Product_List_Item_JSON": {
							"inputs": {
								"content": "@body('Get_Product_Item')",
								"schema": {
									"properties": {
										"value": {
											"items": {
												"properties": {
													"ID": {
														"type": "integer"
													},
													"ProductId": {
														"type": "string"
													},
													"Title": {
														"type": "string"
													}
												},
												"type": "object"
											},
											"type": "array"
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Product_Item": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						}
					},
					"expression": {
						"or": [
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"product-created"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"product-updated"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"product-deleted"
								]
							}
						]
					},
					"runAfter": {
						"Parse_JSON": [
							"Succeeded"
						]
					},
					"type": "If"
				}
			}
		},
		"workflowParameters": {
			"value": {
				"$connections": {
					"defaultValue": {},
					"type": "Object"
				},
				"productListName": {
					"defaultValue": "Products",
					"type": "String"
				},
				"tenantURL": {
					"defaultValue": "https://tasmusqcp.sharepoint.com",
					"type": "String"
				}
			}
		},
		"tags": {
			"value": {
				"Environment": "Training"
			}
		},
		"connectionParameters": {
			"value": {
				"$connections": {
					"value": {
						"azureeventgrid": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-sbx-we-01/providers/Microsoft.Web/connections/azureeventgrid",
							"connectionName": "azureeventgrid",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
						},
						"apicon-cpd-apps-intspo-tra-we-01": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-tra-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intspo-tra-we-01",
							"connectionName": "apicon-cpd-apps-intspo-tra-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
						}
					}
				}
			}
		}
	}
}