Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-mpsidx-uat-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-mpsidx-uat-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "properties": {
                "data": {
                  "type": "object"
                },
                "dataVersion": {
                  "type": "string"
                },
                "eventTime": {
                  "type": "string"
                },
                "eventType": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "metadataVersion": {
                  "type": "string"
                },
                "subject": {
                  "type": "string"
                },
                "topic": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Initialize_EventData_Object": {
          "runAfter": {
            "Initialize_EventType_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventData",
                "type": "object",
                "value": "@variables('Event').data"
              }
            ]
          }
        },
        "Initialize_EventType_String": {
          "runAfter": {
            "Initialize_Event_Object": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EventType",
                "type": "string",
                "value": "@{variables('Event').eventType}"
              }
            ]
          }
        },
        "Initialize_Event_Object": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Event",
                "type": "object",
                "value": "@triggerBody()"
              }
            ]
          }
        },
        "Perform_action_as_per_eventtype": {
          "actions": {
            "Parse_Product_JSON": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('EventData')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "longDescription": {
                      "type": "string"
                    },
                    "modifiedOn": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "productPrice": {
                      "type": "integer"
                    },
                    "providerName": {
                      "type": "string"
                    },
                    "rating": {
                      "type": "number"
                    },
                    "shortDescription": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Parse_Product_JSON_AR": {
              "runAfter": {
                "Send_Product_Details_to_Azure_Search": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@variables('EventData')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "longDescription": {
                      "type": "string"
                    },
                    "modifiedOn": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "productPrice": {
                      "type": "integer"
                    },
                    "providerName": {
                      "type": "string"
                    },
                    "rating": {
                      "type": "number"
                    },
                    "shortDescription": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "Select_Product_Details": {
              "runAfter": {
                "Parse_Product_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(body('Parse_Product_JSON'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(body('Parse_Product_JSON')?['rating'],'')",
                  "entity_type": "Products&Services",
                  "id": "@body('Parse_Product_JSON')?['id']",
                  "merged_content": "@concat(body('Parse_Product_JSON')?['longDescription'],body('Parse_Product_JSON')?['shortDescription'])",
                  "metadata_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@body('Parse_Product_JSON')?['modifiedOn']",
                  "metadata_storage_name": "@body('Parse_Product_JSON')?['name']",
                  "price": "@concat(body('Parse_Product_JSON')?['productPrice'],'')",
                  "provider_name": "@body('Parse_Product_JSON')?['providerName']",
                  "search_id": "@concat('ProductsServices-',body('Parse_Product_JSON')['id'])",
                  "short_description": "@body('Parse_Product_JSON')?['shortDescription']",
                  "thumbnail_url": "@body('Parse_Product_JSON')?['imageUrl']"
                }
              }
            },
            "Select_Product_Details_AR": {
              "runAfter": {
                "Parse_Product_JSON_AR": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@createArray(body('Parse_Product_JSON_AR'))",
                "select": {
                  "@@search.action": "mergeOrUpload",
                  "average_rating": "@concat(body('Parse_Product_JSON_AR')?['rating'],'')",
                  "entity_type": "Products&Services",
                  "id": "@body('Parse_Product_JSON_AR')?['id']",
                  "merged_content": "@concat(body('Parse_Product_JSON_AR')?['longDescription'],body('Parse_Product_JSON_AR')?['shortDescription'])",
                  "metadata_last_modified": "@body('Parse_Product_JSON_AR')?['modifiedOn']",
                  "metadata_storage_file_extension": "JSON",
                  "metadata_storage_last_modified": "@body('Parse_Product_JSON_AR')?['modifiedOn']",
                  "metadata_storage_name": "@body('Parse_Product_JSON_AR')?['name']",
                  "price": "@concat(body('Parse_Product_JSON_AR')?['productPrice'],'')",
                  "provider_name": "@body('Parse_Product_JSON_AR')?['providerName']",
                  "search_id": "@concat('ProductsServicesAr-',body('Parse_Product_JSON_AR')['id'])",
                  "short_description": "@body('Parse_Product_JSON_AR')?['shortDescription']",
                  "thumbnail_url": "@body('Parse_Product_JSON_AR')?['imageUrl']"
                }
              }
            },
            "Send_Product_Details_to_Azure_Search": {
              "runAfter": {
                "Select_Product_Details": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details')"
                },
                "headers": {
                  "api-key": "5BB816FE81305A3747DA086A0C2F59F9",
                  "content-type": "application/json"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-uat-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            },
            "Send_Product_Details_to_Azure_Search_AR": {
              "runAfter": {
                "Select_Product_Details_AR": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "body": {
                  "value": "@body('Select_Product_Details_AR')"
                },
                "headers": {
                  "api-key": "5BB816FE81305A3747DA086A0C2F59F9",
                  "content-type": "application/json"
                },
                "method": "POST",
                "uri": "https://srch-cpd-apps-cog-uat-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
              }
            }
          },
          "runAfter": {
            "Initialize_EventData_Object": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition": {
                "actions": {
                  "Parse_KB_JSON": {
                    "runAfter": {},
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@variables('EventData')",
                      "schema": {
                        "properties": {
                          "content": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "Select_KB_Details": {
                    "runAfter": {
                      "Parse_KB_JSON": [
                        "Succeeded"
                      ]
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@createArray(body('Parse_KB_JSON'))",
                      "select": {
                        "@@search.action": "mergeOrUpload",
                        "average_rating": "@body('Parse_KB_JSON')?['rating']",
                        "content": "@body('Parse_KB_JSON')?['content']",
                        "entity_type": "KbArticle",
                        "id": "@body('Parse_KB_JSON')?['id']",
                        "merged_content": "@concat(body('Parse_KB_JSON')?['content'],body('Parse_KB_JSON')?['description'])",
                        "metadata_creation_date": "@utcNow()",
                        "metadata_last_modified": "@utcNow()",
                        "metadata_storage_file_extension": "JSON",
                        "metadata_storage_last_modified": "@utcNow()",
                        "metadata_storage_name": "@body('Parse_KB_JSON')?['title']",
                        "search_id": "@concat('KbArticle-',body('Parse_KB_JSON')['id'])",
                        "short_description": "@body('Parse_KB_JSON')?['description']"
                      }
                    }
                  },
                  "Send_KB_Details_to_Azure_Search": {
                    "runAfter": {
                      "Select_KB_Details": [
                        "Succeeded"
                      ]
                    },
                    "type": "Http",
                    "inputs": {
                      "body": {
                        "value": "@body('Select_KB_Details')"
                      },
                      "headers": {
                        "api-key": "5BB816FE81305A3747DA086A0C2F59F9",
                        "content-type": "application/json"
                      },
                      "method": "POST",
                      "uri": "https://srch-cpd-apps-cog-uat-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Parse_News_JSON": {
                      "runAfter": {},
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('EventData')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "longDescription": {
                              "type": "string"
                            },
                            "modified": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string"
                            },
                            "shortDescription": {
                              "type": "string"
                            },
                            "thumbnailImage": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Parse_News_JSON_AR": {
                      "runAfter": {
                        "Send_News_Details_to_Azure_Search": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('EventData')",
                        "schema": {
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "longDescription": {
                              "type": "string"
                            },
                            "modified": {
                              "type": "string"
                            },
                            "publishedDate": {
                              "type": "string"
                            },
                            "shortDescription": {
                              "type": "string"
                            },
                            "thumbnailImage": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    },
                    "Select_News_Details": {
                      "runAfter": {
                        "Parse_News_JSON": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(body('Parse_News_JSON'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@body('Parse_News_JSON')?['id']",
                          "merged_content": "@concat(body('Parse_News_JSON')?['longDescription'],body('Parse_News_JSON')?['shortDescription'])",
                          "metadata_creation_date": "@body('Parse_News_JSON')?['publishedDate']",
                          "metadata_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_file_extension": "JSON",
                          "metadata_storage_last_modified": "@body('Parse_News_JSON')?['modified']",
                          "metadata_storage_name": "@body('Parse_News_JSON')?['title']",
                          "search_id": "@concat('News-',body('Parse_News_JSON')?['id'])",
                          "short_description": "@body('Parse_News_JSON')?['shortDescription']",
                          "thumbnail_url": "@body('Parse_News_JSON')?['thumbnailImage']"
                        }
                      }
                    },
                    "Select_News_Details_AR": {
                      "runAfter": {
                        "Parse_News_JSON_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@createArray(body('Parse_News_JSON_AR'))",
                        "select": {
                          "@@search.action": "mergeOrUpload",
                          "entity_type": "News",
                          "id": "@body('Parse_News_JSON_AR')?['id']",
                          "merged_content": "@concat(body('Parse_News_JSON_AR')?['longDescription'],body('Parse_News_JSON_AR')?['shortDescription'])",
                          "metadata_creation_date": "@body('Parse_News_JSON_AR')?['publishedDate']",
                          "metadata_last_modified": "@body('Parse_News_JSON_AR')?['modified']",
                          "metadata_storage_name": "@body('Parse_News_JSON_AR')?['title']",
                          "search_id": "@concat('NewsAR-',body('Parse_News_JSON')?['id'])",
                          "short_description": "@body('Parse_News_JSON_AR')?['shortDescription']",
                          "thumbnail_url": "@body('Parse_News_JSON_AR')?['thumbnailImage']"
                        }
                      }
                    },
                    "Send_News_Details_to_Azure_Search": {
                      "runAfter": {
                        "Select_News_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details')"
                        },
                        "headers": {
                          "api-key": "5BB816FE81305A3747DA086A0C2F59F9",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-uat-we-01.search.windows.net/indexes/content-index-lps/docs/index?api-version=2020-06-30"
                      }
                    },
                    "Send_News_Details_to_Azure_Search_AR": {
                      "runAfter": {
                        "Select_News_Details_AR": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "body": {
                          "value": "@body('Select_News_Details_AR')"
                        },
                        "headers": {
                          "api-key": "5BB816FE81305A3747DA086A0C2F59F9",
                          "content-type": "application/json"
                        },
                        "method": "POST",
                        "uri": "https://srch-cpd-apps-cog-uat-we-01.search.windows.net/indexes/content-index/docs/index?api-version=2020-06-30"
                      }
                    }
                  }
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@variables('EventType')",
                        "new-kbarticle"
                      ]
                    },
                    {
                      "equals": [
                        "@variables('EventType')",
                        "kbarticle-update"
                      ]
                    }
                  ]
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@variables('EventType')",
                  "new-product"
                ]
              },
              {
                "equals": [
                  "@variables('EventType')",
                  "product-update"
                ]
              }
            ]
          },
          "type": "If"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "connectionParameters": {
      "value": {}
    },
    "tags": {
      "value": {
        "Environment": "UAT"
      }
    }
  }
}