Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-csp-invoice-tst-we-01-parameters.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "value": "logic-cpd-csp-invoice-tst-we-01"
        },
        "workflowLocation": {
            "value": "westeurope"
        },
        "workflowSchema": {
            "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
        },
        "workflowTriggers": {
            "value": {
                "Recurrence": {
                    "evaluatedRecurrence": {
                        "frequency": "Month",
                        "interval": 1,
                        "startTime": "2022-07-07T00:00:00Z",
                        "timeZone": "Arab Standard Time"
                    },
                    "recurrence": {
                        "frequency": "Month",
                        "interval": 1,
                        "startTime": "2022-07-07T00:00:00Z",
                        "timeZone": "Arab Standard Time"
                    },
                    "type": "Recurrence"
                }
            }
        },
        "workflowActions": {
            "value": {
                "For_each": {
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Filter_array": {
                                    "inputs": {
                                        "from": "@body('Parse_JSON__Invoice_by_ID')",
                                        "where": "@contains(item()['customerCompanyName'], 'SQCP')"
                                    },
                                    "runAfter": {
                                        "Parse_JSON__Invoice_by_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Query"
                                },
                                "For_each_2": {
                                    "actions": {
                                        "Create_CSV_table": {
                                            "inputs": {
                                                "columns": [
                                                    {
                                                        "header": "PartnerId",
                                                        "value": "@items('For_each_2')['partnerId']"
                                                    },
                                                    {
                                                        "header": "PartnerName",
                                                        "value": "@items('For_each_2')['partnerName']"
                                                    },
                                                    {
                                                        "header": "PartnerBillableAccountId",
                                                        "value": "@items('For_each_2')['partnerBillableAccountId']"
                                                    },
                                                    {
                                                        "header": "CustomerCompanyName",
                                                        "value": "@items('For_each_2')['customerCompanyName']"
                                                    },
                                                    {
                                                        "header": "MpnId",
                                                        "value": "@items('For_each_2')['mpnId']"
                                                    },
                                                    {
                                                        "header": "InvoiceNumber",
                                                        "value": "@items('For_each_2')['invoiceNumber']"
                                                    },
                                                    {
                                                        "header": "ChargeStartDate",
                                                        "value": "@items('For_each_2')['chargeStartDate']"
                                                    },
                                                    {
                                                        "header": "ChargeEndDate",
                                                        "value": "@items('For_each_2')['chargeEndDate']"
                                                    },
                                                    {
                                                        "header": "SubscriptionId",
                                                        "value": "@items('For_each_2')['subscriptionId']"
                                                    },
                                                    {
                                                        "header": "SubscriptionName",
                                                        "value": "@items('For_each_2')['subscriptionName']"
                                                    },
                                                    {
                                                        "header": "SubscriptionDescription",
                                                        "value": "@items('For_each_2')['subscriptionDescription']"
                                                    },
                                                    {
                                                        "header": "OrderId",
                                                        "value": "@items('For_each_2')['orderId']"
                                                    },
                                                    {
                                                        "header": "ServiceName",
                                                        "value": "@items('For_each_2')['serviceName']"
                                                    },
                                                    {
                                                        "header": "ServiceType",
                                                        "value": "@items('For_each_2')['serviceType']"
                                                    },
                                                    {
                                                        "header": "ResourceGuid",
                                                        "value": "@items('For_each_2')['resourceGuid']"
                                                    },
                                                    {
                                                        "header": "ResourceName",
                                                        "value": "@items('For_each_2')['resourceName']"
                                                    },
                                                    {
                                                        "header": "Region",
                                                        "value": "@items('For_each_2')['region']"
                                                    },
                                                    {
                                                        "header": "Sku",
                                                        "value": "@items('For_each_2')['sku']"
                                                    },
                                                    {
                                                        "header": "DetailLineItemId",
                                                        "value": "@items('For_each_2')['detailLineItemId']"
                                                    },
                                                    {
                                                        "header": "ConsumedQuantity",
                                                        "value": "@items('For_each_2')['consumedQuantity']"
                                                    },
                                                    {
                                                        "header": "IncludedQuantity",
                                                        "value": "@items('For_each_2')['includedQuantity']"
                                                    },
                                                    {
                                                        "header": "OverageQuantity",
                                                        "value": "@items('For_each_2')['overageQuantity']"
                                                    },
                                                    {
                                                        "header": "ListPrice",
                                                        "value": "@items('For_each_2')['listPrice']"
                                                    },
                                                    {
                                                        "header": "PretaxCharges",
                                                        "value": "@items('For_each_2')['pretaxCharges']"
                                                    },
                                                    {
                                                        "header": "TaxAmount",
                                                        "value": "@items('For_each_2')['taxAmount']"
                                                    },
                                                    {
                                                        "header": "PostTaxTotal",
                                                        "value": "@items('For_each_2')['postTaxTotal']"
                                                    },
                                                    {
                                                        "header": "Currency",
                                                        "value": "@items('For_each_2')['currency']"
                                                    },
                                                    {
                                                        "header": "PretaxEffectiveRate",
                                                        "value": "@items('For_each_2')['pretaxEffectiveRate']"
                                                    },
                                                    {
                                                        "header": "PostTaxEffectiveRate",
                                                        "value": "@items('For_each_2')['postTaxEffectiveRate']"
                                                    },
                                                    {
                                                        "header": "ChargeType",
                                                        "value": "@items('For_each_2')['chargeType']"
                                                    },
                                                    {
                                                        "header": "CustomerId",
                                                        "value": "@items('For_each_2')['customerId']"
                                                    },
                                                    {
                                                        "header": "DomainName",
                                                        "value": "@items('For_each_2')['domainName']"
                                                    },
                                                    {
                                                        "header": "BillingCycleType",
                                                        "value": "@items('For_each_2')['billingCycleType']"
                                                    },
                                                    {
                                                        "header": "Unit",
                                                        "value": "@items('For_each_2')['unit']"
                                                    }
                                                ],
                                                "format": "CSV",
                                                "from": "@body('Filter_array')"
                                            },
                                            "runAfter": {},
                                            "type": "Table"
                                        },
                                        "HTTP": {
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://storage.azure.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": "@body('Create_CSV_table')",
                                                "headers": {
                                                    "x-ms-blob-content-disposition": "attachment; filename=Azurebilling_@{formatDateTime(utcNow(), 'MMM')}@{formatDateTime(utcNow(), 'yyyy')}.csv",
                                                    "x-ms-blob-type": "BlockBlob",
                                                    "x-ms-version": "2020-08-04"
                                                },
                                                "method": "PUT",
                                                "uri": "https://stcpdglobacmwe01.blob.core.windows.net/invoiceconsumption/Azurebilling_@{formatDateTime(utcNow(), 'MMM')}@{formatDateTime(utcNow(), 'yyyy')}.csv"
                                            },
                                            "runAfter": {
                                                "Create_CSV_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http"
                                        }
                                    },
                                    "foreach": "@body('Filter_array')",
                                    "runAfter": {
                                        "Filter_array": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Parse_JSON__Invoice_by_ID": {
                                    "inputs": {
                                        "content": "@body('Get_invoice_by_ID').items",
                                        "schema": {
                                            "items": {
                                                "properties": {
                                                    "attributes": {
                                                        "properties": {
                                                            "objectType": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "billingCycleType": {
                                                        "type": "string"
                                                    },
                                                    "billingProvider": {
                                                        "type": "string"
                                                    },
                                                    "chargeEndDate": {
                                                        "type": "string"
                                                    },
                                                    "chargeStartDate": {
                                                        "type": "string"
                                                    },
                                                    "chargeType": {
                                                        "type": "string"
                                                    },
                                                    "consumedQuantity": {
                                                        "type": "number"
                                                    },
                                                    "currency": {
                                                        "type": "string"
                                                    },
                                                    "customerCompanyName": {
                                                        "type": "string"
                                                    },
                                                    "customerId": {
                                                        "type": "string"
                                                    },
                                                    "detailLineItemId": {
                                                        "type": "integer"
                                                    },
                                                    "domainName": {
                                                        "type": "string"
                                                    },
                                                    "includedQuantity": {
                                                        "type": "integer"
                                                    },
                                                    "invoiceLineItemType": {
                                                        "type": "string"
                                                    },
                                                    "invoiceNumber": {
                                                        "type": "string"
                                                    },
                                                    "listPrice": {
                                                        "type": "number"
                                                    },
                                                    "mpnId": {
                                                        "type": "integer"
                                                    },
                                                    "orderId": {
                                                        "type": "string"
                                                    },
                                                    "overageQuantity": {
                                                        "type": "number"
                                                    },
                                                    "partnerBillableAccountId": {
                                                        "type": "string"
                                                    },
                                                    "partnerId": {
                                                        "type": "string"
                                                    },
                                                    "partnerName": {
                                                        "type": "string"
                                                    },
                                                    "postTaxEffectiveRate": {
                                                        "type": "number"
                                                    },
                                                    "postTaxTotal": {
                                                        "type": "number"
                                                    },
                                                    "pretaxCharges": {
                                                        "type": "number"
                                                    },
                                                    "pretaxEffectiveRate": {
                                                        "type": "number"
                                                    },
                                                    "region": {
                                                        "type": "string"
                                                    },
                                                    "resourceGuid": {
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "type": "string"
                                                    },
                                                    "serviceName": {
                                                        "type": "string"
                                                    },
                                                    "serviceType": {
                                                        "type": "string"
                                                    },
                                                    "sku": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionDescription": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionId": {
                                                        "type": "string"
                                                    },
                                                    "subscriptionName": {
                                                        "type": "string"
                                                    },
                                                    "taxAmount": {
                                                        "type": "integer"
                                                    },
                                                    "tier2MpnId": {
                                                        "type": "integer"
                                                    },
                                                    "unit": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "detailLineItemId",
                                                    "sku",
                                                    "includedQuantity",
                                                    "overageQuantity",
                                                    "listPrice",
                                                    "currency",
                                                    "pretaxCharges",
                                                    "taxAmount",
                                                    "postTaxTotal",
                                                    "pretaxEffectiveRate",
                                                    "postTaxEffectiveRate",
                                                    "chargeType",
                                                    "invoiceLineItemType",
                                                    "partnerId",
                                                    "partnerName",
                                                    "partnerBillableAccountId",
                                                    "customerId",
                                                    "domainName",
                                                    "customerCompanyName",
                                                    "mpnId",
                                                    "tier2MpnId",
                                                    "invoiceNumber",
                                                    "subscriptionId",
                                                    "subscriptionName",
                                                    "subscriptionDescription",
                                                    "billingCycleType",
                                                    "orderId",
                                                    "serviceName",
                                                    "serviceType",
                                                    "resourceGuid",
                                                    "resourceName",
                                                    "region",
                                                    "consumedQuantity",
                                                    "chargeStartDate",
                                                    "chargeEndDate",
                                                    "unit",
                                                    "billingProvider",
                                                    "attributes"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@outputs('Get_invoice_by_ID')['statusCode']",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Get_invoice_by_ID": [
                                    "Succeeded",
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "If"
                        },
                        "Get_invoice_by_ID": {
                            "inputs": {
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                                },
                                "method": "GET",
                                "uri": "https://api.partnercenter.microsoft.com/v1/invoices/@{items('For_each')?['id']}/lineitems?provider=Azure&invoicelineitemtype=BillingLineItems"
                            },
                            "runAfter": {},
                            "type": "Http"
                        }
                    },
                    "foreach": "@body('Parse_JSON_Invoice_Data')?['items']",
                    "runAfter": {
                        "Parse_JSON_Invoice_Data": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "Get_All_Invoices": {
                    "inputs": {
                        "headers": {
                            "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}"
                        },
                        "method": "GET",
                        "uri": "https://api.partnercenter.microsoft.com/v1/invoices"
                    },
                    "runAfter": {
                        "Parse_JSON": [
                            "Succeeded"
                        ]
                    },
                    "type": "Http"
                },
                "Get_csp-client-id": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['apicon-cpd-csp-invoice-tst-we-01']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-client-id')}/value"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Get_csp-client-secret": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['apicon-cpd-csp-invoice-tst-we-01']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-client-secret')}/value"
                    },
                    "runAfter": {
                        "Get_csp-client-id": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Get_csp-scope": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['apicon-cpd-csp-invoice-tst-we-01']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-scope')}/value"
                    },
                    "runAfter": {
                        "Get_csp-client-secret": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Get_csp-tenant-id": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['apicon-cpd-csp-invoice-tst-we-01']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('csp-tenant-id')}/value"
                    },
                    "runAfter": {
                        "Get_csp-scope": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "HTTP_Generate_CSP_Bearer_Token": {
                    "inputs": {
                        "body": "client_id=@{body('Get_csp-client-id')?['value']}&client_secret=@{body('Get_csp-client-secret')?['value']}&grant_type=client_credentials&scope=@{body('Get_csp-scope')?['value']}",
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        "method": "POST",
                        "uri": "https://login.microsoftonline.com/@{body('Get_csp-tenant-id')?['value']}/oauth2/v2.0/token"
                    },
                    "runAfter": {
                        "Get_csp-tenant-id": [
                            "Succeeded"
                        ]
                    },
                    "type": "Http"
                },
                "Parse_JSON": {
                    "inputs": {
                        "content": "@body('HTTP_Generate_CSP_Bearer_Token')",
                        "schema": {
                            "properties": {
                                "access_token": {
                                    "type": "string"
                                },
                                "expires_in": {
                                    "type": "integer"
                                },
                                "ext_expires_in": {
                                    "type": "integer"
                                },
                                "token_type": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "runAfter": {
                        "HTTP_Generate_CSP_Bearer_Token": [
                            "Succeeded"
                        ]
                    },
                    "type": "ParseJson"
                },
                "Parse_JSON_Invoice_Data": {
                    "inputs": {
                        "content": "@body('Get_All_Invoices')",
                        "schema": {
                            "properties": {
                                "attributes": {
                                    "properties": {
                                        "objectType": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "items": {
                                    "items": {
                                        "properties": {
                                            "attributes": {
                                                "properties": {
                                                    "objectType": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "billingPeriodEndDate": {
                                                "type": "string"
                                            },
                                            "billingPeriodStartDate": {
                                                "type": "string"
                                            },
                                            "currencyCode": {
                                                "type": "string"
                                            },
                                            "currencySymbol": {
                                                "type": "string"
                                            },
                                            "documentType": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "invoiceDate": {
                                                "type": "string"
                                            },
                                            "invoiceDetails": {
                                                "items": {
                                                    "properties": {
                                                        "attributes": {
                                                            "properties": {
                                                                "objectType": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "billingProvider": {
                                                            "type": "string"
                                                        },
                                                        "invoiceLineItemType": {
                                                            "type": "string"
                                                        },
                                                        "links": {
                                                            "properties": {
                                                                "self": {
                                                                    "properties": {
                                                                        "headers": {
                                                                            "type": "array"
                                                                        },
                                                                        "method": {
                                                                            "type": "string"
                                                                        },
                                                                        "uri": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "required": [
                                                        "invoiceLineItemType",
                                                        "billingProvider",
                                                        "links",
                                                        "attributes"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "invoiceType": {
                                                "type": "string"
                                            },
                                            "links": {
                                                "properties": {
                                                    "self": {
                                                        "properties": {
                                                            "headers": {
                                                                "type": "array"
                                                            },
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "uri": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "paidAmount": {
                                                "type": "number"
                                            },
                                            "pdfDownloadLink": {
                                                "type": "string"
                                            },
                                            "state": {
                                                "type": "string"
                                            },
                                            "totalCharges": {
                                                "type": "number"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "invoiceDate",
                                            "billingPeriodStartDate",
                                            "billingPeriodEndDate",
                                            "totalCharges",
                                            "paidAmount",
                                            "currencyCode",
                                            "currencySymbol",
                                            "pdfDownloadLink",
                                            "invoiceDetails",
                                            "documentType",
                                            "state",
                                            "invoiceType",
                                            "links",
                                            "attributes"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "links": {
                                    "properties": {
                                        "self": {
                                            "properties": {
                                                "headers": {
                                                    "type": "array"
                                                },
                                                "method": {
                                                    "type": "string"
                                                },
                                                "uri": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "totalCount": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "runAfter": {
                        "Get_All_Invoices": [
                            "Succeeded"
                        ]
                    },
                    "type": "ParseJson"
                }
            }
        },
        "workflowParameters": {
            "value": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            }
        },
        "diagnosticLogsRetentionInDays": {
            "value": 365
        },
        "diagnosticStorageAccountId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-pltf-mon-npd-we-01/providers/Microsoft.Storage/storageAccounts/stcpdpltfdiagnpdwe01"
        },
        "workspaceId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourcegroups/rg-cpd-pltf-mon-npd-we-01/providers/microsoft.operationalinsights/workspaces/log-cpd-pltf-npd-we-01"
        },
        "eventHubAuthorizationRuleId": {
            "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-tst-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-tst-we-01/authorizationrules/RootManageSharedAccessKey"
        },
        "eventHubName": {
            "value": "evh-cpd-apps-mon-tst-we-01"
        },
        "tags": {
            "value": {
                "Environment": "Test"
            }
        },
        "connectionParameters": {
            "value": {
                "$connections": {
                    "value": {
                        "apicon-cpd-csp-invoice-tst-we-01": {
                            "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-csp-bill-tst-we-01/providers/Microsoft.Web/connections/apicon-cpd-csp-invoice-tst-we-01",
                            "connectionName": "apicon-cpd-csp-invoice-tst-we-01",
                            "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
                        }
                    }
                }
            }
        }
    }
}