Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-secsync-uat-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpd-apps-secsync-uat-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_message_is_received_in_a_queue_(auto-complete)": {
          "recurrence": {
            "frequency": "Second",
            "interval": 10
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intsb-uat-we-01']['connectionId']"
              }
            },
            "method": "get",
            "path": "/@{encodeURIComponent(encodeURIComponent('sector'))}/messages/head",
            "queries": {
              "queueType": "Main"
            }
          }
        }
      }
    },
    "workflowActions": {
      "value": {
        "Fetch_Global_Sector_List": {
          "runAfter": {
            "Parse_Service_bus_message": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "_api/web/lists/getByTitle('@{parameters('GlobalSectorList')}')/items"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['GlobalSiteURL']))}/httprequest"
          }
        },
        "Fetch_Terms_from_Sector_Term_Set": {
          "runAfter": {
            "Parse_Fetched_Global_Sector_List": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/terms"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
          }
        },
        "Get_Global_Sector_List": {
          "runAfter": {
            "Loop_for_checking_if_the_Term_with_same_name_already_exist": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "_api/web/lists/getByTitle('@{parameters('GlobalSectorList')}')/items"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['GlobalSiteURL']))}/httprequest"
          }
        },
        "Get_Updated_Global_Sector_List": {
          "runAfter": {
            "Parse_existing_terms_from_sector_term_set": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "_api/web/lists/getByTitle('@{parameters('GlobalSectorList')}')/items"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['GlobalSiteURL']))}/httprequest"
          }
        },
        "Get_all_existing_Terms_from_Sector_Term_Set": {
          "runAfter": {
            "Loop_for_adding_and_updating_terms": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": {
              "headers": {
                "Accept": "application/json;odata=nometadata",
                "Content-Type": "application/json"
              },
              "method": "GET",
              "uri": "_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/terms"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Count",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Loop_for_adding_and_updating_terms": {
          "foreach": "@body('Parse_Global_Sector_List')?['value']",
          "actions": {
            "If_New_Term_needs_to_be_added": {
              "actions": {
                "Add_term_to_term_set": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "body": "{ \"WssId\": \"-1\",\n\t\"labels\": [{\n\t\t\"name\": \"@{items('Loop_for_adding_and_updating_terms')?['Title']}\",\n\t\t\"isDefault\": true,\n\t\t\"languageTag\": \"en-US\"\n\t}]\n}",
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/children"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
                  }
                },
                "Parse_Unique_GUID_of_the_term_added": {
                  "runAfter": {
                    "Add_term_to_term_set": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Add_term_to_term_set')",
                    "schema": {
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "Update_cmsUniqueId_in_global_sector_list": {
                  "runAfter": {
                    "Parse_Unique_GUID_of_the_term_added": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "body": "{\n\"cmsUniqueId\":\"@{body('Parse_Unique_GUID_of_the_term_added')?['id']}\"\n}",
                      "headers": {
                        "Accept": "application/json;odata=nometadata",
                        "Content-Type": "application/json",
                        "If-Match": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "method": "POST",
                      "uri": "_api/web/lists/getByTitle('@{parameters('GlobalSectorList')}')/GetItemById(@{items('Loop_for_adding_and_updating_terms')?['Id']})"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['GlobalSiteURL']))}/httprequest"
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Fetch_Existing_terms_from_sector_term_set": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "body": {
                        "headers": {
                          "Accept": "application/json;odata=nometadata",
                          "Content-Type": "application/json"
                        },
                        "method": "GET",
                        "uri": "_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/terms"
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
                    }
                  },
                  "Loop_for_checking_and_updating_terms": {
                    "foreach": "@body('Parse_existing_terms')?['value']",
                    "actions": {
                      "If_Matching_GUID": {
                        "actions": {
                          "For_each_3": {
                            "foreach": "@items('Loop_for_checking_and_updating_terms')['labels']",
                            "actions": {
                              "If_Matching_Title": {
                                "actions": {},
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Update_the_term_": {
                                      "runAfter": {},
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "body": {
                                          "body": "{\n\t\"labels\": [{\n\t\t\"name\": \"@{items('Loop_for_adding_and_updating_terms')?['Title']}\",\n\t\t\"isDefault\": true,\n\t\t\"languageTag\": \"en-US\"\n\t}]\n}",
                                          "headers": {
                                            "Accept": "application/json;odata=nometadata",
                                            "Content-Type": "application/json",
                                            "If-Match": "*",
                                            "X-HTTP-Method": "MERGE"
                                          },
                                          "method": "PATCH",
                                          "uri": "/_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/terms/@{items('Loop_for_adding_and_updating_terms')?['cmsUniqueId']}"
                                        },
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                                          }
                                        },
                                        "method": "post",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
                                      }
                                    }
                                  }
                                },
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@items('Loop_for_adding_and_updating_terms')?['Title']",
                                        "@items('For_each_3')?['name']"
                                      ]
                                    }
                                  ]
                                },
                                "type": "If"
                              }
                            },
                            "runAfter": {},
                            "type": "Foreach",
                            "runtimeConfiguration": {
                              "concurrency": {
                                "repetitions": 1
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "expression": {
                          "and": [
                            {
                              "equals": [
                                "@items('Loop_for_checking_and_updating_terms')?['id']",
                                "@items('Loop_for_adding_and_updating_terms')?['cmsUniqueId']"
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      }
                    },
                    "runAfter": {
                      "Parse_existing_terms": [
                        "Succeeded"
                      ]
                    },
                    "type": "Foreach",
                    "runtimeConfiguration": {
                      "concurrency": {
                        "repetitions": 1
                      }
                    }
                  },
                  "Parse_existing_terms": {
                    "runAfter": {
                      "Fetch_Existing_terms_from_sector_term_set": [
                        "Succeeded"
                      ]
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('Fetch_Existing_terms_from_sector_term_set')",
                      "schema": {
                        "properties": {
                          "value": {
                            "items": {
                              "properties": {
                                "descriptions": {
                                  "items": {
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "languageTag": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "description",
                                      "languageTag"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "labels": {
                                  "items": {
                                    "properties": {
                                      "isDefault": {
                                        "type": "boolean"
                                      },
                                      "languageTag": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "isDefault",
                                      "languageTag"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "id",
                                "labels",
                                "descriptions"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Loop_for_adding_and_updating_terms')?['cmsUniqueId']",
                      "@null"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Parse_Global_Sector_List": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Loop_for_checking_if_the_Term_with_same_name_already_exist": {
          "foreach": "@body('Parse_Fetched_Global_Sector_List')?['value']",
          "actions": {
            "New_Term_Check": {
              "actions": {
                "For_each_Term_already_present_in_term_set": {
                  "foreach": "@body('Parse_Terms')?['value']",
                  "actions": {
                    "For_each": {
                      "foreach": "@items('For_each_Term_already_present_in_term_set')['labels']",
                      "actions": {
                        "If_Same_Name": {
                          "actions": {
                            "Update_Global_List": {
                              "runAfter": {},
                              "type": "ApiConnection",
                              "inputs": {
                                "body": {
                                  "body": "{\n\"cmsUniqueId\":\"@{items('For_each_Term_already_present_in_term_set')?['id']}\"\n}",
                                  "headers": {
                                    "Accept": "application/json;odata=nometadata",
                                    "Content-Type": "application/json",
                                    "If-Match": "*",
                                    "X-HTTP-Method": "MERGE"
                                  },
                                  "method": "POST",
                                  "uri": "_api/web/lists/getByTitle('@{parameters('GlobalSectorList')}')/GetItemById(@{items('Loop_for_checking_if_the_Term_with_same_name_already_exist')?['Id']})"
                                },
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['GlobalSiteURL']))}/httprequest"
                              }
                            }
                          },
                          "runAfter": {},
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('Loop_for_checking_if_the_Term_with_same_name_already_exist')?['Title']",
                                  "@items('For_each')?['name']"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "runAfter": {},
                      "type": "Foreach",
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 1
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 1
                    }
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Loop_for_checking_if_the_Term_with_same_name_already_exist')?['cmsUniqueId']",
                      "@null"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Parse_Terms": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Loop_for_deleting_terms": {
          "foreach": "@body('Parse_existing_terms_from_sector_term_set')?['value']",
          "actions": {
            "Check_if_no_match_found": {
              "actions": {
                "Delete_the_term": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "method": "DELETE",
                      "uri": "/_api/v2.1/termStore/groups/@{body('Parse_Service_bus_message')?['TASMUTermGroupId']}/sets/@{body('Parse_Service_bus_message')?['SectorTermSetId']}/terms/@{items('Loop_for_deleting_terms')?['id']}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(body('Parse_Service_bus_message')?['TenantURL']))}/httprequest"
                  }
                },
                "Set_variable_count_after_deletion_of_term": {
                  "runAfter": {
                    "Delete_the_term": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Count",
                    "value": 0
                  }
                }
              },
              "runAfter": {
                "Loop_for_finding_a_match": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_count": {
                    "runAfter": {},
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Count",
                      "value": 0
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@variables('Count')",
                      "@length(body('Parse_updated_global_sector_list')?['value'])"
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Loop_for_finding_a_match": {
              "foreach": "@body('Parse_updated_global_sector_list')?['value']",
              "actions": {
                "If_GUIDs_Match": {
                  "actions": {},
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Increment_and_set_count": {
                        "runAfter": {
                          "Value_of_Count": [
                            "Succeeded"
                          ]
                        },
                        "type": "SetVariable",
                        "inputs": {
                          "name": "Count",
                          "value": "@add(1,outputs('Value_of_Count'))"
                        }
                      },
                      "Value_of_Count": {
                        "runAfter": {},
                        "type": "Compose",
                        "inputs": "@variables('Count')"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('Loop_for_deleting_terms')?['id']",
                          "@items('Loop_for_finding_a_match')?['cmsUniqueId']"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "runAfter": {
            "Parse_updated_global_sector_list": [
              "Succeeded"
            ]
          },
          "type": "Foreach",
          "runtimeConfiguration": {
            "concurrency": {
              "repetitions": 1
            }
          }
        },
        "Parse_Fetched_Global_Sector_List": {
          "runAfter": {
            "Fetch_Global_Sector_List": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Fetch_Global_Sector_List')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "Id": {
                        "type": "integer"
                      },
                      "SectorID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "Title": {
                        "type": "string"
                      },
                      "cmsUniqueId": {},
                      "arTitle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "Id",
                      "Title",
                      "arTitle",
                      "SectorID",
                      "cmsUniqueId"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "Parse_Global_Sector_List": {
          "runAfter": {
            "Get_Global_Sector_List": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_Global_Sector_List')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "Id": {
                        "type": "integer"
                      },
                      "SectorID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "Title": {
                        "type": "string"
                      },
                      "cmsUniqueId": {},
                      "arTitle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "Id",
                      "Title",
                      "arTitle",
                      "SectorID",
                      "cmsUniqueId"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "Parse_Service_bus_message": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@json(base64ToString(triggerBody()?['ContentData']))",
            "schema": {
              "properties": {
                "GlobalSiteURL": {
                  "type": "string"
                },
                "SectorTermSetId": {
                  "type": "string"
                },
                "TASMUTermGroupId": {
                  "type": "string"
                },
                "TenantURL": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "Parse_Terms": {
          "runAfter": {
            "Fetch_Terms_from_Sector_Term_Set": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Fetch_Terms_from_Sector_Term_Set')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "descriptions": {
                        "items": {
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "languageTag": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "description",
                            "languageTag"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "id": {
                        "type": "string"
                      },
                      "labels": {
                        "items": {
                          "properties": {
                            "isDefault": {
                              "type": "boolean"
                            },
                            "languageTag": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "isDefault",
                            "languageTag"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "id",
                      "labels",
                      "descriptions"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "Parse_existing_terms_from_sector_term_set": {
          "runAfter": {
            "Get_all_existing_Terms_from_Sector_Term_Set": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_all_existing_Terms_from_Sector_Term_Set')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "descriptions": {
                        "items": {
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "languageTag": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "description",
                            "languageTag"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "id": {
                        "type": "string"
                      },
                      "labels": {
                        "items": {
                          "properties": {
                            "isDefault": {
                              "type": "boolean"
                            },
                            "languageTag": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "isDefault",
                            "languageTag"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "id",
                      "labels",
                      "descriptions"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "Parse_updated_global_sector_list": {
          "runAfter": {
            "Get_Updated_Global_Sector_List": [
              "Succeeded"
            ]
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Get_Updated_Global_Sector_List')",
            "schema": {
              "properties": {
                "value": {
                  "items": {
                    "properties": {
                      "Id": {
                        "type": "integer"
                      },
                      "SectorID": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "Title": {
                        "type": "string"
                      },
                      "cmsUniqueId": {},
                      "arTitle": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "Id",
                      "Title",
                      "arTitle",
                      "SectorID",
                      "cmsUniqueId"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        }
      }

    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "GlobalSectorList": {
          "defaultValue": "Sectors",
          "type": "String"
        }


      }

    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.Storage/storageAccounts/stcpdappsdiaguatwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpd-apps-mon-uat-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-uat-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpd-apps-mon-uat-we-01"
    },
    "tags": {
      "value": {
        "Environment": "UAT"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "apicon-cpd-apps-intspo-uat-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-uat-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intspo-uat-we-01",
              "connectionName": "apicon-cpd-apps-intspo-uat-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
            },
            "apicon-cpd-apps-intsb-uat-we-01": {
              "connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-uat-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intsb-uat-we-01",
              "connectionName": "apicon-cpd-apps-intsb-uat-we-01",
              "id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/servicebus"
            }
          }
        }
      }
    }
  }
}