Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpd-apps-intsec-uat-we-01-parameters.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workflowName": {
			"value": "logic-cpd-apps-intsec-uat-we-01"
		},
		"workflowLocation": {
			"value": "westeurope"
		},
		"workflowSchema": {
			"value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
		},
		"workflowTriggers": {
			"value": {
				"When_a_resource_event_occurs": {
					"inputs": {
						"body": {
							"properties": {
								"destination": {
									"endpointType": "webhook",
									"properties": {
										"endpointUrl": "@{listCallbackUrl()}"
									}
								},
								"filter": {
									"includedEventTypes": [
										"sector-created",
										"sector-updated",
										"sector-deleted"
									]
								},
								"topic": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-temp-sbx-we-02/providers/Microsoft.EventGrid/topics/evg-cpd-temp-sbx-we-01"
							}
						},
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureeventgrid']['connectionId']"
							}
						},
						"path": "/subscriptions/@{encodeURIComponent('d0694def-b27e-4bb7-900d-437fbeb802da')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
						"queries": {
							"x-ms-api-version": "2017-09-15-preview"
						}
					},
					"splitOn": "@triggerBody()",
					"type": "ApiConnectionWebhook"
				}
			}
		},
		"workflowActions": {
			"value": {
				"Initialize_Sector_AR": {
					"inputs": {
						"variables": [
							{
								"name": "SectorAR",
								"type": "string"
							}
						]
					},
					"runAfter": {
						"Initialize_Sector_EN": [
							"Succeeded"
						]
					},
					"type": "InitializeVariable"
				},
				"Initialize_Sector_EN": {
					"inputs": {
						"variables": [
							{
								"name": "SectorEN",
								"type": "string"
							}
						]
					},
					"runAfter": {
						"Parse_JSON": [
							"Succeeded"
						]
					},
					"type": "InitializeVariable"
				},
				"Parse_JSON": {
					"inputs": {
						"content": "@triggerBody()?['data']",
						"schema": {
							"properties": {
								"ApiUrl": {
									"type": "string"
								},
								"Id": {
									"type": "string"
								}
							},
							"type": "object"
						}
					},
					"runAfter": {},
					"type": "ParseJson"
				},
				"Perform_on_Event_Type": {
					"actions": {
						"Get_Configuration_List_Items": {
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
									}
								},
								"method": "get",
								"path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('tenantUrl'),'/sites/cms-dev-global'))}/tables/@{encodeURIComponent(encodeURIComponent('Configuration'))}/items",
								"queries": {
									"viewScopeOption": "Default"
								}
							},
							"runAfter": {
								"Set_Sector_AR": [
									"Succeeded"
								]
							},
							"type": "ApiConnection"
						},
						"Get_Sector_Details_AR": {
							"inputs": {
								"method": "GET",
								"uri": "@{body('Parse_JSON')?['ApiUrl']}?lang=1025"
							},
							"runAfter": {
								"Parse_Sector_Details_EN_JSON": [
									"Succeeded"
								]
							},
							"type": "Http"
						},
						"Get_Sector_Details_EN": {
							"inputs": {
								"method": "GET",
								"uri": "@{body('Parse_JSON')?['ApiUrl']}?lang=1033"
							},
							"runAfter": {},
							"type": "Http"
						},
						"Loop_Site_Collections_URLs": {
							"actions": {
								"Check_If_Item_Exists": {
									"actions": {
										"Create_Sector_List_Item": {
											"inputs": {
												"body": {
													"body": "{\n\"SectorID\": \"@{body('Parse_JSON')?['Id']}\",\n\"Title\": \"@{variables('SectorEN')}\",\n\"arTitle\": \"@{variables('SectorAR')}\"\n}",
													"headers": {
														"Accept": "application/json;odata=nometadata",
														"Content-Type": "application/json"
													},
													"method": "POST",
													"uri": "_api/web/lists/GetByTitle('@{parameters('sectorListName')}')/items"
												},
												"host": {
													"connection": {
														"name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
													}
												},
												"method": "post",
												"path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('Loop_Site_Collections_URLs')?['SiteURL']))}/httprequest"
											},
											"runAfter": {},
											"type": "ApiConnection"
										}
									},
									"else": {
										"actions": {
											"Update_Delete_Sector_List_Item": {
												"inputs": {
													"body": {
														"body": "{\n\"SectorID\": \"@{body('Parse_JSON')?['Id']}\",\n\"Title\": \"@{variables('SectorEN')}\",\n\"arTitle\": \"@{variables('SectorAR')}\"\n}",
														"headers": {
															"Accept": "application/json;odata=nometadata",
															"Content-Type": "application/json",
															"If-Match": "*",
															"X-HTTP-Method": "@{if(equals(triggerBody()?['eventType'], 'sector-updated'), 'MERGE', 'DELETE')}"
														},
														"method": "POST",
														"uri": "_api/web/lists/GetByTitle('@{parameters('sectorListName')}')/items(@{first(body('Parse_Sector_List_Item_JSON')?['value'])?['ID']})"
													},
													"host": {
														"connection": {
															"name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
														}
													},
													"method": "post",
													"path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('Loop_Site_Collections_URLs')?['SiteURL']))}/httprequest"
												},
												"runAfter": {},
												"type": "ApiConnection"
											}
										}
									},
									"expression": {
										"and": [
											{
												"equals": [
													"@length(body('Parse_Sector_List_Item_JSON')?['value'])",
													0
												]
											}
										]
									},
									"runAfter": {
										"Parse_Sector_List_Item_JSON": [
											"Succeeded"
										]
									},
									"type": "If"
								},
								"Get_Sector_List_Item": {
									"inputs": {
										"body": {
											"headers": {
												"Accept": "application/json;odata=nometadata",
												"Content-Type": "application/json"
											},
											"method": "GET",
											"uri": "_api/web/lists/GetByTitle('@{parameters('sectorListName')}')/items?$filter=SectorID eq '@{body('Parse_JSON')?['Id']}'"
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['apicon-cpd-apps-intspo-uat-we-01']['connectionId']"
											}
										},
										"method": "post",
										"path": "/datasets/@{encodeURIComponent(encodeURIComponent(items('Loop_Site_Collections_URLs')?['SiteURL']))}/httprequest"
									},
									"runAfter": {},
									"type": "ApiConnection"
								},
								"Parse_Sector_List_Item_JSON": {
									"inputs": {
										"content": "@body('Get_Sector_List_Item')",
										"schema": {
											"properties": {
												"value": {
													"items": {
														"properties": {
															"ID": {
																"type": "integer"
															},
															"SectorID": {
																"type": "string"
															},
															"Title": {
																"type": "string"
															}
														},
														"type": "object"
													},
													"type": "array"
												}
											},
											"type": "object"
										}
									},
									"runAfter": {
										"Get_Sector_List_Item": [
											"Succeeded"
										]
									},
									"type": "ParseJson"
								}
							},
							"foreach": "@body('Get_Configuration_List_Items')?['value']",
							"runAfter": {
								"Parse_Configuration_List_Items_JSON": [
									"Succeeded"
								]
							},
							"type": "Foreach"
						},
						"Parse_Configuration_List_Items_JSON": {
							"inputs": {
								"content": "@body('Get_Configuration_List_Items')?['value']",
								"schema": {
									"items": {
										"properties": {
											"SiteURL": {
												"type": "string"
											}
										},
										"required": [
											"SiteURL"
										],
										"type": "object"
									},
									"type": "array"
								}
							},
							"runAfter": {
								"Get_Configuration_List_Items": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						},
						"Parse_Sector_Details_AR_JSON": {
							"inputs": {
								"content": "@body('Get_Sector_Details_AR')",
								"schema": {
									"properties": {
										"id": {
											"type": "string"
										},
										"name": {
											"type": [
												"string",
												"null"
											]
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Sector_Details_AR": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						},
						"Parse_Sector_Details_EN_JSON": {
							"inputs": {
								"content": "@body('Get_Sector_Details_EN')",
								"schema": {
									"properties": {
										"id": {
											"type": "string"
										},
										"name": {
											"type": "string"
										}
									},
									"type": "object"
								}
							},
							"runAfter": {
								"Get_Sector_Details_EN": [
									"Succeeded"
								]
							},
							"type": "ParseJson"
						},
						"Set_Sector_AR": {
							"inputs": {
								"name": "SectorAR",
								"value": "@body('Parse_Sector_Details_AR_JSON')?['name']"
							},
							"runAfter": {
								"Set_Sector_EN": [
									"Succeeded"
								]
							},
							"type": "SetVariable"
						},
						"Set_Sector_EN": {
							"inputs": {
								"name": "SectorEN",
								"value": "@body('Parse_Sector_Details_EN_JSON')?['name']"
							},
							"runAfter": {
								"Parse_Sector_Details_AR_JSON": [
									"Succeeded"
								]
							},
							"type": "SetVariable"
						}
					},
					"expression": {
						"or": [
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-created"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-update"
								]
							},
							{
								"equals": [
									"@triggerBody()?['eventType']",
									"sector-deleted"
								]
							}
						]
					},
					"runAfter": {
						"Initialize_Sector_AR": [
							"Succeeded"
						]
					},
					"type": "If"
				}
			}
		},
		"workflowParameters": {
			"value": {
				"$connections": {
					"defaultValue": {},
					"type": "Object"
				},
				"sectorListName": {
					"defaultValue": "Sectors",
					"type": "String"
				},
				"tenantUrl": {
					"defaultValue": "https://tasmusqcp.sharepoint.com/",
					"type": "String"
				}
			}
		},
		"tags": {
			"value": {
				"Environment": "UAT"
			}
		},
		"connectionParameters": {
			"value": {
				"$connections": {
					"value": {
						"azureeventgrid": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-sbx-we-01/providers/Microsoft.Web/connections/azureeventgrid",
							"connectionName": "azureeventgrid",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
						},
						"apicon-cpd-apps-intspo-uat-we-01": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-uat-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-intspo-uat-we-01",
							"connectionName": "apicon-cpd-apps-intspo-uat-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/sharepointonline"
						}
					}
				}
			}
		}
	}
}