Modules/ARM/LogicApp/2016-10-01/Parameters/logic-cpp-apps-apimt-prd-we-01-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-apimt-prd-we-01"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                "6"
              ],
              "minutes": [
                0
              ]
            },
            "timeZone": "Arab Standard Time"
          },
          "type": "Recurrence"
        }
      }
    },
    "workflowActions": {
      "value": {
        "Get_APIM_Subscriptions_Details_Via_API": {
          "runAfter": {
            "Get_Client_Secret": [
              "Succeeded"
            ]
          },
          "type": "Http",
          "inputs": {
            "authentication": {
              "audience": "https://management.azure.com/",
              "clientId": "c00ce23b-b4cd-4164-9735-3c63381f9441",
              "secret": "@body('Get_Client_Secret')?['value']",
              "tenant": "92603419-35d1-4eb0-8427-cac731071355",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "GET",
            "uri": "@variables('ApiQueryUrl')"
          }
        },
        "Get_Client_Secret": {
          "runAfter": {
            "Initialize_ApiQueryUrl_String": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('ARMAPI-ClientSecret')}/value"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "Initialize_ApiQueryUrl_String": {
          "runAfter": {
            "Initialize_StorageAccountName_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApiQueryUrl",
                "type": "string",
                "value": "https://management.azure.com/subscriptions/@{variables('ApimSubscription')}/resourceGroups/@{variables('ApimRG')}/providers/Microsoft.ApiManagement/service/@{variables('ApimName')}/reports/bySubscription?$filter=timestamp ge datetime'@{variables('YesterdayTime')}' and timestamp le datetime'@{variables('TodayTime')}'&api-version=2019-12-01\n"
              }
            ]
          }
        },
        "Initialize_ApimName_String": {
          "runAfter": {
            "Initialize_ApimRG_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApimName",
                "type": "string",
                "value": "apim-cpp-shrd-prd-we-01"
              }
            ]
          }
        },
        "Initialize_ApimRG_String": {
          "runAfter": {
            "Initialize_ApimSubscription_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApimRG",
                "type": "string",
                "value": "rg-cpp-shrd-prd-we-01"
              }
            ]
          }
        },
        "Initialize_ApimSubscription_String": {
          "runAfter": {
            "Initialize_YesterdayTime_Variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ApimSubscription",
                "type": "string",
                "value": "8964f3c1-44f5-4094-80eb-4334845bdfb1"
              }
            ]
          }
        },
        "Initialize_FilePath_object": {
          "runAfter": {
            "Insert_Data_Into_Blob_Storage": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FilePath",
                "type": "object",
                "value": {
                  "file": "@concat('https://',variables('StorageAccountName'),'.blob.core.windows.net',body('Insert_Data_Into_Blob_Storage')?['Path'])"
                }
              }
            ]
          }
        },
        "Initialize_StorageAccountName_String": {
          "runAfter": {
            "Initialize_ApimName_String": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "StorageAccountName",
                "type": "string",
                "value": "stcppappsapimtprdwe01"
              }
            ]
          }
        },
        "Initialize_Subscriptions_Details_Object": {
          "runAfter": {
            "Get_APIM_Subscriptions_Details_Via_API": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SubscriptionsList",
                "type": "object",
                "value": "@body('Get_APIM_Subscriptions_Details_Via_API')"
              }
            ]
          }
        },
        "Initialize_TodayDate_Variable": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TodayDate",
                "type": "string",
                "value": "@{utcNow('yyyy-MM-dd')}"
              }
            ]
          }
        },
        "Initialize_TodayTime_Variable": {
          "runAfter": {
            "Initialize_TodayDate_Variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TodayTime",
                "type": "string",
                "value": "@{utcNow('yyyy-MM-ddTHH:mm:ss')}"
              }
            ]
          }
        },
        "Initialize_YesterdayTime_Variable": {
          "runAfter": {
            "Initialize_TodayTime_Variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "YesterdayTime",
                "type": "string",
                "value": "@{addDays(variables('TodayTime'),-1)}"
              }
            ]
          }
        },
        "Insert_Data_Into_Blob_Storage": {
          "runAfter": {
            "Initialize_Subscriptions_Details_Object": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": "@variables('SubscriptionsList')",
            "headers": {
              "Content-Type": "application/json"
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureblob']['connectionId']"
              }
            },
            "method": "post",
            "path": "/datasets/default/files",
            "queries": {
              "folderPath": "/@{variables('ApimName')}/@{variables('TodayDate')}",
              "name": "@{variables('TodayDate')}_@{variables('ApimName')}.json",
              "queryParametersSingleEncoded": true
            }
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          }
        },
        "Publish_Event_to_Event_Domain": {
          "runAfter": {
            "Initialize_FilePath_object": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "body": [
              {
                "data": "@variables('FilePath')",
                "dataVersion": "1.0",
                "eventTime": "@variables('TodayTime')",
                "eventType": "apim-metering",
                "id": "@{guid()}",
                "metadataVersion": "1",
                "subject": "Apim",
                "topic": "meteringdata"
              }
            ],
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureeventgridpublish']['connectionId']"
              }
            },
            "method": "post",
            "path": "/eventGrid/api/events"
          }
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "azureblob": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-apimtst-prd-we-01",
              "connectionName": "apicon-cpp-apps-apimtst-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
            },
            "azureeventgridpublish": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integd-prd-we-01",
              "connectionName": "apicon-cpp-apps-integd-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgridpublish"
            },
            "keyvault": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-intkv-prd-we-01",
              "connectionName": "apicon-cpp-apps-intkv-prd-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
            }
          }
        }
      }
    }
  }
}