Modules/ARM/LogicApp/2019-05-01/Parameters/logic-cpp-apps-itsm-pre-we-05-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-itsm-pre-we-05"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "servicerequest-internalnote-created",
                    "supportrequest-internalnote-created",
                    "servicerequest-internalnote-updated",
                    "supportrequest-internalnote-updated"
                  ]
                },
                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-pre-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-pre-we-01/topics/d365"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpp-apps-itsm-pre-we-05-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          },
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook"
        }
      }
    },
    "workflowActions": {
      "value": {
        "Condition_2": {
          "actions": {
            "Compose": {
              "inputs": {
                "ServiceName": "SR_UpdateServiceRequest",
                "objCommonParameters": {
                  "_ProxyDetails": {
                    "APIKey": "eYnZ/sF5c/VqGukkenfBPa8mZA3adAsYkoY26WotTes=",
                    "AuthType": "APIKEY",
                    "ProxyID": 0,
                    "ReturnType": "JSON"
                  },
                  "objSRServiceTicket": {
                    "IncidentTicketID": "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                    "InternalLog": "@body('Parse_JSON')?['value']?['description']",
                    "Org_ID": "1",
                    "Status": null,
                    "SupportFunction": "IT"
                  }
                }
              },
              "runAfter": {},
              "type": "Compose"
            },
            "HTTP": {
              "inputs": {
                "body": "@outputs('Compose')",
                "headers": {
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://itsm.pre.sqcp.qa/SummitProxyService/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall"
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "Parse_JSON_2": {
              "inputs": {
                "content": "@json(body('HTTP'))",
                "schema": {
                  "properties": {
                    "Errors": {
                      "type": "string"
                    },
                    "Input": {},
                    "Message": {
                      "type": "string"
                    },
                    "OrgID": {
                      "type": "integer"
                    },
                    "Output": {
                      "type": "string"
                    },
                    "OutputID": {
                      "type": "integer"
                    },
                    "OutputObject": {},
                    "TokenID": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Parse_JSON": {
          "inputs": {
            "content": "@triggerBody()?['data']",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isNotifyCustomer": {},
                    "profileId": {},
                    "regardingExtRefNumber": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "regardingId": {},
                    "subject": {}
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {},
          "type": "ParseJson"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprewe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-pre-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-pre-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-pre-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Pre-Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "azureeventgrid": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-pre-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integd-pre-we-01",
              "connectionName": "apicon-cpp-apps-integd-pre-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            }
          }
        }
      }
    }
  }
}