Modules/ARM/LogicApp/2019-05-01/Parameters/logic-cpd-oopg-6dsetmt-uat-we-01-parameters.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workflowName": {
			"value": "logic-cpd-oopg-6dsetmt-uat-we-01"
		},
		"workflowLocation": {
			"value": "westeurope"
		},
		"workflowSchema": {
			"value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
		},
		"workflowActions": {
			"value": {
				"Create_blob_(V2)": {
					"inputs": {
						"body": "@body('Get_blob_content_using_path_(V2)')",
						"headers": {
							"ReadFileMetadataFromServer": true
						},
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureblob']['connectionId']"
							}
						},
						"method": "post",
						"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('stcpdappsapimtuatwe01'))}/files",
						"queries": {
							"folderPath": "/pgw-settlement",
							"name": "@body('Parse_JSON')?['Name']",
							"queryParametersSingleEncoded": true
						}
					},
					"runAfter": {
						"Get_blob_content_using_path_(V2)": [
							"Succeeded"
						]
					},
					"runtimeConfiguration": {
						"contentTransfer": {
							"transferMode": "Chunked"
						}
					},
					"type": "ApiConnection"
				},
				"Get_blob_content_using_path_(V2)": {
					"inputs": {
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureblob_2']['connectionId']"
							}
						},
						"method": "get",
						"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('stcpdoopgmtuatwe01'))}/GetFileContentByPath",
						"queries": {
							"inferContentType": true,
							"path": "@body('Parse_JSON')?['Path']",
							"queryParametersSingleEncoded": true
						}
					},
					"runAfter": {
						"Parse_JSON": [
							"Succeeded"
						]
					},
					"type": "ApiConnection"
				},
				"Initialize_ContainerName": {
					"inputs": {
						"variables": [
							{
								"name": "ContainerName",
								"type": "string",
								"value": "pgw-settlement/"
							}
						]
					},
					"runAfter": {
						"Initialize_StorageAccountName": [
							"Succeeded"
						]
					},
					"type": "InitializeVariable"
				},
				"Initialize_FilePath": {
					"inputs": {
						"variables": [
							{
								"name": "FilePath",
								"type": "object",
								"value": {
									"file": "@concat('https://',variables('StorageAccountName'),'.blob.core.windows.net/',variables('ContainerName'),body('Parse_JSON')?['Name'])"
								}
							}
						]
					},
					"runAfter": {
						"Initialize_ContainerName": [
							"Succeeded"
						]
					},
					"type": "InitializeVariable"
				},
				"Initialize_StorageAccountName": {
					"inputs": {
						"variables": [
							{
								"name": "StorageAccountName",
								"type": "string",
								"value": "stcpdappsapimtuatwe01"
							}
						]
					},
					"runAfter": {
						"Create_blob_(V2)": [
							"Succeeded"
						]
					},
					"type": "InitializeVariable"
				},
				"Parse_JSON": {
					"inputs": {
						"content": "@triggerBody()",
						"schema": {
							"properties": {
								"DisplayName": {
									"type": "string"
								},
								"ETag": {
									"type": "string"
								},
								"FileLocator": {
									"type": "string"
								},
								"Id": {
									"type": "string"
								},
								"IsFolder": {
									"type": "boolean"
								},
								"LastModified": {
									"type": "string"
								},
								"LastModifiedBy": {},
								"MediaType": {
									"type": "string"
								},
								"Name": {
									"type": "string"
								},
								"Path": {
									"type": "string"
								},
								"Size": {
									"type": "integer"
								}
							},
							"type": "object"
						}
					},
					"runAfter": {},
					"type": "ParseJson"
				},
				"Publish_Event": {
					"inputs": {
						"body": [
							{
								"data": "@variables('FilePath')",
								"eventTime": "@{utcNow('yyyy-MM-dd')}",
								"eventType": "pgw-settlement",
								"id": "@{guid()}",
								"subject": "pgw",
								"topic": "meteringdata"
							}
						],
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureeventgridpublish']['connectionId']"
							}
						},
						"method": "post",
						"path": "/eventGrid/api/events"
					},
					"runAfter": {
						"Initialize_FilePath": [
							"Succeeded"
						]
					},
					"type": "ApiConnection"
				}
			}
		},
		"workflowTriggers": {
			"value": {
				"When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
					"inputs": {
						"host": {
							"connection": {
								"name": "@parameters('$connections')['azureblob_2']['connectionId']"
							}
						},
						"method": "get",
						"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('stcpdoopgwmtuatwe01'))}/triggers/batch/onupdatedfile",
						"queries": {
							"checkBothCreatedAndModifiedDateTime": false,
							"folderId": "JTJmcGd3LXNldHRsZW1lbnQ=",
							"maxFileCount": 1
						}
					},
					"metadata": {
						"JTJmcGd3JTJmcGd3LXNldHRsZW1lbnQlMmY=": "/pgw/pgw-settlement/",
						"JTJmcGd3LW1ldGVyaW5n": "/pgw-metering",
						"JTJmcGd3LXNldHRsZW1lbnQ=": "/pgw-settlement"
					},
					"recurrence": {
						"frequency": "Minute",
						"interval": 1
					},
					"splitOn": "@triggerBody()",
					"type": "ApiConnection"
				}
			}
		},
		"workflowParameters": {
			"value": {
				"$connections": {
					"defaultValue": {},
					"type": "Object"
				}
			}
		},
		"diagnosticLogsRetentionInDays": {
			"value": 365
		},
		"diagnosticStorageAccountId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.Storage/storageAccounts/stcpdappsdiaguatwe01"
		},
		"workspaceId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpd-apps-mon-uat-we-01"
		},
		"eventHubAuthorizationRuleId": {
			"value": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-mon-uat-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpd-apps-mon-uat-we-01/authorizationrules/RootManageSharedAccessKey"
		},
		"eventHubName": {
			"value": "evh-cpd-apps-mon-uat-we-01"
		},
		"tags": {
			"value": {
				"Environment": "UAT"
			}
		},
		"connectionParameters": {
			"value": {
				"$connections": {
					"value": {
						"azureblob": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-oopg-mtr-uat-we-02/providers/Microsoft.Web/connections/apicon-cpd-oopg-mtr-uat-we-01",
							"connectionName": "apicon-cpd-oopg-mtr-uat-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
						},
						"azureblob_2": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-uat-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-apimtst-uat-we-01",
							"connectionName": "apicon-cpd-apps-apimtst-uat-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
						},
						"azureeventgridpublish": {
							"connectionId": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/resourceGroups/rg-cpd-apps-int-uat-we-01/providers/Microsoft.Web/connections/apicon-cpd-apps-integd-uat-we-01",
							"connectionName": "apicon-cpd-apps-integd-uat-we-01",
							"id": "/subscriptions/d0694def-b27e-4bb7-900d-437fbeb802da/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgridpublish"
						}
					}
				}
			}
		}
	}
}