Modules/ARM/LogicApp/2019-05-01/Parameters/logic-cpp-apps-itsm-prd-we-03-parameters.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflowName": {
            "value": "logic-cpp-apps-itsm-prd-we-03"
        },
        "workflowLocation": {
            "value": "westeurope"
        },
        "workflowSchema": {
            "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
        },
        "workflowTriggers": {
            "value": {
                "When_a_resource_event_occurs": {
                    "inputs": {
                        "body": {
                            "properties": {
                                "destination": {
                                    "endpointType": "webhook",
                                    "properties": {
                                        "endpointUrl": "@{listCallbackUrl()}"
                                    }
                                },
                                "filter": {
                                    "includedEventTypes": [
                                        "profile-created",
                                        "profile-updated"
                                    ]
                                },
                                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-prd-we-01/topics/d365"
                            }
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['apicon-cpp-apps-integ-prd-we-01']['connectionId']"
                            }
                        },
                        "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
                        "queries": {
                            "subscriptionName": "logic-cpp-apps-itsm-prd-we-03-sub",
                            "x-ms-api-version": "2017-09-15-preview"
                        }
                    },
                    "splitOn": "@triggerBody()",
                    "type": "ApiConnectionWebhook"
                }
            }
        },
        "workflowActions": {
            "value": {
                "Condition_2": {
                    "actions": {
                        "Compose_2": {
                            "inputs": {
                                "ServiceName": "ADM_Get_DynamicWebServiceResult",
                                "objCommonParameters": {
                                    "ServiceName": "Usp_UpdateProfileStatus",
                                    "_ProxyDetails": {
                                        "APIKey": "eYnZ/sF5c/VqGukkenfBPa8mZA3adAsYkoY26WotTes=",
                                        "AuthType": "APIKEY",
                                        "OrgID": 1,
                                        "ProxyID": 0,
                                        "ReturnType": "JSON"
                                    },
                                    "objDynamicWebService": {
                                        "InputString": "{\"EmailID\":\"@{body('Parse_JSON')?['value']?['email']}\",\"Active\":\"0\"}"
                                    }
                                }
                            },
                            "runAfter": {},
                            "type": "Compose"
                        },
                        "HTTP_2": {
                            "inputs": {
                                "body": "@outputs('Compose_2')",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://itsm.tasmuplatform.qa/SummitProxyService/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall"
                            },
                            "runAfter": {
                                "Compose_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Parse_JSON_4": {
                            "inputs": {
                                "content": "@json(body('HTTP_2'))",
                                "schema": {
                                    "properties": {
                                        "Errors": {
                                            "type": "string"
                                        },
                                        "Input": {},
                                        "Message": {
                                            "type": "string"
                                        },
                                        "OrgID": {
                                            "type": "integer"
                                        },
                                        "Output": {
                                            "type": "string"
                                        },
                                        "OutputID": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        }
                    },
                    "else": {
                        "actions": {
                            "Compose": {
                                "inputs": {
                                    "ServiceName": "ADM_CreateorUpdateUser",
                                    "objCommonParameters": {
                                        "UniqueField": "EmailId",
                                        "Users": [
                                            {
                                                "APIKeyExpiry": "",
                                                "Address": "@{body('Parse_JSON')?['value']?['street1']} @{body('Parse_JSON')?['value']?['street2']} @{body('Parse_JSON')?['value']?['street3']}",
                                                "AlternateMailID1": "",
                                                "AlternateMailID2": "",
                                                "AlternateMailID3": "",
                                                "AlternateMailID4": "",
                                                "City": "@{if(equals(body('Parse_JSON')?['value']?['city'],null),'',replace(body('Parse_JSON')?['value']?['city'],' ',''))}",
                                                "ContactNumber": "@{body('Parse_JSON')?['value']?['businessPhone']}",
                                                "Country": "",
                                                "CustomAttributes": [
                                                    {
                                                        "Attr_Name": "CRM ID",
                                                        "Attr_Value": "@{body('Parse_JSON')?['id']}",
                                                        "Group_Name": "Default Group"
                                                    },
                                                    {
                                                        "Attr_Name": "QatariID Number",
                                                        "Attr_Value": "@{body('Parse_JSON')?['value']?['qatariIDNumber']}",
                                                        "Group_Name": "Default Group"
                                                    }
                                                ],
                                                "Customer": "",
                                                "Designation": "",
                                                "DomainName": "Summit",
                                                "EmailId": "@{body('Parse_JSON')?['value']?['email']}",
                                                "EmployeeId": "",
                                                "IsLocked": "0",
                                                "Joindate": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}",
                                                "Location": "@{body('Parse_JSON')?['value']?['city']}",
                                                "LoginType": "FORM",
                                                "Login_ID": "@{body('Parse_JSON')?['value']?['email']}",
                                                "ManagerEmailId": "",
                                                "ManagerEmployeeID": "",
                                                "Manager_NT_UID": "",
                                                "MobileNumber": "@{body('Parse_JSON')?['value']?['mobilePhone']}",
                                                "NT_UID": "",
                                                "Password": "tasmu@123",
                                                "Remarks": "Created by CRM Profile Mangement",
                                                "RoleTemplate": "End User",
                                                "SortOrder": "0",
                                                "State": "",
                                                "TimeZone": "(UTC + 03:00) AST - Arabia Standard Time",
                                                "UserLevel": "",
                                                "UserName": "@{body('Parse_JSON')?['value']?['firstName']} @{body('Parse_JSON')?['value']?['middleName']} @{body('Parse_JSON')?['value']?['surname']} ",
                                                "UserType": "",
                                                "ZipCode": "@{body('Parse_JSON')?['value']?['postalCode']}",
                                                "checkboxcustomattributes": []
                                            }
                                        ],
                                        "_ProxyDetails": {
                                            "APIKey": "eYnZ/sF5c/VqGukkenfBPa8mZA3adAsYkoY26WotTes=",
                                            "AuthType": "APIKEY",
                                            "ProxyID": 0,
                                            "ReturnType": "JSON",
                                            "orgid": 1
                                        }
                                    }
                                },
                                "runAfter": {},
                                "type": "Compose"
                            },
                            "Condition": {
                                "actions": {
                                    "Parse_JSON_3": {
                                        "inputs": {
                                            "content": "@json(body('HTTP'))",
                                            "schema": {
                                                "properties": {
                                                    "Errors": {
                                                        "type": "string"
                                                    },
                                                    "Input": {},
                                                    "Message": {
                                                        "type": "string"
                                                    },
                                                    "OrgID": {
                                                        "type": "integer"
                                                    },
                                                    "Output": {
                                                        "type": "string"
                                                    },
                                                    "OutputID": {
                                                        "type": "integer"
                                                    },
                                                    "OutputObject": {
                                                        "type": "string"
                                                    },
                                                    "TokenID": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ParseJson"
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Terminate": {
                                            "inputs": {
                                                "runStatus": "Failed"
                                            },
                                            "runAfter": {},
                                            "type": "Terminate"
                                        }
                                    }
                                },
                                "expression": {
                                    "and": [
                                        {
                                            "contains": [
                                                "@body('Parse_JSON_2')?['Message']",
                                                "Success"
                                            ]
                                        }
                                    ]
                                },
                                "runAfter": {
                                    "Parse_JSON_2": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "If"
                            },
                            "HTTP": {
                                "inputs": {
                                    "body": "@outputs('Compose')",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "method": "POST",
                                    "uri": "https://itsm.tasmuplatform.qa/SummitProxyService/REST/Summit_RESTWCF.svc/RESTService/CommonWS_JsonObjCall"
                                },
                                "runAfter": {
                                    "Compose": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Parse_JSON_2": {
                                "inputs": {
                                    "content": "@json(body('HTTP'))",
                                    "schema": {
                                        "properties": {
                                            "Message": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "runAfter": {
                                    "HTTP": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ParseJson"
                            }
                        }
                    },
                    "expression": {
                        "and": [
                            {
                                "equals": [
                                    "@body('Parse_JSON')?['value']?['statusId']",
                                    1
                                ]
                            }
                        ]
                    },
                    "runAfter": {
                        "Parse_JSON": [
                            "Succeeded"
                        ]
                    },
                    "type": "If"
                },
                "Parse_JSON": {
                    "inputs": {
                        "content": "@triggerBody()?['data']",
                        "schema": {
                            "properties": {
                                "data": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "value": {
                                            "properties": {
                                                "allowMarketingMaterials": {
                                                    "type": "boolean"
                                                },
                                                "billingAddressCity": {},
                                                "billingAddressCountryId": {
                                                    "type": "string"
                                                },
                                                "billingAddressDistrictId": {
                                                    "type": "string"
                                                },
                                                "billingAddressMunicipalityId": {
                                                    "type": "string"
                                                },
                                                "billingAddressPostalCode": {},
                                                "billingAddressStreet1": {},
                                                "billingAddressStreet2": {},
                                                "billingAddressStreet3": {},
                                                "billingAddressZoneId": {
                                                    "type": "string"
                                                },
                                                "businessPhone": {},
                                                "cardSerialNumberToken": {},
                                                "city": {},
                                                "companyName": {},
                                                "contactByEmail": {
                                                    "type": "boolean"
                                                },
                                                "contactByPhone": {
                                                    "type": "boolean"
                                                },
                                                "contactByPush": {
                                                    "type": "boolean"
                                                },
                                                "contactBySMS": {
                                                    "type": "boolean"
                                                },
                                                "countryId": {
                                                    "type": "string"
                                                },
                                                "creditLimit": {},
                                                "currencyCode": {},
                                                "currencyId": {
                                                    "type": "string"
                                                },
                                                "customerSegmentId": {},
                                                "dateOfBirth": {},
                                                "districtId": {
                                                    "type": "string"
                                                },
                                                "drivingLicenceNo": {},
                                                "eId": {},
                                                "email": {
                                                    "type": "string"
                                                },
                                                "emailVerificationCodeExpiry": {},
                                                "emailVerificationStatus": {},
                                                "fax": {},
                                                "firstCredentialTypeId": {},
                                                "firstCredentialUniqueId": {
                                                    "type": "string"
                                                },
                                                "firstName": {
                                                    "type": "string"
                                                },
                                                "firstNameArabic": {},
                                                "genderId": {},
                                                "hamadCardNo": {},
                                                "id": {
                                                    "type": "string"
                                                },
                                                "imageUrl": {},
                                                "middleName": {
                                                    "type": "string"
                                                },
                                                "middleNameArabic": {},
                                                "mobilePhone": {
                                                    "type": "string"
                                                },
                                                "mobilePhoneVerificationCodeExpiry": {},
                                                "mobilePhoneVerificationStatus": {},
                                                "modifiedOn": {
                                                    "type": "string"
                                                },
                                                "municipalityId": {
                                                    "type": "string"
                                                },
                                                "nationality": {},
                                                "noOfChildren": {},
                                                "nonQIdAddressCountryId": {
                                                    "type": "string"
                                                },
                                                "nonQIdAddressPostalCode": {},
                                                "nonQIdAddressStreet1": {},
                                                "nonQIdAddressStreet2": {},
                                                "occupation": {},
                                                "passportCountryId": {
                                                    "type": "string"
                                                },
                                                "passportExpiryDate": {},
                                                "passportNumber": {},
                                                "postalCode": {},
                                                "preferredLanguageId": {},
                                                "profileAuthenticationId": {},
                                                "profileType": {
                                                    "type": "integer"
                                                },
                                                "qIdExpiryDate": {},
                                                "qatariIDNumber": {
                                                    "type": "string"
                                                },
                                                "salutationId": {},
                                                "statusId": {
                                                    "type": "integer"
                                                },
                                                "street1": {},
                                                "street2": {},
                                                "street3": {},
                                                "surname": {
                                                    "type": "string"
                                                },
                                                "surnameArabic": {},
                                                "upn": {},
                                                "zoneId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                },
                                "dataVersion": {
                                    "type": "string"
                                },
                                "eventTime": {
                                    "type": "string"
                                },
                                "eventType": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "metadataVersion": {
                                    "type": "string"
                                },
                                "subject": {
                                    "type": "string"
                                },
                                "topic": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "runAfter": {},
                    "type": "ParseJson"
                }
            }
        },
        "workflowParameters": {
            "value": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            }
        },
        "diagnosticLogsRetentionInDays": {
            "value": 365
        },
        "diagnosticStorageAccountId": {
            "value": "/subscriptions/d8c326fb-f8b4-4854-a2af-dd55e86f6117/resourceGroups/rg-cph-pltf-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcphpltfdiagprdwe01"
        },
        "workspaceId": {
            "value": "/subscriptions/d8c326fb-f8b4-4854-a2af-dd55e86f6117/resourceGroups/rg-cph-pltf-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cph-pltf-prd-we-01"
        },
        "eventHubAuthorizationRuleId": {
            "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
        },
        "eventHubName": {
            "value": "evh-cpp-apps-mon-prd-we-01"
        },
        "tags": {
            "value": {
                "Environment": "Production"
            }
        },
        "connectionParameters": {
            "value": {
                "$connections": {
                    "value": {
                        "apicon-cpp-apps-integ-prd-we-01": {
                            "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integ-prd-we-01",
                            "connectionName": "apicon-cpp-apps-integ-prd-we-01",
                            "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
                        }
                    }
                }
            }
        }
    }
}