Modules/ARM/LogicApp/2019-05-01/Parameters/logic-cpp-apps-itsm-prd-we-06-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-itsm-prd-we-06"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "servicerequest-file-created",
                    "supportrequest-file-created",
                    "servicerequest-file-updated",
                    "supportrequest-file-updated"
                  ]
                },
                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-prd-we-01/topics/d365"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['apicon-cpp-apps-integ-prd-we-01']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpp-apps-itsm-prd-we-06-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          },
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook"
        }
      }
    },
    "workflowActions": {
      "value": {
        "Condition_2": {
          "actions": {
            "Compose": {
              "inputs": {
                "AttachmentFileName": "@body('Parse_JSON')?['value']?['fileName']",
                "TicketID": "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                "_ProxyDetails": {
                  "APIKey": "eYnZ/sF5c/VqGukkenfBPa8mZA3adAsYkoY26WotTes=",
                  "AuthType": "APIKEY",
                  "ProxyID": 0,
                  "ReturnType": "JSON"
                },
                "base64EncodedData": "@base64(body('HTTP_5'))",
                "eModule": "ServiceRequest"
              },
              "runAfter": {},
              "type": "Compose"
            },
            "HTTP": {
              "inputs": {
                "body": "@outputs('Compose')",
                "headers": {
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://itsm.tasmuplatform.qa/SummitProxyService/REST/Summit_RESTWCF.svc/RESTService/Summit_UploadAttachmentBase64Encoded"
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "Parse_JSON_2": {
              "inputs": {
                "content": "@json(body('HTTP'))",
                "schema": {
                  "properties": {
                    "Errors": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "runAfter": {
            "HTTP_5": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "Get_Client_Secret": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['keyvault']['connectionId']"
              }
            },
            "method": "get",
            "path": "/secrets/@{encodeURIComponent('itsm-spn-secret')}/value"
          },
          "runtimeConfiguration": {
            "secureData": {
              "properties": [
                "outputs"
              ]
            }
          }
        },
        "HTTP_5": {
          "inputs": {
            "authentication": {
              "audience": "5b71785c-a9a9-4ab1-9acd-fc95f7e2f580",
              "clientId": "908901be-5c84-4c23-9215-f0178ec27c60",
              "secret": "@body('Get_Client_Secret')?['value']",
              "tenant": "26aa757b-a20c-4270-bc1c-d946b1f3e4a2",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "GET",
            "uri": "https://api.tasmu.gov.qa/Config/api/File/0/@{body('Parse_JSON')?['value']?['fileName']}?api-version=1.0"
          },
          "runAfter": {
            "Get_Client_Secret": [
              "Succeeded"
            ]
          },
          "type": "Http"
        },
        "Parse_JSON": {
          "inputs": {
            "content": "@triggerBody()?['data']",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {
                  "properties": {
                    "createdOn": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "regardingExtRefNumber": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "regardingId": {},
                    "subject": {}
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {},
          "type": "ParseJson"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprdwe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-prd-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-prd-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-prd-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-prd-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
              "apicon-cpp-apps-integ-prd-we-01": {
                  "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integ-prd-we-01",
                  "connectionName": "apicon-cpp-apps-integ-prd-we-01",
                  "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
              },
              "keyvault": {
                "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-itsm-int-prd-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-itsmkv-prd-we-01",
                "connectionName": "apicon-cpp-apps-itsmkv-prd-we-01",
                "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault"
              }
          }
        }
      }
    }
  }
}