Modules/ARM/LogicApp/2019-05-01/Parameters/logic-cpp-apps-itsm-pre-we-06-parameters.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "value": "logic-cpp-apps-itsm-pre-we-06"
    },
    "workflowLocation": {
      "value": "westeurope"
    },
    "workflowSchema": {
      "value": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#"
    },
    "workflowTriggers": {
      "value": {
        "When_a_resource_event_occurs": {
          "inputs": {
            "body": {
              "properties": {
                "destination": {
                  "endpointType": "webhook",
                  "properties": {
                    "endpointUrl": "@{listCallbackUrl()}"
                  }
                },
                "filter": {
                  "includedEventTypes": [
                    "servicerequest-file-created",
                    "supportrequest-file-created",
                    "servicerequest-file-updated",
                    "supportrequest-file-updated"
                  ]
                },
                "topic": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-pre-we-01/providers/Microsoft.EventGrid/domains/egd-cpp-apps-int-pre-we-01/topics/d365"
              }
            },
            "host": {
              "connection": {
                "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
              }
            },
            "path": "/subscriptions/@{encodeURIComponent('8964f3c1-44f5-4094-80eb-4334845bdfb1')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Domains')}/resource/eventSubscriptions",
            "queries": {
              "subscriptionName": "logic-cpp-apps-itsm-pre-we-06-sub",
              "x-ms-api-version": "2017-09-15-preview"
            }
          },
          "splitOn": "@triggerBody()",
          "type": "ApiConnectionWebhook"
        }
      }
    },
    "workflowActions": {
      "value": {
        "Condition_2": {
          "actions": {
            "Compose": {
              "inputs": {
                "AttachmentFileName": "@body('Parse_JSON')?['value']?['fileName']",
                "TicketID": "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                "_ProxyDetails": {
                  "APIKey": "eYnZ/sF5c/VqGukkenfBPa8mZA3adAsYkoY26WotTes=",
                  "AuthType": "APIKEY",
                  "ProxyID": 0,
                  "ReturnType": "JSON"
                },
                "base64EncodedData": "@base64(body('HTTP_5'))",
                "eModule": "ServiceRequest"
              },
              "runAfter": {},
              "type": "Compose"
            },
            "HTTP": {
              "inputs": {
                "body": "@outputs('Compose')",
                "headers": {
                  "Content-Type": "application/json"
                },
                "method": "POST",
                "uri": "https://itsm.pre.sqcp.qa/SummitProxyService/REST/Summit_RESTWCF.svc/RESTService/Summit_UploadAttachmentBase64Encoded"
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "Parse_JSON_2": {
              "inputs": {
                "content": "@json(body('HTTP'))",
                "schema": {
                  "properties": {
                    "Errors": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@body('Parse_JSON')?['value']?['regardingExtRefNumber']",
                    "@null"
                  ]
                }
              }
            ]
          },
          "runAfter": {
            "HTTP_5": [
              "Succeeded"
            ]
          },
          "type": "If"
        },
        "HTTP_5": {
          "inputs": {
            "authentication": {
              "audience": "bc67474e-612b-4d7f-b75a-ac54d45f143a",
              "clientId": "ce633c1d-d8b4-4381-b68a-1f7d0851250f",
              "secret": "WnIaXQ~IT~P.O3CyjZNmwnj42vC2FoK_B7",
              "tenant": "24f9d756-bf0c-43e9-ad5e-2073ae2d6698",
              "type": "ActiveDirectoryOAuth"
            },
            "method": "GET",
            "uri": "https://api.pre.sqcp.qa/Config/api/File/0/@{body('Parse_JSON')?['value']?['fileName']}?api-version=1.0"
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "Http"
        },
        "Parse_JSON": {
          "inputs": {
            "content": "@triggerBody()?['data']",
            "schema": {
              "properties": {
                "id": {
                  "type": "string"
                },
                "value": {
                  "properties": {
                    "createdOn": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "regardingExtRefNumber": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "regardingId": {},
                    "subject": {}
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "runAfter": {},
          "type": "ParseJson"
        }
      }
    },
    "workflowParameters": {
      "value": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      }
    },
    "diagnosticLogsRetentionInDays": {
      "value": 365
    },
    "diagnosticStorageAccountId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.Storage/storageAccounts/stcppappsdiagprewe01"
    },
    "workspaceId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.OperationalInsights/workspaces/log-cpp-apps-mon-pre-we-01"
    },
    "eventHubAuthorizationRuleId": {
      "value": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-mon-pre-we-01/providers/Microsoft.EventHub/namespaces/evhns-cpp-apps-mon-pre-we-01/authorizationrules/RootManageSharedAccessKey"
    },
    "eventHubName": {
      "value": "evh-cpp-apps-mon-pre-we-01"
    },
    "tags": {
      "value": {
        "Environment": "Pre-Production"
      }
    },
    "connectionParameters": {
      "value": {
        "$connections": {
          "value": {
            "azureeventgrid": {
              "connectionId": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/resourceGroups/rg-cpp-apps-int-pre-we-01/providers/Microsoft.Web/connections/apicon-cpp-apps-integd-pre-we-01",
              "connectionName": "apicon-cpp-apps-integd-pre-we-01",
              "id": "/subscriptions/8964f3c1-44f5-4094-80eb-4334845bdfb1/providers/Microsoft.Web/locations/westeurope/managedApis/azureeventgrid"
            }
          }
        }
      }
    }
  }
}